Repository leic-pt/resumos-leic, changes with the labels that .github/labeler.yml gives for each.
All labels: meta, al, ams, apre, asa, bd, cdi-i, cdi-ii, cdi-iii, cg, comp, emd, es, fis-i, fis-ii, fp, ges, ia, iac, iaed, iei, ipm, lp, oc, pe, po, rc, sd, so, tc

Add ER Model entities ans associations
  content/bd/0003-er-model.md
Labels: bd

Added diagram for different JOIN types
  content/bd/assets/0002-join-diagrams.svg
Labels: bd

[BD] Add set operations and `JOIN` operator (#736)
  content/bd/0002-sql.md
  content/bd/assets/0002-join-diagrams.svg
Labels: bd

[BD] Add solutions for Lab 2
  content/bd/labs/assets/2021-2022/lab02-layout.svg
  content/bd/labs/exercicios/0001-exercicios-2021-2022.md
Labels: bd

[BD] Apply suggestions from code review
  content/bd/0002-sql.md
Labels: bd

Fix frontmatter of files in archive
  content/emd/README.md
  content/emd/archive/0002-introducao-calculo-finito.md
  content/emd/archive/0003-formulas-fechadas-somatorios.md
  content/emd/archive/0004-serie-harmonica.md
  content/emd/archive/0005-formula-de-abel.md
  content/emd/archive/0006-teonewton.md
  content/emd/archive/0009-combinatorio.md
  content/emd/archive/0009-pascoa.md
  content/emd/archive/0013-calendario.md
  content/emd/archive/0015-automatos.md
  content/emd/archive/0020-labirintos.md
  content/emd/archive/0021-galeshapley.md
  content/emd/archive/0023-teoriadofluxo.md
  content/emd/archive/0024-grafoplanares.md
  content/emd/archive/0025-teoremakuratowski.md
  content/emd/archive/1001-calc-finito.md
  content/emd/archive/1002-geradoras-sheet.md
  content/emd/archive/1003-calendarios.md
  content/emd/archive/1004-mdc-cheat.md
  content/emd/archive/1005-rsa-sheet.md
  content/emd/archive/1006-grafos.md
Labels: emd

(emd)Remove teacher's name
  content/emd/0007-rsa.md
Labels: emd

Add in construction warning to 'coloracao grafos', bring back FFT page
  content/emd/0011-coloracao-grafos.md
  content/emd/0013-FFT.md
Labels: emd

Revive more content from archive
  content/emd/1004-mdc-cheat.md
  content/emd/1005-rsa-sheet.md
  content/emd/1006-grafos.md
  content/emd/archive/0007-combinatorio.md
  content/emd/archive/0008-calendario.md
  content/emd/archive/0010-labirintos.md
  content/emd/archive/0011-galeshapley.md
  content/emd/archive/0012-teoriadofluxo.md
  content/emd/archive/0013-grafoplanares.md
  content/emd/archive/0014-teoremakuratowski.md
Labels: emd

Fix typo (na geração -> não na geração)
  content/ia/0002-resolucao-procura.md
Labels: ia

Fix typo (wrong node referenced on DFS)
  content/ia/0002-resolucao-procura.md
Labels: ia

Revert example output table
  content/bd/0002-sql.md
Labels: bd

Run prettier
  content/bd/0002-sql.md
Labels: bd

[IA] Fix typos (#740)
  content/ia/0002-resolucao-procura.md
Labels: ia

[BD] Fix typos on SQL page (#735)
  content/bd/0002-sql.md
Labels: bd

Add restrictions
  content/bd/0003-er-model.md
Labels: bd

Add some example images
  content/bd/0003-er-model.md
  content/bd/assets/0003-er-cardinality-constraints.svg
  content/bd/assets/0003-er-entity.svg
  content/bd/assets/0003-er-participation-constraints.svg
  content/bd/assets/0003-er-relations-example-delegate-degree.svg
  content/bd/assets/0003-er-relations-example-student-course.svg
  content/bd/assets/0003-er-relationship.svg
Labels: bd

Change img references in files
  content/emd/0002-pombal.md
  content/emd/0003-MDC.md
  content/emd/0007-rsa.md
  content/emd/0008-funcoes-geradoras.md
  content/emd/0009-diffinitas.md
  content/emd/0010-grafos-intro.md
  content/emd/0012-otimizacao-grafos.md
  content/emd/0013-FFT.md
  content/emd/1004-mdc-cheat.md
  content/emd/1005-rsa-sheet.md
  content/emd/1006-grafos.md
  content/emd/archive/0004-serie-harmonica.md
  content/emd/archive/0006-teonewton.md
  content/emd/archive/0007-combinatorio.md
  content/emd/archive/0008-calendario.md
  content/emd/archive/0009-pascoa.md
  content/emd/archive/0010-labirintos.md
  content/emd/archive/0011-galeshapley.md
  content/emd/archive/0012-teoriadofluxo.md
  content/emd/archive/0013-grafoplanares.md
  content/emd/archive/0014-teoremakuratowski.md
  content/emd/archive/0015-automatos.md
  content/emd/archive/1003-calendarios.md
Labels: emd

Run prettier (...)
  content/emd/0013-FFT.md
  content/emd/README.md
Labels: emd

Add beginning of heuristics explanation
  content/ia/0002-procura-cega.md
  content/ia/0003-procura-informada.md
  content/ia/imgs/0003-heuristica-arvore.svg
Labels: ia

Fix searchbox on Firefox occupying entire navbar
  src/components/Footer/Footer.css
  src/components/SearchBar/SearchBar.css
  src/components/icons/GitHub.js
  src/components/icons/Search.js
Labels: none

Fix searchbox on Firefox occupying entire navbar (#742)
  src/components/Footer/Footer.css
  src/components/SearchBar/SearchBar.css
  src/components/icons/GitHub.js
  src/components/icons/Search.js
Labels: none

Add Best First Search
  content/ia/0003-procura-informada.md
Labels: ia

Add Greedy Search and half of A-Star Search
  content/ia/0003-procura-informada.md
  content/ia/imgs/0003-a-estrela-arad-bucareste.svg
  content/ia/imgs/0003-greedy-arad-bucareste.svg
Labels: ia

Added consistent and admissible heuristics definitions
  content/ia/0003-procura-informada.md
  content/ia/imgs/0003-a-estrela-nao-otima.svg
  content/ia/imgs/0003-desigualdade-triangular.svg
  content/ia/imgs/0003-procura-grafo-nao-otima.svg
Labels: ia

Added IDA-Star*
  content/ia/0003-procura-informada.md
  content/ia/imgs/0003-ida-estrela.svg
Labels: ia

Added RBFS Search
  content/ia/0003-procura-informada.md
  content/ia/imgs/0003-rbfs-fase-1.svg
  content/ia/imgs/0003-rbfs-fase-2.svg
  content/ia/imgs/0003-rbfs-fase-3.svg
Labels: ia

Add completeness, optimality and complexity notes
  content/ia/0003-procura-informada.md
Labels: ia

[BD] Add solutions for Lab 3 (Scenarios 1, 2)
  content/bd/labs/assets/2021-2022/lab03-01-jota.svg
  content/bd/labs/assets/2021-2022/lab03-02-jota.svg
  content/bd/labs/exercicios/0001-exercicios-2021-2022.md
Labels: bd

Fix typos on the Agents page
  content/ia/0001-agentes.md
Labels: ia

Fix typos on the Troubleshooting with Search page
  content/ia/0002-resolucao-procura.md
Labels: ia

Small changes to the SVGs
  content/bd/labs/assets/2021-2022/lab02-layout.svg
  content/bd/labs/assets/2021-2022/lab03-01-jota.svg
  content/bd/labs/assets/2021-2022/lab03-02-jota.svg
Labels: bd

Run prettier
  content/bd/labs/exercicios/0001-exercicios-2021-2022.md
Labels: bd

[IA] Fix typos and improve wording (#743)
  content/ia/0001-agentes.md
  content/ia/0002-resolucao-procura.md
Labels: ia

Add beginning of heuristics comparisons
  content/ia/0003-procura-informada.md
  content/ia/imgs/0003-8-puzzle-exemplo.svg
  content/ia/imgs/0003-tabela-comparacao.png
  content/ia/imgs/0003-tabela-comparacao.svg
Labels: ia

Add remaining of heuristics comparisons
  content/ia/0003-procura-informada.md
  content/ia/imgs/0003-grafico-nao-admissiveis.svg
  content/ia/imgs/0003-tabela-comparacao.png
Labels: ia

Add ternary association
  content/bd/0003-er-model.md
  content/bd/assets/0003-er-relationship-attributes.svg
  content/bd/assets/0003-er-relationship-ternary.svg
Labels: bd

Start adding generalization/specialization
  content/bd/0003-er-model.md
Labels: bd

Add diagrams to generalization/specialization
  content/bd/0003-er-model.md
  content/bd/assets/0003-club-example-1.svg
  content/bd/assets/0003-club-example-2.svg
  content/bd/assets/0003-club-example-3.svg
  content/bd/assets/0003-club-example-wrong-specialization.svg
  content/bd/assets/0003-teacher-student-example.svg
  content/bd/assets/0003-types-of-specializations.svg
Labels: bd

Update page description
  content/bd/0003-er-model.md
Labels: bd

.github/labeler.yml:

meta:
  - content/meta/**/*
  - content/index.md
  - content/assets/**/*

# Courses
al:
  - content/al/**/*
ams:
  - content/ams/**/*
apre:
  - content/apre/**/*
asa:
  - content/asa/**/*
bd:
  - content/bd/**/*
cdi-i:
  - content/cdi-i/**/*
cdi-ii:
  - content/cdi-ii/**/*
cdi-iii:
  - content/cdi-iii/**/*
cg:
  - content/cg/**/*
comp:
  - content/comp/**/*
emd:
  - content/emd/**/*
  - content/md/**/*
es:
  - content/es/**/*
fis-i:
  - content/fis-i/**/*
fis-ii:
  - content/fis-ii/**/*
fp:
  - content/fp/**/*
ges:
  - content/ges/**/*
ia:
  - content/ia/**/*
iac:
  - content/iac/**/*
iaed:
  - content/iaed/**/*
iei:
  - content/iei/**/*
ipm:
  - content/ipm/**/*
lp:
  - content/lp/**/*
oc:
  - content/oc/**/*
pe:
  - content/pe/**/*
po:
  - content/po/**/*
rc:
  - content/rc/**/*
sd:
  - content/sd/**/*
so:
  - content/so/**/*
tc:
  - content/tc/**/*
