Repository leic-pt/resumos-leic, changes with the labels that .github/labeler.yml gives for each.
All labels: meta, al, ams, apre, asa, bd, cdi-i, cdi-ii, cdi-iii, cg, comp, emd, es, fis-i, fis-ii, fp, ges, ia, iac, iaed, iei, ipm, lp, oc, pe, po, rc, sd, so, tc

.github/labeler.yml:

meta:
  - content/meta/**/*
  - content/index.md
  - content/assets/**/*

# Courses
al:
  - content/al/**/*
ams:
  - content/ams/**/*
apre:
  - content/apre/**/*
asa:
  - content/asa/**/*
bd:
  - content/bd/**/*
cdi-i:
  - content/cdi-i/**/*
cdi-ii:
  - content/cdi-ii/**/*
cdi-iii:
  - content/cdi-iii/**/*
cg:
  - content/cg/**/*
comp:
  - content/comp/**/*
emd:
  - content/emd/**/*
  - content/md/**/*
es:
  - content/es/**/*
fis-i:
  - content/fis-i/**/*
fis-ii:
  - content/fis-ii/**/*
fp:
  - content/fp/**/*
ges:
  - content/ges/**/*
ia:
  - content/ia/**/*
iac:
  - content/iac/**/*
iaed:
  - content/iaed/**/*
iei:
  - content/iei/**/*
ipm:
  - content/ipm/**/*
lp:
  - content/lp/**/*
oc:
  - content/oc/**/*
pe:
  - content/pe/**/*
po:
  - content/po/**/*
rc:
  - content/rc/**/*
sd:
  - content/sd/**/*
so:
  - content/so/**/*
tc:
  - content/tc/**/*

Fix link issue in heuristics definition
  content/ia/0003-procura-informada.md
Labels: ia

Remove Fermat's Teorem Page
  content/emd/0005-chines-restos.md
  content/emd/0005-peq-teorema-fermat.md
  content/emd/0006-rsa.md
  content/emd/0007-funcoes-geradoras.md
  content/emd/0008-diffinitas.md
  content/emd/0009-grafos-intro.md
  content/emd/0010-coloracao-grafos.md
  content/emd/0011-otimizacao-grafos.md
  content/emd/0012-FFT.md
Labels: emd

Revive tools section
  content/emd/tools/0001-fft-calculator.md
  content/emd/tools/0002-calendar-calculator.md
  content/emd/tools/0003-bezout-calculator.md
  content/emd/tools/0004-tcr-table-calculator.md
  content/emd/tools/0005-rsa-calculator.md
Labels: emd

Clarify Venn diagrams
  content/bd/0003-er-model.md
Labels: bd

Restore EMD files in archive
  content/emd/0005-chines-restos.md
  content/emd/0006-rsa.md
  content/emd/0008-diffinitas.md
  content/emd/0009-grafos-intro.md
  content/emd/0011-otimizacao-grafos.md
  content/emd/archive/0001-perturbacoes.md
  content/emd/archive/0004-serie-harmonica.md
  content/emd/archive/0006-funcoesgeradoras.md
  content/emd/archive/0007-teonewton.md
  content/emd/archive/0008-combinatorio.md
  content/emd/archive/0009-calendario.md
  content/emd/archive/0010-pascoa.md
  content/emd/archive/0011-labirintos.md
  content/emd/archive/0012-galeshapley.md
  content/emd/archive/0013-teoriadofluxo.md
  content/emd/archive/0014-grafoplanares.md
  content/emd/archive/0015-teoremakuratowski.md
  content/emd/archive/0016-automatos.md
  content/emd/archive/1003-calendarios.md
Labels: emd

Fix imgs links in archive
  content/emd/archive/0004-serie-harmonica.md
  content/emd/archive/0006-funcoesgeradoras.md
  content/emd/archive/0007-teonewton.md
  content/emd/archive/0008-combinatorio.md
  content/emd/archive/0009-calendario.md
  content/emd/archive/0010-pascoa.md
  content/emd/archive/0011-labirintos.md
  content/emd/archive/0012-galeshapley.md
  content/emd/archive/0013-teoriadofluxo.md
  content/emd/archive/0014-grafoplanares.md
  content/emd/archive/0015-teoremakuratowski.md
  content/emd/archive/0016-automatos.md
  content/emd/archive/1003-calendarios.md
Labels: emd

Fix trailing whitespaces on main content
  content/emd/0002-pombal.md
  content/emd/0003-MDC.md
  content/emd/0004-congruencias.md
  content/emd/0006-rsa.md
  content/emd/0007-funcoes-geradoras.md
  content/emd/0008-diffinitas.md
  content/emd/0009-grafos-intro.md
  content/emd/0011-otimizacao-grafos.md
  content/emd/0012-FFT.md
  content/emd/1004-mdc-cheat.md
  content/emd/1005-rsa-sheet.md
  content/emd/1006-grafos.md
Labels: emd

Fix imgs links on main content
  content/emd/0002-pombal.md
  content/emd/0003-MDC.md
  content/emd/0006-rsa.md
  content/emd/0007-funcoes-geradoras.md
  content/emd/0008-diffinitas.md
  content/emd/0009-grafos-intro.md
  content/emd/0011-otimizacao-grafos.md
  content/emd/0012-FFT.md
  content/emd/1004-mdc-cheat.md
  content/emd/1005-rsa-sheet.md
  content/emd/1006-grafos.md
Labels: emd

Fix assets of archived content
  content/emd/archive/0004-serie-harmonica.md
  content/emd/archive/0006-funcoesgeradoras.md
  content/emd/archive/0007-teonewton.md
  content/emd/archive/0008-combinatorio.md
  content/emd/archive/0009-calendario.md
  content/emd/archive/0010-pascoa.md
  content/emd/archive/0011-labirintos.md
  content/emd/archive/0012-galeshapley.md
  content/emd/archive/0013-teoriadofluxo.md
  content/emd/archive/0014-grafoplanares.md
  content/emd/archive/0015-teoremakuratowski.md
  content/emd/archive/0016-automatos.md
  content/emd/archive/1003-calendarios.md
Labels: emd

Fix typo (f function to h)
  content/ia/0003-procura-informada.md
Labels: ia

Remove duplicate content
  content/emd/archive/0006-funcoesgeradoras.md
Labels: emd

fix typos
  content/ia/0003-procura-informada.md
Labels: ia

Fix worst case scenario to average case mistake
  content/ia/0003-procura-informada.md
Labels: ia

[IA] Add second week content (#741)
  content/ia/0002-procura-cega.md
  content/ia/0003-procura-informada.md
  content/ia/imgs/0003-8-puzzle-exemplo.svg
  content/ia/imgs/0003-a-estrela-arad-bucareste.svg
  content/ia/imgs/0003-a-estrela-nao-otima.svg
  content/ia/imgs/0003-desigualdade-triangular.svg
  content/ia/imgs/0003-grafico-nao-admissiveis.svg
  content/ia/imgs/0003-greedy-arad-bucareste.svg
  content/ia/imgs/0003-heuristica-arvore.svg
  content/ia/imgs/0003-ida-estrela.svg
  content/ia/imgs/0003-procura-grafo-nao-otima.svg
  content/ia/imgs/0003-rbfs-fase-1.svg
  content/ia/imgs/0003-rbfs-fase-2.svg
  content/ia/imgs/0003-rbfs-fase-3.svg
  content/ia/imgs/0003-tabela-comparacao.svg
Labels: ia

Add integrity contraints
  content/bd/0003-er-model.md
Labels: bd

Add diagrams to integrity constraints
  content/bd/0003-er-model.md
  content/bd/assets/0003-integrity-constraints-circularity.svg
  content/bd/assets/0003-integrity-constraints-supermarket.svg
  content/bd/assets/0003-integrity-constraints-unique.svg
Labels: bd

[IA]Fix typo in best first search section
  content/ia/0003-procura-informada.md
Labels: ia

Add weak entities
  content/bd/0003-er-model.md
  content/bd/assets/0003-weak-entities-streets.svg
Labels: bd

Fix typos and improve wording on the Informed Search page
  content/ia/0003-procura-informada.md
Labels: ia

Add aggregation
  content/bd/0003-er-model.md
  content/bd/assets/0003-aggregations-course-semester.svg
Labels: bd

[BD] Add ER Model (#737)
  content/bd/0003-er-model.md
  content/bd/assets/0003-aggregations-course-semester.svg
  content/bd/assets/0003-club-example-1.svg
  content/bd/assets/0003-club-example-2.svg
  content/bd/assets/0003-club-example-3.svg
  content/bd/assets/0003-club-example-wrong-specialization.svg
  content/bd/assets/0003-er-cardinality-constraints.svg
  content/bd/assets/0003-er-entity.svg
  content/bd/assets/0003-er-participation-constraints.svg
  content/bd/assets/0003-er-relations-example-delegate-degree.svg
  content/bd/assets/0003-er-relations-example-student-course.svg
  content/bd/assets/0003-er-relationship-attributes.svg
  content/bd/assets/0003-er-relationship-ternary.svg
  content/bd/assets/0003-er-relationship.svg
  content/bd/assets/0003-integrity-constraints-circularity.svg
  content/bd/assets/0003-integrity-constraints-supermarket.svg
  content/bd/assets/0003-integrity-constraints-unique.svg
  content/bd/assets/0003-teacher-student-example.svg
  content/bd/assets/0003-types-of-specializations.svg
  content/bd/assets/0003-weak-entities-streets.svg
Labels: bd

Replace "otimista" with "admissível"
  content/ia/0003-procura-informada.md
Labels: ia

[IA] Fix typos and improve wording on the Informed Search page (#745)
  content/ia/0003-procura-informada.md
Labels: ia

Fix typos and improve wording on the ER Model page
  content/bd/0003-er-model.md
Labels: bd

Erase draft lines
  content/bd/0003-er-model.md
Labels: bd

Replace SVGs so that they adjust to light and dark modes
  content/bd/labs/assets/2021-2022/lab02-layout.svg
  content/bd/labs/assets/2021-2022/lab03-01-jota.svg
  content/bd/labs/assets/2021-2022/lab03-02-jota.svg
  content/bd/labs/exercicios/0001-exercicios-2021-2022.md
Labels: bd

Apply suggestions from code review
  content/bd/0003-er-model.md
Labels: bd

Fix typo
  content/bd/0003-er-model.md
Labels: bd

Avoid repetition of a verb by rephrasing a sentence
  content/bd/0003-er-model.md
Labels: bd

Replace reference to MD w/ EMD
  content/emd/0002-pombal.md
Labels: emd

[BD] Fix Typo
  content/bd/0003-er-model.md
Labels: bd

Add introduction and CSP definition
  content/ia/0004-satisfacao-restricoes.md
Labels: ia

Add 'Why CSPs' section + Australia example
  content/ia/0004-satisfacao-restricoes.md
  content/ia/imgs/0004-australia-constraint-graph.svg
  content/ia/imgs/0004-australia-map-colored.svg
  content/ia/imgs/0004-australia-map.svg
Labels: ia

Replace "especialidades" with "especializações"
  content/bd/0003-er-model.md
Labels: bd

[BD] Fix typos and improve wording on the ER Model page (#746)
  content/bd/0003-er-model.md
Labels: bd
