Repository leic-pt/resumos-leic, pull requests merged in 2021-06, with the labels that each got.

#266 [MD] Add links to cheat sheet && [CDI2/LP] Fix Typo
  src/cdi-ii/0017-green-fluxo-divergencia.md
  src/lp/0013-algs-sat.md
  src/md/1005-rsa-sheet.md
  src/md/1006-grafos.md
Labels: cdi-ii, lp, md

#267 [MD] fix typo
  src/md/0026-automatos.md
  src/md/1006-grafos.md
Labels: md

#269 [MD] Automatos finitos edit
  src/md/0026-automatos.md
Labels: md

#270 Md teste3 typos01
  src/md/0020-labirintos.md
  src/md/0023-teoriadofluxo.md
Labels: md

#272 [MD] add teorema de lucas
  src/md/0020-labirintos.md
Labels: md

#273 [MD] Add lucas to cheat sheet
  src/md/1006-grafos.md
Labels: md

#274 [MD] fix typo
  src/md/0026-automatos.md
Labels: md

#276 [CDI2] Fix typo campos vetoriais
  src/cdi-ii/0016-campos-vetoriais.md
Labels: cdi-ii

#277 [CDI2] Add content from week 12 (half 1)
  src/.vuepress/config.js
  src/cdi-ii/0017-green-fluxo-divergencia.md
  src/cdi-ii/0018-fluxo-divergencia.md
  src/cdi-ii/assets/0018-exemplo-divergencia.svg
  src/cdi-ii/assets/0018-exemplo-fluxo-1.svg
  src/cdi-ii/assets/0018-exemplo-fluxo-2.svg
  src/cdi-ii/assets/0018-fita-de-mobius.png
  src/cdi-ii/assets/0018-superficie-orientavel.svg
Labels: cdi-ii

#278 [CDI2] Fix KaTeX errors on fluxo page
  src/.vuepress/config.js
  src/cdi-ii/0018-fluxo-divergencia.md
Labels: cdi-ii

#279 [CDI2] Fix typo
  src/cdi-ii/0018-fluxo-divergencia.md
Labels: cdi-ii

#281 [CDI2] Fix typo
  src/cdi-ii/0003-funcoes-continuidade.md
Labels: cdi-ii

#280 [CDI2] Mudança do link dos resumos do Calhau
  src/cdi-ii/README.md
Labels: cdi-ii

#251 [CDI2] Add content from week 12 (half 2)
  src/.vuepress/config.js
  src/cdi-ii/0019-rotacional-stokes.md
  src/cdi-ii/assets/0019-exemplo-taca.svg
  src/cdi-ii/assets/0019-mao-direita-1.svg
  src/cdi-ii/assets/0019-mao-direita-2.svg
Labels: cdi-ii

#268 [CDI2] Add content from week 13
  src/cdi-ii/0018-fluxo-divergencia.md
  src/cdi-ii/0019-rotacional-stokes.md
  src/cdi-ii/assets/0019-cone-y.svg
  src/cdi-ii/assets/0019-estrelado.svg
Labels: cdi-ii

#282 [CDI-II] fix typo
  src/cdi-ii/0002-norma-topologia.md
  src/cdi-ii/0003-funcoes-continuidade.md
Labels: cdi-ii

#283 [CDI2] Fix matrix
  src/cdi-ii/0015-extremos-condicionados.md
Labels: cdi-ii

#284 [CDI2] Fix typo
  src/cdi-ii/0019-rotacional-stokes.md
Labels: cdi-ii

#286 [LP] Add Title to the weekly exercises
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#287 Fix typo
  src/lp/0005-logica-primeiraordem-sc.md
Labels: lp

#289 [LP] Fix typo
  src/lp/0013-algs-sat.md
Labels: lp

#290 Fix typo
  src/lp/0012-lp-ii-bdds.md
Labels: lp

#292 [LP] Transcribe email
  src/lp/0014-lpo-semantico.md
Labels: lp

#293 [LP] Fix typo
  src/lp/0003-logica-proposicional-sc.md
Labels: lp

#294 [LP] Fix typo
  src/lp/0014-lpo-semantico.md
Labels: lp

#296 [LP] Fix wrong order in the last example
  src/lp/0013-algs-sat.md
Labels: lp

#295 [MD] Fix typo
  src/md/0020-labirintos.md
Labels: md

#298 [MD] Fix typo
  src/md/0022-kruskraldijkrsta.md
Labels: md

#299 Update fichas-aulas-praticas.md
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#300 [LP] Fix typo
  src/lp/0007-prolog-intro.md
Labels: lp

#35 [LP] Change proof images to Katex
  src/lp/0002-logica-proposicional-int.md
  src/lp/assets/0002-el-conjuncao1.png
  src/lp/assets/0002-el-conjuncao2.png
  src/lp/assets/0002-el-disjuncao1.png
  src/lp/assets/0002-el-disjuncao2.png
  src/lp/assets/0002-el-equivalencia.png
  src/lp/assets/0002-el-implicacao1.png
  src/lp/assets/0002-el-implicacao2.png
  src/lp/assets/0002-el-negacao1.png
  src/lp/assets/0002-el-negacao2.png
  src/lp/assets/0002-int-conjuncao1.png
  src/lp/assets/0002-int-conjuncao2.png
  src/lp/assets/0002-int-disjuncao1.png
  src/lp/assets/0002-int-disjuncao2.png
  src/lp/assets/0002-int-equivalencia.png
  src/lp/assets/0002-int-implicacao1.png
  src/lp/assets/0002-int-implicacao2.png
  src/lp/assets/0002-int-negacao1.png
  src/lp/assets/0002-int-negacao2.png
  src/lp/assets/0002-r-hipotese1.png
  src/lp/assets/0002-r-hipotese2.png
  src/lp/assets/0002-r-reiteracao1.png
  src/lp/assets/0002-r-reiteracao2.png
  src/lp/assets/0002-regra-da-premissa1.png
  src/lp/assets/0002-regra-da-premissa2.png
  src/lp/assets/0002-regra-da-repeticao1.png
  src/lp/assets/0002-regra-da-repeticao2.png
  src/lp/assets/0002-teorema.png
Labels: lp

#303 [LP] Add remaining conversions from images to KaTeX
  src/lp/0003-logica-proposicional-sc.md
  src/lp/0004-logica-primeiraordem-int.md
  src/lp/0005-logica-primeiraordem-sc.md
  src/lp/0006-prog-logica.md
  src/lp/assets/0003-el-clausulas1.png
  src/lp/assets/0003-p-resolucao1.png
  src/lp/assets/0003-p-resolucao2.png
  src/lp/assets/0004-el-exi1.png
  src/lp/assets/0004-el-univ1.png
  src/lp/assets/0004-ex-exi.png
  src/lp/assets/0004-ex-univ.png
  src/lp/assets/0004-int-exi1.png
  src/lp/assets/0004-int-univ1.png
  src/lp/assets/0005-prova-repc.png
  src/lp/assets/0005-resolucao-pais.png
  src/lp/assets/0005-resolucao-quais.png
  src/lp/assets/0005-resolucaosrb.png
  src/lp/assets/0006-res-chorn.png
Labels: lp

#302 [MD] Add última teórica
  src/md/0026-automatos.md
  src/md/imgs/0026-concat1.png
  src/md/imgs/0026-star1.png
  src/md/imgs/0026-star2.png
  src/md/imgs/0026-uniao1.png
  src/md/imgs/0026-uniao2.png
Labels: md

#305 [MD] Fix typo
  src/md/0014-pascoa.md
Labels: md

#306 [MD] Fix error on Newton Theorem examples.
  src/md/0008-teonewton.md
Labels: md

#307 [MD] fix typo
  src/md/0023-teoriadofluxo.md
Labels: md

#308 [MD] Fix typo
  src/md/1001-calc-finito.md
Labels: md
