Repository leic-pt/resumos-leic, pull requests merged in 2021-05, with the labels that each got.

#176 [MD] Add RSA
  src/.vuepress/config.js
  src/md/0017-rsa.md
  src/md/imgs/0017-asciiNum.png
Labels: md

#177 [MD] Add meanings to letters - cheat sheet calendars
  src/md/1003-calendarios.md
Labels: md

#178 [CDI2] Fix typo in fichas-aulas-praticas page
  src/cdi-ii/exercicios/fichas-aulas-praticas.md
Labels: cdi-ii

#179 [MD] fix typo
  src/md/0014-pascoa.md
Labels: md

#182 [MD] Fix KaTeX typo
  src/md/0013-calendario.md
Labels: md

#184 [MD] fix typo
  src/md/0016-chines-restos.md
Labels: md

#185 [LP] Remove Warning
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#181 [MD] fix typo & add clarity
  src/md/0011-FFT.md
  src/md/0012-MDC.md
  src/md/0013-calendario.md
  src/md/0014-pascoa.md
  src/md/0015-congruencias.md
  src/md/0016-chines-restos.md
  src/md/0017-rsa.md
Labels: md

#187 [MD] Add eq. diofantinas do bezout calculator
  src/.vuepress/components/bezout-calculator.vue
  src/md/tools/bezout-calculator.md
Labels: md

#180 [MD] Fixed image 0012-tabela
  src/md/imgs/0012-tabela.png
Labels: md

#188 [MD] fix typo
  src/md/1004-mdc-cheat.md
Labels: md

#190 [MD] Improve Páscoa
  src/md/0014-pascoa.md
Labels: md

#189 [MD] Add new images and New warnings to cheat sheets
  src/md/0013-calendario.md
  src/md/1003-calendarios.md
  src/md/1004-mdc-cheat.md
  src/md/imgs/1003-calendario.jpeg
  src/md/imgs/1003-gregoriano.jpeg
  src/md/imgs/1003-juliano.jpeg
  src/md/imgs/1003-pascoag.jpeg
  src/md/imgs/1003-pascoaj.jpeg
Labels: md

#191 [CDI2] Add content from week 8 (half 1)
  src/cdi-ii/0013-funcao-inversa.md
Labels: cdi-ii

#193 [MD] fix calendario and add Calhau suggestions :D
  src/md/1003-calendarios.md
Labels: md

#192 [MD] Add TCR calculator
  src/.vuepress/components/tcr-table-calculator.vue
  src/.vuepress/config.js
  src/md/tools/tcr-table-calculator.md
Labels: md

#194 [MD] fix typo
  src/md/0011-FFT.md
  src/md/0012-MDC.md
  src/md/0014-pascoa.md
  src/md/0017-rsa.md
Labels: md

#195 [MD] Fix cal pascoa
  src/md/1003-calendarios.md
Labels: md

#196 [MD] Fix cheat sheets
  src/md/1003-calendarios.md
  src/md/1004-mdc-cheat.md
Labels: md

#197 [MD] Fix calendar again
  src/md/1003-calendarios.md
Labels: md

#199 [LP] Add OBDDs + Points on FAQ
  src/.vuepress/config.js
  src/lp/0012-lp-ii-bdds.md
  src/lp/1000-faq.md
  src/lp/assets/0012-arvore-decisao.png
  src/lp/assets/0012-bdd.png
  src/lp/assets/0012-compativeis.png
Labels: lp

#201 [MD] fix typo
  src/md/0016-chines-restos.md
Labels: md

#200 [MD] Add calendar calculator
  src/.vuepress/components/calendar-calculator.vue
  src/.vuepress/config.js
  src/md/tools/calendar-calculator.md
Labels: md

#202 [LP] Add alternative solution to exercise 5
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#203 [MD] Add RSA cheat sheet
  src/.vuepress/config.js
  src/md/1005-rsa-sheet.md
  src/md/imgs/1005-hack.jpg
Labels: md

#204 [IAED] fix typo
  src/iaed/assets/0014-lista.c
Labels: iaed

#159 [CDI2] Add content from week 8
  src/.vuepress/config.js
  src/cdi-ii/0014-variedades.md
  src/cdi-ii/assets/0014-circulo.svg
  src/cdi-ii/assets/0014-conj-1.png
  src/cdi-ii/assets/0014-conj-2.png
  src/cdi-ii/assets/0014-conj-3.png
Labels: cdi-ii

#205 [CDI2] Fix typo
  src/cdi-ii/0014-variedades.md
Labels: cdi-ii

#206 [CDI2] Fix typo
  src/cdi-ii/0014-variedades.md
Labels: cdi-ii

#207 [MD] Add Grafos Inicio
  src/.vuepress/config.js
  src/md/0016-chines-restos.md
  src/md/0018-grafos-def.md
  src/md/imgs/0018-grafo1.png
  src/md/imgs/0018-grafo2.png
  src/md/imgs/0018-grafo3.png
  src/md/imgs/0018-grafo4.png
  src/md/imgs/0018-grafo5.png
  src/md/imgs/0018-grafo6.png
  src/md/imgs/0018-grafo7.png
Labels: md

#208 [LP] Add OBDD algorithms
  src/lp/0012-lp-ii-bdds.md
  src/lp/assets/0012-compacta-lista.png
  src/lp/assets/0012-lp-aplica-1.png
  src/lp/assets/0012-lp-aplica-2.png
  src/lp/assets/0012-lp-aplica-3.png
  src/lp/assets/0012-reduz-pt1.png
  src/lp/assets/0012-reduz-pt2.png
Labels: lp

#210 [IAED] Add content semana 10
  src/.vuepress/config.js
  src/iaed/0015-tad.md
  src/iaed/0016-disp.md
  src/iaed/assets/0016-col.png
  src/iaed/assets/0016-dir.png
  src/iaed/assets/0016-fun.png
  src/iaed/assets/0016-lin.png
  src/iaed/labs/lab10/README.md
Labels: iaed

#211 [LP] Add rest of SAT algs part 1
  src/lp/0013-algs-sat.md
  src/lp/assets/0013-prop1.png
  src/lp/assets/0013-prop2.png
  src/lp/assets/0013-prop3.png
  src/lp/assets/0013-teste-nos1.png
  src/lp/assets/0013-teste-nos2.png
Labels: lp

#213 [IAED] Add Lab 10 solutions & fix typo
  src/iaed/0016-disp.md
  src/iaed/labs/lab10/README.md
Labels: iaed

#214 [IAED] Fix typos
  src/iaed/0016-disp.md
  src/iaed/labs/lab10/README.md
Labels: iaed

#215 [IAED] fix typo
  src/iaed/0015-tad.md
Labels: iaed

#216 [LP] Add DP Algs
  src/lp/0013-algs-sat.md
Labels: lp

#217 [CDI2] Fix small typo
  src/cdi-ii/0012-teorema-leibniz.md
Labels: cdi-ii

#218 [MD] Add Pombal
  src/.vuepress/config.js
  src/md/0018-grafos-def.md
  src/md/0019-pombal.md
  src/md/imgs/0019-3Pombal.png
Labels: md

#219 [IAED] Fix typo
  src/iaed/labs/lab10/README.md
Labels: iaed

#221 [CDI-II] fix typo
  src/cdi-ii/0014-variedades.md
Labels: cdi-ii

#222 [CDI2] Add content from week 9 (half 1)
  src/cdi-ii/0014-variedades.md
Labels: cdi-ii

#225 [LP] Resolução Aula10
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#186 [CDI2] Add content from week 9 (half 2)
  src/.vuepress/config.js
  src/cdi-ii/0015-extremos-condicionados.md
Labels: cdi-ii

#226 [LP] Fix typo (DP Alg)
  src/lp/0013-algs-sat.md
Labels: lp

#227 [LP] Add missing explanation (DP Alg)
  src/lp/0013-algs-sat.md
Labels: lp

#224 [IAED] Add semana 11 content
  src/.vuepress/config.js
  src/iaed/0017-arv.md
  src/iaed/assets/0017-arv2.png
  src/iaed/assets/0017-dir.png
  src/iaed/assets/0017-esq.png
  src/iaed/assets/0017-lr.png
  src/iaed/assets/0017-rl.png
Labels: iaed

#229 [MD] Add Grafos for Dummies
  src/.vuepress/config.js
  src/md/1006-grafos.md
  src/md/imgs/1006-euc.png
Labels: md

#232 [MD] Add Labirintos
  src/.vuepress/config.js
  src/md/0018-grafos-def.md
  src/md/0020-labirintos.md
  src/md/imgs/0018-esqueletico.png
  src/md/imgs/0018-ponte.png
  src/md/imgs/0018-teorema3.png
  src/md/imgs/0020-LabGraf1.png
  src/md/imgs/0020-LabGraf2.png
  src/md/imgs/0020-excecao.png
Labels: md

#234 [MD] Add Gale-Shapley
  src/.vuepress/config.js
  src/md/0021-galeshapley.md
  src/md/imgs/0021-TriPartido.png
  src/md/imgs/0021-pseudoEst.png
  src/md/imgs/0021-pseudoGS.png
Labels: md

#233 [IAED] Add lab11
  src/.vuepress/config.js
  src/iaed/labs/lab11/1111-ex5.jpg
  src/iaed/labs/lab11/1111-ex6.jpg
  src/iaed/labs/lab11/1111-ex7.jpg
  src/iaed/labs/lab11/README.md
Labels: iaed

#235 [LP] Add Resoluções Semana 11 + Fix typo
  src/lp/0011-logica-proposicional-semantico.md
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#236 [IAED] Add some resolutions to Lab 11
  src/iaed/labs/lab11/1111-ex1r.png
  src/iaed/labs/lab11/1111-ex3r.png
  src/iaed/labs/lab11/1111-ex4r.png
  src/iaed/labs/lab11/README.md
Labels: iaed

#240 [IAED] Fix images
  src/iaed/labs/lab11/1111-ex3r.png
  src/iaed/labs/lab11/1111-ex4r.png
  src/iaed/labs/lab11/README.md
Labels: iaed

#223 [CDI2] Add content from week 10
  src/.vuepress/config.js
  src/cdi-ii/0015-extremos-condicionados.md
  src/cdi-ii/0016-campos-vetoriais.md
Labels: cdi-ii

#241 [LP] fix typo
  src/lp/0011-logica-proposicional-semantico.md
Labels: lp

#242 [MD] Add Kruskal e Dijkstra
  src/.vuepress/config.js
  src/md/0022-kruskraldijkrsta.md
  src/md/imgs/0022-arcCobEx.png
  src/md/imgs/0022-arvEx.png
  src/md/imgs/0022-dijkstraPseudo.png
  src/md/imgs/0022-kruskalPseudo.png
  src/md/imgs/0022.custoEx.png
Labels: md

#245 [IAED] fix typo
  src/iaed/0017-arv.md
Labels: iaed

#244 [CDI-II] Fix typo (fix #243)
  src/cdi-ii/0002-norma-topologia.md
Labels: cdi-ii

#246 [CDI2] Fix cross product operator
  src/cdi-ii/0015-extremos-condicionados.md
Labels: cdi-ii

#247 [IAED] Add content semana 12
  src/.vuepress/config.js
  src/iaed/0018-grafos.md
  src/iaed/assets/0018-bfs.gif
  src/iaed/assets/0018-dep.png
  src/iaed/assets/0018-dfs.gif
  src/iaed/assets/0018-grafo.png
  src/iaed/assets/0018-grafoao.png
  src/iaed/assets/0018-grafoc.png
  src/iaed/assets/0018-grafocg.png
  src/iaed/assets/0018-grafoo.png
  src/iaed/assets/0018-grafop.png
  src/iaed/assets/0018-grafov.png
  src/iaed/assets/0018-list.png
  src/iaed/assets/0018-mat.png
  src/iaed/assets/0018-or.png
  src/iaed/assets/0018-rep.png
  src/iaed/assets/0018-zucc.jpg
  src/iaed/labs/lab12/README.md
  src/iaed/labs/lab12/ex1.jpg
  src/iaed/labs/lab12/ex2.jpg
  src/iaed/labs/lab12/ex3.jpg
  src/iaed/labs/lab12/ex4.jpg
  src/iaed/labs/lab12/ex5.jpg
  src/iaed/labs/lab12/ex6.jpg
Labels: iaed

#248 [CDI2] Fixed closed field definition
  src/cdi-ii/0016-campos-vetoriais.md
Labels: cdi-ii

#249 [IAED] Add solutions to lab12 & fix typo
  src/iaed/0018-grafos.md
  src/iaed/labs/lab12/README.md
  src/iaed/labs/lab12/ex1s.jpg
  src/iaed/labs/lab12/ex2s.jpg
  src/iaed/labs/lab12/ex3s.jpg
  src/iaed/labs/lab12/ex4s.jpg
Labels: iaed

#250 [LP] Fix typo
  src/lp/0012-lp-ii-bdds.md
Labels: lp

#252 [IAED] Add better resolution to ex3
  src/iaed/labs/lab12/README.md
  src/iaed/labs/lab12/ex3aux.jpg
Labels: iaed

#239 [CDI2] Add content from week 11
  src/.vuepress/config.js
  src/cdi-ii/0016-campos-vetoriais.md
  src/cdi-ii/0017-green-fluxo-divergencia.md
  src/cdi-ii/assets/0016-vortice.svg
  src/cdi-ii/assets/0017-bordo.svg
  src/cdi-ii/assets/0017-homotopia.svg
  src/cdi-ii/assets/0017-quadrado-circ.svg
Labels: cdi-ii

#254 [MD] fix typo
  src/md/0018-grafos-def.md
  src/md/0019-pombal.md
Labels: md

#255 [MD] Add Teoria do Fluxo e Grafos Planares
  src/.vuepress/config.js
  src/md/0021-galeshapley.md
  src/md/0022-kruskraldijkrsta.md
  src/md/0023-teoriadofluxo.md
  src/md/0024-grafoplanares.md
  src/md/imgs/0023-Quasi.png
  src/md/imgs/0023-corte.png
  src/md/imgs/0023-digEx.png
  src/md/imgs/0023-pseudoFord.png
  src/md/imgs/0023-redCapEx.png
  src/md/imgs/0024-k33.png
  src/md/imgs/0024-triTorto.png
Labels: md

#256 [MD] Add Grafos: Kuratowski
  src/md/0023-teoriadofluxo.md
  src/md/0024-grafoplanares.md
  src/md/0025-teoremakuratowski.md
  src/md/imgs/0025-iso1.png
  src/md/imgs/0025-iso2.png
  src/md/imgs/0025-iso3.png
  src/md/imgs/0025-rudux.png
Labels: md

#258 [MD] Automatos 1
  src/.vuepress/config.js
  src/md/0026-automatos.md
  src/md/imgs/0026-auto2.png
  src/md/imgs/0026-autoInit.png
  src/md/imgs/0026.auto3.png
Labels: md

#260 [MD] Fix typo in 'Estailidade'
  src/md/0021-galeshapley.md
Labels: md

#259 [MD] Add Automatos 2
  src/md/0023-teoriadofluxo.md
  src/md/0024-grafoplanares.md
  src/md/0026-automatos.md
  src/md/imgs/0026-autoNC1.png
  src/md/imgs/0026-autoNC1v2.png
  src/md/imgs/0026-autoND1.png
  src/md/imgs/0026-autoNdD1.png
  src/md/imgs/0026-autoNdD2.png
Labels: md

#261 [MD] Add Automatos 3
  src/md/0023-teoriadofluxo.md
  src/md/0026-automatos.md
  src/md/imgs/0026-autoNdD2.png
  src/md/imgs/0026-troca11.png
  src/md/imgs/0026-troca12.png
  src/md/imgs/0026-troca21.png
  src/md/imgs/0026-troca22.png
  src/md/imgs/0026-troca23.png
Labels: md

#262 [MD] fix typos
  src/md/0023-teoriadofluxo.md
Labels: md

#263 [MD] fix typo
  src/md/0023-teoriadofluxo.md
Labels: md

#264 [MD] Add final things to Cheat sheet
  src/md/1006-grafos.md
Labels: md
