Repository leic-pt/resumos-leic, pull requests merged in 2021-11, with the labels that each got.

#399 [CDI3] Esclarecer diferença entre dimV = n e #V = n
  content/cdi-iii/0002-sistemas-eq-lineares-coef-constantes.md
Labels: cdi-iii

#400 [FIS2] Add Module 4
  content/fis-ii/0005-condutores.md
  content/fis-ii/0006-magnetostatica.md
  content/fis-ii/1000-formulario.md
  content/fis-ii/imgs/0006-biot.png
  content/fis-ii/imgs/0006-bussola.png
  content/fis-ii/imgs/0006-def.png
  content/fis-ii/imgs/0006-exp.png
  content/fis-ii/imgs/0006-fixe.png
  content/fis-ii/imgs/0006-malha.png
  content/fis-ii/imgs/0006-nodo.png
  content/fis-ii/imgs/0006-perp.png
  content/fis-ii/imgs/0006-tab.png
Labels: fis-ii

#405 [CDI3] Add Resumos do Calhau
  content/cdi-iii/index.md
Labels: cdi-iii

#406 [FIS2] Fix Typos
  content/fis-ii/0005-condutores.md
  content/fis-ii/0006-magnetostatica.md
  content/fis-ii/1011-segundo.md
  content/fis-ii/imgs/1011-ampere.png
  content/fis-ii/imgs/1011-cond.png
  content/fis-ii/imgs/1011-mag.png
  content/fis-ii/imgs/1011-tabel.png
Labels: fis-ii

#408 [FIS2] Add segundo teste
  content/fis-ii/1011-segundo.md
Labels: fis-ii

#409 [PO] Add path annotation to Kerberos section
  content/po/guides/0003-kerberos.md
Labels: po

#413 [CDI3] Add pt.1 exs Week 5
  content/cdi-iii/exercicios/0001-fichas-2021-2022.md
Labels: cdi-iii

#412 [CDI3] Add Cheat Sheet of Lagrange Transform
  content/cdi-iii/1001-laplace-cheat.md
Labels: cdi-iii

#415 [FP] Fix exercise 4.c), chapter 6.2
  content/fp/exercises/0001-ficha-pavao.md
Labels: fp

#411 [FIS2] Add formulas and Finish the UC
  content/fis-ii/0006-magnetostatica.md
  content/fis-ii/0007-eletro.md
  content/fis-ii/1000-formulario.md
  content/fis-ii/1011-segundo.md
  content/fis-ii/imgs/1000-tabel.png
  content/fis-ii/imgs/1011-ampere.png
  content/fis-ii/imgs/1011-cond.png
  content/fis-ii/imgs/1011-mag.png
Labels: fis-ii

#417 [Fis-II] Remove duplicate text from efeito fotoeletrico
  content/fis-ii/0001-efeito-fotoeletrico.md
Labels: fis-ii

#418 [Fis-II] Add definição de função trabalho
  content/fis-ii/0001-efeito-fotoeletrico.md
Labels: fis-ii

#378 [CDI3] Add content for week 5
  content/cdi-iii/0005-equacoes-ordem-superior.md
Labels: cdi-iii

#423 [CDI3] Fix formatting and typos
  content/cdi-iii/0005-equacoes-ordem-superior.md
Labels: cdi-iii

#424 [CDI3] Add content from week 6
  content/cdi-iii/0005-equacoes-ordem-superior.md
  content/cdi-iii/0006-transformada-laplace.md
  gatsby-config.js
Labels: cdi-iii

#425 [CDI3] Update Laplace cheat sheet
  content/cdi-iii/0006-transformada-laplace.md
  content/cdi-iii/1001-laplace-cheat.md
Labels: cdi-iii
