Repository leic-pt/resumos-leic, pull requests merged in 2021-04, with the labels that each got.

#85 [MD] Fix incorrect formula on cheat sheet
  src/md/1000-geradoras-sheet.md
Labels: md

#89 [LP] Fix typo
  src/lp/0005-logica-primeiraordem-sc.md
Labels: lp

#90 fix typos
  src/lp/0005-logica-primeiraordem-sc.md
Labels: lp

#91 [CDI-II] Fix typos and clarify some content
  src/cdi-ii/0006-conjunto-de-nivel.md
Labels: cdi-ii

#92 [LP] fix typo
  src/lp/0005-logica-primeiraordem-sc.md
Labels: lp

#94 [LP] Fix typo
  src/lp/0003-logica-proposicional-sc.md
Labels: lp

#95 [MD] Mudar a hora do horario de duvidas 5º feira
  src/md/README.md
Labels: md

#96 [IAED] Aula 8 & 9
  src/.vuepress/config.js
  src/iaed/0008-intro_algoritmos.md
  src/iaed/0009-algo_ord.md
  src/iaed/assets/0008-masc.c
  src/iaed/assets/0009-Dark_inverted_insertion_sorting.gif
  src/iaed/assets/0009-Shell_Sort_Algorithm.gif
  src/iaed/assets/0009-abs.c
  src/iaed/assets/0009-bubble-sort-animation.gif
  src/iaed/assets/0009-bubble_sort.c
  src/iaed/assets/0009-ins_sort.c
  src/iaed/assets/0009-rand.c
  src/iaed/assets/0009-sel_sort.c
  src/iaed/assets/0009-selection-sort-animation.gif
  src/iaed/assets/0009-shell.c
Labels: iaed

#97 [MD] - Introdução ao FFT
  src/.vuepress/config.js
  src/md/0011-FFT.md
  src/md/imgs/0011-16raizes.png
Labels: md

#98 [MD] - MMD fix typo and anchors
  src/md/0011-FFT.md
Labels: md

#100 [LP] Add resoluções semana 5
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#101 [IAED] Lab06 && [MD] add new formula to cheat sheet 1
  src/.vuepress/config.js
  src/iaed/labs/lab06/README.md
  src/iaed/labs/lab06/bubble.c
  src/iaed/labs/lab06/ex06.c
  src/iaed/labs/lab06/ex07.c
  src/iaed/labs/lab06/ex08.c
  src/iaed/labs/lab06/ex09.c
  src/iaed/labs/lab06/ex10.c
  src/iaed/labs/lab06/insertion.c
  src/iaed/labs/lab06/selection.c
  src/md/1001-calc-finito.md
Labels: iaed, md

#93 [CDI2] Add content from week 5
  src/.vuepress/config.js
  src/.vuepress/styles/index.styl
  src/cdi-ii/0008-integracao.md
  src/cdi-ii/assets/0008-ex-3d.png
  src/cdi-ii/assets/0008-ex1-y.svg
  src/cdi-ii/assets/0008-ex1.svg
  src/cdi-ii/assets/0008-ex2-z.svg
  src/cdi-ii/assets/0008-ex2.svg
  src/cdi-ii/assets/0008-ex3-y.svg
  src/cdi-ii/assets/0008-ex3.svg
  src/cdi-ii/assets/0008-ex4-z.svg
  src/cdi-ii/assets/0008-ex4.svg
  src/cdi-ii/assets/0008-ex5.svg
  src/cdi-ii/assets/0008-funcao-escada.svg
  src/cdi-ii/assets/0008-integral-defeito.svg
  src/cdi-ii/assets/0008-integral-excesso.svg
  src/cdi-ii/assets/0008-particoes.svg
Labels: cdi-ii

#103 [MD] Add CalhauTips Combinatória / Geradoras
  src/md/0009-combinatorio.md
Labels: md

#105 [CDI-II] fix typo
  src/cdi-ii/0007-derivada-ordem-superior.md
Labels: cdi-ii

#104 [IAED] Fix typos lab 6 && aula 9
  src/iaed/assets/0009-abs.c
  src/iaed/assets/0009-ins_sort.c
  src/iaed/labs/lab06/bubble.c
  src/iaed/labs/lab06/insertion.c
  src/iaed/labs/lab06/selection.c
Labels: iaed

#106 [MD] Add link to WolframAlpha in the cheat sheets
  src/md/1001-calc-finito.md
  src/md/1002-geradoras-sheet.md
Labels: md

#110 [IAED] Fix lab06
  src/iaed/labs/lab06/README.md
Labels: iaed

#111 [LP] Add Aula 9, Prolog Intro
  src/.vuepress/config.js
  src/lp/0007-prolog-intro.md
  src/lp/assets/0007-pl-res1.png
  src/lp/assets/0007-pl-res2.png
Labels: lp

#109 [MD] fix typo
  src/md/1001-calc-finito.md
Labels: md

#113 [MD] Add new link to cheat sheet
  src/md/1002-geradoras-sheet.md
Labels: md

#112 [LP] fix typo
  src/lp/0006-prog-logica.md
Labels: lp

#114 [LP] Add Aula 10
  src/lp/0007-prolog-intro.md
  src/lp/assets/0007-inv-it.png
  src/lp/assets/0007-inv-rec.png
Labels: lp

#115 [IAED] Fix typos
  src/iaed/0009-algo_ord.md
  src/iaed/labs/lab06/README.md
Labels: iaed

#117 [IAED] Lab 06 && [CDI2] Add ficha 6
  src/.vuepress/config.js
  src/cdi-ii/0008-integracao.md
  src/cdi-ii/exercicios/fichas-aulas-praticas.md
  src/iaed/labs/lab07/README.md
Labels: cdi-ii, iaed

#116 [IAED] Aula 10 & 11
  src/.vuepress/config.js
  src/iaed/0010-more_algo.md
  src/iaed/0011-even_more_algo.md
  src/iaed/assets/0010-heap.c
  src/iaed/assets/0010-heap.gif
  src/iaed/assets/0010-merge-sort.gif
  src/iaed/assets/0010-mergesort.c
  src/iaed/assets/0010-qsort.c
  src/iaed/assets/0010-qsort.gif
  src/iaed/assets/0011-count.c
  src/iaed/assets/0011-count.png
  src/iaed/assets/0011-msd.c
  src/iaed/assets/0011-radix.c
  src/iaed/assets/0011-radix.gif
Labels: iaed

#118 [IAED] Add algos to cheat sheet
  src/iaed/1000-algoritmos.sheet.md
  src/iaed/assets/1000-heap.c
  src/iaed/assets/1000-merge.c
  src/iaed/assets/1000-quick.c
  src/iaed/assets/1000-radixLSD.c
  src/iaed/assets/1000-radixMSD.c
  src/iaed/labs/lab07/README.md
Labels: iaed

#121 [IAED] Add answers to Lab07
  src/iaed/labs/lab07/README.md
  src/iaed/labs/lab07/quicksort.c
Labels: iaed

#122 [LP] Suggestion to alignment
  src/lp/0007-prolog-intro.md
  src/lp/0008-prolog-mid.md
Labels: lp

#124 [IAED] Add Algo to resolution and Fix answers
  src/iaed/labs/lab07/README.md
  src/iaed/labs/lab07/heapsort.c
  src/iaed/labs/lab07/quicksort.c
Labels: iaed

#123 [LP] Add Resoluções Semana 6 (+ 7)
  src/lp/0007-prolog-intro.md
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#107 [CDI2] Add content from week 6
  src/.vuepress/config.js
  src/cdi-ii/0008-integracao.md
  src/cdi-ii/0009-integracao-funcoes.md
  src/cdi-ii/0010-integracao-mudanca-var.md
  src/cdi-ii/0011-aplicacoes-integral.md
  src/cdi-ii/assets/0009-conteudo-nulo-fronteira.svg
  src/cdi-ii/assets/0009-conteudo-nulo-quadrado.svg
  src/cdi-ii/assets/0009-conteudo-nulo.svg
  src/cdi-ii/assets/0009-fronteira-q.svg
  src/cdi-ii/assets/0010-area-circulo.svg
  src/cdi-ii/assets/0010-coordenadas-cilindricas.svg
  src/cdi-ii/assets/0010-coordenadas-esfericas.svg
  src/cdi-ii/assets/0010-coordenadas-polares.svg
  src/cdi-ii/assets/0010-volume-cone.svg
  src/cdi-ii/assets/0011-inercia.svg
Labels: cdi-ii

#125 [LP] Add Rest of Res6 + Res7
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#126 [MD] - Aula sobre MDC. Last one :(
  src/.vuepress/config.js
  src/md/0012-MDC.md
  src/md/imgs/0012-mdc.png
  src/md/imgs/0012-tabela.png
Labels: md

#127 [LP] Add Aula 12
  src/lp/0008-prolog-mid.md
Labels: lp

#128 [LP] Fix Typo
  src/lp/0008-prolog-mid.md
Labels: lp

#130 Fourier e exemplos da FFT
  src/md/0011-FFT.md
Labels: md

#131 [MISC] New files
  src/cdi-ii/exercicios/fichas-aulas-praticas.md
  src/iaed/assets/0010-heap.c
  src/iaed/labs/lab07/README.md
  src/md/exercicios/fichas-aulas-praticas.md
Labels: cdi-ii, iaed, md

#134 [LP] fix typo
  src/lp/0007-prolog-intro.md
Labels: lp

#135 [MD] Add Calendário
  src/.vuepress/config.js
  src/md/0013-calendario.md
  src/md/imgs/0013-calendAux.png
  src/md/imgs/0013-setembro7.png
Labels: md

#137 Add resolução Tomás - Ex4
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#138 [CDI-II] fix typo
  src/cdi-ii/0008-integracao.md
Labels: cdi-ii

#140 [LP] Fix typo
  src/lp/0008-prolog-mid.md
Labels: lp

#139 [MD] Add Diofantinas + fix typo
  src/md/0011-FFT.md
  src/md/0012-MDC.md
  src/md/0013-calendario.md
Labels: md

#143 [IAED] Add content from week 8 & [MD] Add new cheat sheet
  src/.vuepress/config.js
  src/cdi-ii/0010-integracao-mudanca-var.md
  src/iaed/0012-ponteiros.md
  src/iaed/0013-mem.md
  src/iaed/assets/0012-2operador.c
  src/iaed/assets/0012-arit.c
  src/iaed/assets/0012-arrays.c
  src/iaed/assets/0012-def.c
  src/iaed/assets/0012-ex.c
  src/iaed/assets/0012-operador.c
  src/iaed/assets/0012-swap.c
  src/iaed/assets/0012-uso.c
  src/iaed/assets/0013-ex.c
  src/iaed/assets/0013-malloc.c
  src/iaed/labs/lab08/README.md
  src/md/1003-calendarios.md
Labels: iaed, md

#142 [IAED] Fix typos
  src/iaed/0010-more_algo.md
  src/iaed/0011-even_more_algo.md
  src/iaed/assets/0010-qsort.c
Labels: iaed

#146 [LP] Add Resoluções Semana 8
  src/lp/0007-prolog-intro.md
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#144 [MD] Congruencias Parte 1
  src/.vuepress/config.js
  src/md/0014-congruencias.md
Labels: md

#145 [MD] Add MDC cheat sheet
  src/.vuepress/config.js
  src/iaed/labs/lab07/README.md
  src/md/1003-calendarios.md
  src/md/1004-mdc-cheat.md
Labels: md

#148 [LP] Add Resoluções Semana 9
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#147 [MD] Congruencias fix typo
  src/md/0014-congruencias.md
Labels: md

#149 [CDI2] Fix typo
  src/cdi-ii/0010-integracao-mudanca-var.md
Labels: cdi-ii

#152 [LP] Fix setof typo
  src/lp/0008-prolog-mid.md
Labels: lp

#150 [MD] Fix Cheat sheets
  src/md/1003-calendarios.md
  src/md/1004-mdc-cheat.md
Labels: md

#153 [MD] Fix Typo
  src/md/0011-FFT.md
  src/md/0014-congruencias.md
Labels: md

#151 [MD] Fix missing transposing operation.
  src/md/0011-FFT.md
Labels: md

#157 [CDI2] Add resolução completa ficha 7
  src/cdi-ii/exercicios/fichas-aulas-praticas.md
Labels: cdi-ii

#158 [IAED] Add sort [MD] Add congruencias
  src/iaed/1000-algoritmos.sheet.md
  src/iaed/assets/0012-operador.c
  src/iaed/assets/1000-counting.c
  src/md/1004-mdc-cheat.md
Labels: iaed, md

#129 [CDI2] Add content from week 7
  src/.vuepress/config.js
  src/cdi-ii/0010-integracao-mudanca-var.md
  src/cdi-ii/0012-teorema-leibniz.md
  src/cdi-ii/0013-funcao-inversa.md
  src/cdi-ii/assets/0013-cubica.svg
  src/cdi-ii/assets/0013-quadratica.svg
Labels: cdi-ii

#161 [MD] Add Pascoa Juliana
  src/.vuepress/config.js
  src/md/0013-calendario.md
  src/md/0014-pascoa.md
  src/md/0015-congruencias.md
  src/md/imgs/0014-matriz_lunar.png
  src/md/imgs/0014-meton.png
  src/md/imgs/0014-tabela_R.png
Labels: md

#162 [LP] add clarity
  src/lp/0008-prolog-mid.md
  src/lp/1000-faq.md
Labels: lp

#163 [MD] FFT step-by-step calculator
  src/.vuepress/components/KatexElement.vue
  src/.vuepress/components/fft-calculator.vue
  src/.vuepress/config.js
  src/md/tools/fft-calculator.md
Labels: md

#164 [MD] Add more content to cheat sheets
  src/.vuepress/config.js
  src/md/1003-calendarios.md
  src/md/1004-mdc-cheat.md
  src/md/imgs/1003-cal.jpg
  src/md/imgs/1004-q.jpeg
Labels: md

#167 [MD] Add more info about numeros dominicais
  src/md/0013-calendario.md
Labels: md

#166 [LP] Add to FAQ- Aulas Projeto
  src/lp/1000-faq.md
Labels: lp

#168 [MD] Add Bézout calculator
  src/.vuepress/components/bezout-calculator.vue
  src/.vuepress/config.js
  src/md/tools/bezout-calculator.md
Labels: md

#169 [IAED] fix typo
  src/iaed/0012-ponteiros.md
Labels: iaed

#170 [MD] Fix typos and KaTeX
  src/md/0013-calendario.md
Labels: md

#171 [LP] Fix typo
  src/lp/0009-prolog-corte-neg.md
Labels: lp

#172 [MD] Add Teorema Chines Restos + fix typo
  src/.vuepress/config.js
  src/md/0012-MDC.md
  src/md/0014-pascoa.md
  src/md/0015-congruencias.md
  src/md/0016-chines-restos.md
Labels: md

#173 [IAED] Add content week 9
  src/.vuepress/config.js
  src/iaed/0013-mem.md
  src/iaed/0014-listas.md
  src/iaed/assets/0014-arg.c
  src/iaed/assets/0014-lista.c
  src/iaed/assets/0014-listaligada.png
  src/iaed/assets/0014-pilha.c
  src/iaed/labs/lab09/README.md
  src/md/1004-mdc-cheat.md
Labels: iaed
