Repository leic-pt/resumos-leic, pull requests merged in 2021-07, with the labels that each got.

#309 [CDI2] Fix typo
  src/cdi-ii/0013-funcao-inversa.md
Labels: cdi-ii

#311 [LP] Remove LPO Semântico's notes
  src/lp/0014-lpo-semantico.md
  src/lp/assets/0014-concept-2.png
  src/lp/assets/0014-interp.png
  src/lp/assets/0014-mail-prof.png
  src/lp/assets/0014-mundo-concept.png
Labels: lp

#312 [Misc] Fix Path (IAED) Labs + Algoritmos
  content/iaed/1000-algoritmos.sheet.md
  content/iaed/labs/lab02/README.md
  content/iaed/labs/lab03/README.md
  content/iaed/labs/lab04/README.md
  content/iaed/labs/lab05/README.md
  content/iaed/labs/lab06/README.md
  content/iaed/labs/lab07/README.md
  content/iaed/labs/lab08/README.md
  content/iaed/labs/lab09/README.md
  content/iaed/labs/lab10/README.md
  content/iaed/labs/lab11/README.md
  content/iaed/labs/lab12/README.md
Labels: iaed

#313 [MISC] Change UC Landing Pages Layout
  src/cdi-ii/README.md
  src/iaed/README.md
  src/lp/README.md
  src/md/README.md
Labels: cdi-ii, iaed, md
