Repository leic-pt/resumos-leic, pull requests merged in 2021-10, with the labels that each got.

#322 [CDI2] Add link to "aulas do calhau" on YouTube
  content/cdi-ii/index.md
Labels: cdi-ii

#323 [PO] Add bank guide
  content/po/guides/0002-bank.md
  package.json
  yarn.lock
Labels: po, hacktoberfest-accepted

#324 [PO] Fix typo
  content/po/guides/0002-bank.md
Labels: po

#319 [CDI3] Add content from week 1
  content/cdi-iii/0001-equacoes-diferenciais-ordinarias.md
  content/cdi-iii/index.md
  gatsby-config.js
  plugins/gatsby-remark-directive/index.js
  src/styles/markdown.css
Labels: cdi-iii, hacktoberfest-accepted

#321 [FIS2] Add formulario
  content/fis-ii/1000-formulario.md
Labels: fis-ii, hacktoberfest-accepted

#329 [CDI-III] fix typo
  content/cdi-iii/0001-equacoes-diferenciais-ordinarias.md
Labels: cdi-iii

#328 [Fis II] Fix typo
  content/fis-ii/1000-formulario.md
Labels: fis-ii

#327 Add Fenix links for Y2S1 courses pages
  content/asa/index.md
  content/cdi-iii/index.md
  content/fis-ii/index.md
  content/ges/index.md
  content/po/index.md
  content/so/index.md
Labels: cdi-iii, po, fis-ii, asa, ges, so

#326 [PO] Fix UML
  content/po/index.md
  yarn-error.log
Labels: po

#331 [FIS2] Add First week content
  content/fis-ii/0001-efeito-fotoeletrico.md
  content/fis-ii/1000-formulario.md
  content/fis-ii/imgs/0001-photoeletric-grap.png
Labels: fis-ii

#332 [FP] Add Pavao exercises + solution
  content/fp/exercises/0001-ficha-pavao.md
Labels: fp

#388 [CDI3] Fix typo related to Jordan Blocks, add Week 4 exercise solutions
  content/cdi-iii/0002-sistemas-eq-lineares-coef-constantes.md
  content/cdi-iii/exercicios/0001-fichas-2021-2022.md
Labels: cdi-iii

#381 [FIS2] Add first part of module 3 and finish module 2
  content/fis-ii/0003-campos-fluxo.md
  content/fis-ii/0004-potencial.md
  content/fis-ii/0005-condutores.md
  content/fis-ii/1000-formulario.md
  content/fis-ii/imgs/0004-plano.png
  content/fis-ii/imgs/0005-burguer.png
  content/fis-ii/imgs/0005-carga.png
  content/fis-ii/imgs/0005-cav.png
  content/fis-ii/imgs/0005-condutor.png
  content/fis-ii/imgs/0005-palca.png
  content/fis-ii/imgs/0005-paralel.png
  content/fis-ii/imgs/0005-serie.png
Labels: fis-ii

#386 [CDI-III] Fix typo
  content/cdi-iii/0002-sistemas-eq-lineares-coef-constantes.md
Labels: cdi-iii

#389 [CDI-III] Fix typo
  content/cdi-iii/0002-sistemas-eq-lineares-coef-constantes.md
Labels: cdi-iii

#390 [CDI3] Fix typo
  content/cdi-iii/0004-equacoes-exatas.md
Labels: cdi-iii

#387 [CDI3] Calhau check: EDO's lineares de primeira ordem
  content/cdi-iii/0001-equacoes-diferenciais-ordinarias.md
  content/cdi-iii/0002-sistemas-eq-lineares-coef-constantes.md
Labels: cdi-iii

#391 [CDI-III] Fix typo
  content/cdi-iii/0002-sistemas-eq-lineares-coef-constantes.md
Labels: cdi-iii

#392 [AL] Fix typo
  content/al/0502-valores-vetores-proprios.md
Labels: al

#396 [FIS2] Improve explanations
  content/fis-ii/0005-condutores.md
Labels: fis-ii

#393 [CDI3] Calhau check: Existência, unicidade, intervalo de definição de soluções
  content/cdi-iii/0003-existencia-unicidade-continuidade-comparacao.md
Labels: cdi-iii

#395 [CDI3] Fix typo
  content/cdi-iii/0002-sistemas-eq-lineares-coef-constantes.md
Labels: cdi-iii
