Repository leic-pt/resumos-leic, pull requests merged in 2021-03, with the labels that each got.

#40 [LP] Add exercises section
  src/.vuepress/config.js
  src/lp/0004-logica-primeiraordem-int.md
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#45 [MD] Changes to aula 6
  src/md/0006-formula-de-abel.md
Labels: md

#42 [LP] Add resoluções semanas 1, 2
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#43 [LP] Add dump link by Rafael Girão
  src/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#44 [CDI-II] fix typo
  src/cdi-ii/0003-funcoes-continuidade.md
Labels: cdi-ii

#48 [LP] Replace images with LaTeX on page 4
  src/lp/0004-logica-primeiraordem-int.md
  src/lp/assets/0004-fbfs1.png
  src/lp/assets/0004-fbfs2.png
  src/lp/assets/0004-fbfs3.png
  src/lp/assets/0004-funcao1.png
  src/lp/assets/0004-funcao2.png
  src/lp/assets/0004-relacao1.png
  src/lp/assets/0004-relacao2.png
  src/lp/assets/0004-termos.png
Labels: lp

#49 [LP] Add aula 4 - topic substituição
  src/lp/0004-logica-primeiraordem-int.md
Labels: lp

#51 [MD] Aula 5 - Funções geradoras.
  src/.vuepress/config.js
  src/md/0007-funcoesgeradoras.md
  src/md/imgs/0007-oito.png
Labels: md

#62 [IAED] Aula 3 e 4 typo fixes
  src/iaed/0003-input-output.md
  src/iaed/0004-tabelas.md
  src/iaed/README.md
  src/iaed/assets/0003-ascii.c
  src/iaed/assets/0004-copia-str.c
Labels: iaed

#63 [LP] Fix Typo
  src/lp/0005-logica-primeiraordem-sc.md
Labels: lp

#64 [CDI2/MD] Add ficha cdi & fix typos md
  src/cdi-ii/exercicios/fichas-aulas-praticas.md
  src/md/0007-funcoesgeradoras.md
  src/md/0008-teonewton.md
  src/md/0009-combinatorio.md
  src/md/exercicios/fichas-aulas-praticas.md
Labels: cdi-ii, md

#65 [CDI-II] fix typo
  src/cdi-ii/0004-diferenciabilidade.md
Labels: cdi-ii

#66 [MD] add clarity + fix typo
  src/md/0007-funcoesgeradoras.md
  src/md/0009-combinatorio.md
Labels: md

#50 [CDI2] Add content from week 3
  src/.vuepress/config.js
  src/cdi-ii/0001-transicao-para-dim-sup-1.md
  src/cdi-ii/0004-diferenciabilidade.md
  src/cdi-ii/0005-derivada-composta.md
  src/cdi-ii/0006-conjunto-de-nivel.md
  src/cdi-ii/assets/0006-curvas-nivel.svg
  src/cdi-ii/assets/0006-ex-conjunto-nivel.svg
  src/cdi-ii/assets/0006-saddle-point.svg
Labels: cdi-ii

#67 [IAED] aula 5 & fix typo cdi
  src/.vuepress/config.js
  src/cdi-ii/0004-diferenciabilidade.md
  src/iaed/0001-introducao-programacao-c.md
  src/iaed/0002-estruturas-controlo.md
  src/iaed/0003-input-output.md
  src/iaed/0004-tabelas.md
  src/iaed/0005-ficheiros.md
  src/iaed/assets/0005-copia.c
  src/iaed/assets/0005-def.c
  src/iaed/assets/0005-loc.c
  src/iaed/assets/0005-pot.c
  src/iaed/assets/0005-prot.c
Labels: cdi-ii, iaed

#68 [CDI2] Add Exs Suplementares page
  src/cdi-ii/exercicios/fichas-aulas-praticas.md
Labels: cdi-ii

#70 Update README.md
  src/cdi-ii/README.md
Labels: cdi-ii

#71 [LP] Add LPO (resto)
  src/lp/0005-logica-primeiraordem-sc.md
  src/lp/assets/0005-resolucao-pais.png
  src/lp/assets/0005-resolucao-quais.png
  src/lp/assets/0005-resolucao.png
  src/lp/assets/0005-resolucaosrb.png
Labels: lp

#74 [LP] Fix typo + add programação em lógica
  src/.vuepress/config.js
  src/lp/0005-logica-primeiraordem-sc.md
  src/lp/0006-prog-logica.md
  src/lp/assets/0006-res-chorn.png
Labels: lp

#75 [IAED/MD] Add aula 6 IAED & ficha MD
  src/.vuepress/config.js
  src/iaed/0006-estruturas.md
  src/iaed/assets/0006-decl.c
  src/iaed/assets/0006-def.c
  src/iaed/assets/0006-f.c
  src/iaed/assets/0006-hugetip.c
  src/iaed/assets/0006-man.c
  src/iaed/assets/0006-struception.c
  src/iaed/assets/0006-typedef.c
  src/iaed/assets/0006-vectored.c
  src/md/exercicios/fichas-aulas-praticas.md
Labels: iaed, md

#76 [MD] Add Funções Geradoras Cheat Sheet
  src/.vuepress/config.js
  src/md/1000-geradoras-sheet.md
Labels: md

#77 [MD] Edit cheat sheet
  src/md/1000-geradoras-sheet.md
Labels: md

#78 [LP] Add Cap6
  src/lp/0006-prog-logica.md
  src/lp/assets/0006-arvoresld.png
  src/lp/assets/0006-ressld.png
Labels: lp

#80 [CDI2/MD] Fix typo / Add formula on cheat sheet
  src/cdi-ii/exercicios/fichas-aulas-praticas.md
  src/md/1000-geradoras-sheet.md
Labels: cdi-ii, md

#81 [IAED] Add aula 7 and [MD] fix typo cheat sheet
  src/.vuepress/config.js
  src/iaed/0007-1elementos.md
  src/iaed/0007-2control.md
  src/iaed/assets/0007-bit.c
  src/iaed/assets/0007-cond.c
  src/iaed/assets/0007-cond1.c
  src/iaed/assets/0007-cons.c
  src/iaed/assets/0007-conv.c
  src/iaed/assets/0007-decvar.c
  src/iaed/assets/0007-do.c
  src/iaed/assets/0007-elif.c
  src/iaed/assets/0007-ex.c
  src/iaed/assets/0007-for.c
  src/iaed/assets/0007-global.c
  src/iaed/assets/0007-mes.c
  src/iaed/assets/0007-switch.c
  src/iaed/assets/0007-while.c
  src/md/1000-geradoras-sheet.md
Labels: iaed, md

#72 [CDI2] Content from Week 4
  src/.vuepress/config.js
  src/cdi-ii/0007-derivada-ordem-superior.md
Labels: cdi-ii

#82 [CDI2] - Fix typo
  src/cdi-ii/0005-derivada-composta.md
Labels: cdi-ii

#83 [CDI2] Fix typo in formula
  src/cdi-ii/0007-derivada-ordem-superior.md
Labels: cdi-ii
