Repository leic-pt/resumos-leic, pull requests merged in 2021-12, with the labels that each got.

#427 [Ges] Migrate content from resumos-meec
  .github/CODEOWNERS
  content/ges/0001-introducao-a-gestao.md
  content/ges/0002-organizacoes-recursos-humanos.md
  content/ges/0003-ambiente-economico.md
  content/ges/0004-informacao-financeira.md
  content/ges/0005-analise-projetos-investimento.md
  content/ges/0006-gestao-estrategica.md
  content/ges/0007-marketing.md
  content/ges/assets/0001-management-level.jpg
  content/ges/assets/0002-amplitude-controlo.png
  content/ges/assets/0002-divisional.png
  content/ges/assets/0002-etapas-gestao-rh.png
  content/ges/assets/0002-matricial.png
  content/ges/assets/0002-rede-virtual.png
  content/ges/assets/0002-trabalho-equipa.png
  content/ges/assets/0002-vertical-funcional.png
  content/ges/assets/0003-aumento-procura.png
  content/ges/assets/0003-economias-escala.png
  content/ges/assets/0003-elasticidade.png
  content/ges/assets/0003-estruturas-mercado.png
  content/ges/assets/0003-fatores-bens-substitutos.png
  content/ges/assets/0003-fatores-preco.png
  content/ges/assets/0003-macroeconomia.png
  content/ges/assets/0003-preco-equilibrio.png
  content/ges/assets/0003-procura-bens.png
  content/ges/assets/0004-ativo-passivo-capital-proprio.png
  content/ges/assets/0004-demonstracao-resultados.png
  content/ges/assets/0004-empresa-comercial.png
  content/ges/assets/0004-empresa-industrial-custeio-total.png
  content/ges/assets/0004-empresa-industrial-custeio-variavel.png
  content/ges/assets/0004-exemplo-balanca-resultados.png
  content/ges/assets/0004-exemplo-demonstracao-resultados.png
  content/ges/assets/0004-exemplo2-balanco.png
  content/ges/assets/0004-oticas-balanco.png
  content/ges/assets/0004-ponto-critico.png
  content/ges/assets/0005-exemplo-analise-investimento.png
  content/ges/assets/0005-tir.png
  content/ges/assets/0006-analise-externa.png
  content/ges/assets/0006-atividades-analise-interna.png
  content/ges/assets/0006-cinco-forcas-porter.png
  content/ges/assets/0006-estrategia-nivel-negocio.png
  content/ges/assets/0006-matriz-bcg.png
  content/ges/assets/0006-matriz-swot.png
  content/ges/assets/0006-processo-estrategia.png
  content/ges/assets/0007-ciclo-vida-produto.png
  content/ges/assets/0007-comportamento-consumidor.png
  content/ges/assets/0007-comunicacao-marketer.png
  content/ges/assets/0007-estrategia-marketing.png
  content/ges/assets/0007-marketing-ciclo-vida-produto.png
  content/ges/assets/0007-mix-produto.png
  content/ges/assets/0007-preco-penetracao.png
  content/ges/assets/0007-push-pull.png
  content/ges/exercicios/9999-fichas-leec-2020-2021.md
  content/ges/index.md
Labels: ges

#428 [CDI3] Add resolution of week 7
  content/cdi-iii/exercicios/0001-fichas-2021-2022.md
Labels: cdi-iii

#429 [CDI3] Fix typo in week 5
  content/cdi-iii/0005-equacoes-ordem-superior.md
Labels: cdi-iii

#430 [CDI3] Fix broken EdenBox link
  content/cdi-iii/index.md
Labels: cdi-iii

#432 [ASA] Add introduction to algorithms' notes
  content/asa/0001-introducao.md
  content/asa/assets/0001-fibonacci-arvore.png
  content/asa/exercicios/0001-fichas-2021-2022.md
  content/asa/exercicios/assets/2021-2022/project-null-correia.cpp
  content/asa/exercicios/assets/2021-2022/project-null-gaspa.cpp
  content/asa/exercicios/assets/2021-2022/project-null-luis.cpp
  content/asa/index.md
Labels: asa

#431 [ASA] Add Teorema Mestre
  content/asa/0002-teorema-mestre.md
  content/asa/assets/0002-divide-conquer.png
  content/asa/assets/0002-heap-example.png
  content/asa/assets/0002-maj-asympt.png
  content/asa/assets/0002-tight-asympt.png
  content/iaed/0009-algo_ord.md
  content/iaed/0010-more_algo.md
  content/iaed/0011-even_more_algo.md
  gatsby-config.js
  vercel.json
Labels: asa

#435 [ASA] Add solutions to first chapter of Coletânea de Exercícios
  content/asa/exercicios/0001-fichas-2021-2022.md
Labels: asa

#436 [ASA] Fix dubious notation
  content/asa/0001-introducao.md
Labels: asa

#438 [ASA] Fix broken KaTeX expression and typo on i++
  content/asa/0002-teorema-mestre.md
Labels: asa

#439 [ASA] Fix typo
  content/asa/0002-teorema-mestre.md
Labels: asa

#407 [CDI3] Add content for week 7
  content/cdi-iii/0006-transformada-laplace.md
  content/cdi-iii/0007-integrais-linha-teorema-green.md
Labels: cdi-iii

#442 [CDI-III] Fix typo: ibt -> -ibt
  content/cdi-iii/0005-equacoes-ordem-superior.md
Labels: cdi-iii

#443 [CDI3] Fix typo: Laplace inverse function
  content/cdi-iii/0006-transformada-laplace.md
Labels: cdi-iii

#441 [SO] Add content from week 1-2
  content/so/0001-introducao.md
  content/so/0002-files.md
  content/so/0003-filesystem.md
  content/so/imgs/0001/0001-abs.png
  content/so/imgs/0001/0001-man.png
  content/so/imgs/0001/0001-so.png
  content/so/imgs/0001/0001-term.png
  content/so/imgs/0001/0001-unix.png
  content/so/imgs/0001/0001-windows.png
  content/so/imgs/0002/0002-mount.png
  content/so/imgs/0002/0002-tree.png
  content/so/imgs/0002/0002-unix.png
  content/so/imgs/0003/0003-aux.png
  content/so/imgs/0003/0003-block.png
  content/so/imgs/0003/0003-boot.png
  content/so/imgs/0003/0003-ext3.png
  content/so/imgs/0003/0003-fat.png
  content/so/imgs/0003/0003-global.png
  content/so/imgs/0003/0003-inodes.png
  content/so/imgs/0003/0003-ins.png
  content/so/imgs/0003/0003-list-pointers.png
  content/so/imgs/0003/0003-list.png
  content/so/imgs/0003/0003-ram.png
  content/so/imgs/0003/0003-tab5.png
  content/so/index.md
Labels: so

#445 [SO] Add explanation and change prefixes of bytes
  content/so/0003-filesystem.md
Labels: so

#444 [ASA] Add week 2 content
  content/asa/0001-introducao.md
  content/asa/0002-teorema-mestre.md
  content/asa/0003-tecnicas-algoritmos.md
  content/asa/assets/0003-matrix-tree.png
  content/asa/assets/0003-mult-matrix.png
  src/styles/markdown.css
Labels: asa

#447 [CDI3] Fix typo
  content/cdi-iii/0005-equacoes-ordem-superior.md
Labels: cdi-iii

#451 [CDI3] Fix typos
  content/cdi-iii/0005-equacoes-ordem-superior.md
Labels: cdi-iii

#448 [CDI3] Add Aula do Calhau sugestion
  content/cdi-iii/0007-integrais-linha-teorema-green.md
Labels: cdi-iii

#452 [CDI3] Fix wrong variable (gamma where it should be delta)
  content/cdi-iii/0007-integrais-linha-teorema-green.md
Labels: cdi-iii

#453 [ASA] Upload resolution of práticas
  content/asa/exercicios/0001-fichas-2021-2022.md
Labels: asa

#454 [Meta] Update link and description for "Criador de Horários"
  content/index.md
Labels: meta

#455 [CDI3] Add entry `t^n e^at` to Transformada de Laplace (Cheat Sheet)
  content/cdi-iii/1001-laplace-cheat.md
  content/index.md
Labels: cdi-iii

#450 [SO] Add content of week 3
  content/so/0004-paralel.md
  content/so/imgs/0004/0004-cores.png
  content/so/imgs/0004/0004-graph.png
  content/so/imgs/0004/0004-moore.png
  content/so/imgs/0004/0004-priority.png
  content/so/imgs/0004/0004-tarefas.png
  content/so/imgs/0004/0004-vm.png
Labels: so

#458 [ASA] Add Huffman Algorithm
  content/asa/0003-tecnicas-algoritmos.md
  content/asa/assets/0003-arvore-exemplo.png
  content/asa/assets/0003-arvore-huffman.png
  content/asa/assets/0003-prova-t-chapeu.png
  content/asa/assets/0003-prova-t-estrela.png
Labels: asa

#459 [ASA] Add week 3 content
  content/asa/0003-tecnicas-algoritmos.md
  content/asa/0004-algoritmos-elementares.md
  content/asa/assets/0004-dfs-grafo-primeiro-exemplo.gif
  content/asa/assets/0004-dfs-solucao-primeiro-exemplo.png
  content/asa/assets/0004-edge-type-exemplo.png
  content/asa/assets/0004-exemplo-graph-bfs-tree.png
  content/asa/assets/0004-exemplo-graph-bfs.png
  content/asa/assets/0004-floresta-ex1-floresta.png
  content/asa/assets/0004-floresta-ex1-grafo.png
  content/asa/assets/0004-floresta-ex2-floresta.png
  content/asa/assets/0004-floresta-ex3-floresta.png
  content/asa/assets/0004-floresta-ex3-grafo.png
  content/asa/assets/0004-sccs-exemplo-final-forest.png
  content/asa/assets/0004-sccs-exemplo-graph-components.png
  content/asa/assets/0004-sccs-exemplo-graph-dfs.png
  content/asa/assets/0004-sccs-exemplo-graph-final.png
  content/asa/assets/0004-sccs-exemplo-graph-transposed.png
  content/asa/assets/0004-sccs-exemplo-graph.png
  content/asa/assets/0004-sccs-exemplo.png
  content/asa/assets/0004-sccs-graph-components.png
  content/asa/assets/0004-top-order-arrows.png
  content/asa/assets/0004-top-order-exemplo-back-edges.png
  content/asa/assets/0004-top-order-exemplo.png
  content/asa/assets/0004-top-order-horizontal.png
Labels: asa

#461 [FP] Fix solution on Exercícios Pavão Cap 8 Ex 11
  content/fp/exercises/0001-ficha-pavao.md
Labels: fp

#460 [SO] Add aula 5
  content/so/0003-filesystem.md
  content/so/0004-paralel.md
  content/so/0005-programação.md
Labels: so
