Repository leic-pt/resumos-leic, pull requests merged in 2022-11, with the labels that each got.

#873 [APRE] Fix content explanation
  content/apre/index.md
Labels: hacktoberfest-accepted, apre

#877 [Meta] Remove broken Edenbox links
  content/cdi-ii/exercicios/fichas-aulas-praticas.md
  content/cdi-iii/index.md
Labels: cdi-ii, cdi-iii, hacktoberfest-accepted

#874 [IEco] Add course explanation
  content/ieco/index.md
Labels: hacktoberfest-accepted, ieco

#867 [ASA] Fix typos
  content/asa/0001-introducao.md
  content/asa/0003-tecnicas-algoritmos.md
  content/asa/0005-caminhos-mais-curtos.md
  content/asa/0009-completude-np.md
Labels: hacktoberfest-accepted, asa

#871 [Apre] Add classification content
  content/apre/0002-classification.md
  content/apre/assets/0002-classification.png
  content/apre/assets/0002-dataset.png
Labels: hacktoberfest-accepted, apre

#878 [EMD] Add FFT youtube video
  content/emd/0012-fft.md
Labels: emd

#880 [Apre] Clarify Minkowski distance function
  content/apre/0007-lazy-learning.md
Labels: apre

#881 [Apre] Add exercise resolutions by Hugo Silva
  content/apre/exercicios/fichas-aulas-praticas.md
Labels: apre

#882 [IEco] Add course notes
  content/ieco/0001-mercados-eficiencia-governo.md
  content/ieco/0002-pib-crescimento-economico.md
  content/ieco/0003-inflacao-desemprego-desigualdade.md
  content/ieco/0004-bancos-moeda-crises-financeiras.md
  content/ieco/0005-politica-economica.md
  content/ieco/0006-economia-ambiente-alteracoes-climaticas.md
  content/ieco/0007-economia-digital.md
Labels: ieco

#883 [OC] Add ficha 9 and 10 solutions by @constancadcunha
  content/oc/exercicios/9999-fichas-2022-2023.md
Labels: oc

#884 Fix text not showing up correctly in complex SVGs in Chromium
  plugins/gatsby-remark-post-image-data/gatsby-browser.js
  plugins/gatsby-remark-post-image-data/index.js
  src/styles/main.css
  src/styles/markdown.css
Labels: bug

#885 Update contribution docs links to new domain
  CONTRIBUTING.md
  README.md
  content/index.md
  content/oc/0004-memoria-caches.md
  content/oc/0005-memoria-virtual.md
  gatsby-config.js
Labels: meta, oc, chore

#560 [RC] Add introduction and application layer
  README.md
  content/rc/0001-introducao.md
  content/rc/0002-aplicacao.md
  content/rc/assets/0001_fdm.png
  content/rc/assets/0001_tdm.png
Labels: rc

#889 [RC] Add some terminology & explain Lab 1
  content/rc/guides/0001-terminologia.md
  content/rc/guides/assets/0001-CiscoAP.png
  content/rc/guides/assets/0001-RJ45cable.jpg
  content/rc/guides/assets/0001-RJ45cable.png
  content/rc/guides/assets/0001-wiringCloset.png
  content/rc/labs/0001-lab1-tcp-udp.md
Labels: rc

#891 [RC] Add missing content in course introduction
  content/rc/0001-introducao.md
  content/rc/assets/0001-fdm.svg
  content/rc/assets/0001-store-and-forwarding.svg
  content/rc/assets/0001-tdm.svg
  content/rc/assets/0001_fdm.png
  content/rc/assets/0001_tdm.png
Labels: rc

#892 Hide link styles on Gatsby images
  src/styles/markdown.css
Labels: bug
