Repository leic-pt/resumos-leic, pull requests merged in 2022-10, with the labels that each got.

#850 Fix broken image caption support
  plugins/gatsby-remark-post-image-data/index.js
  plugins/gatsby-remark-pre-image-data/index.js
  src/styles/markdown.css
Labels: bug

#852 Render SVGs as object instead of img
  gatsby-config.js
  plugins/gatsby-remark-post-image-data/index.js
  plugins/gatsby-remark-pre-image-data/index.js
  src/styles/main.css
  src/styles/markdown.css
Labels: enhancement

#854 [META] Remove Fónix Mails from useful links (no longer working)
  content/index.md
Labels: meta

#856 [WIP] [PE] Fix typos
  content/pe/0001-nocoes-basicas.md
Labels: hacktoberfest-accepted, pe

#858 [Meta] Fix year 1 typos
  content/al/0018-matriz-mudanca-de-coordenadas.md
  content/cdi-i/0001-axiomatica.md
  content/cdi-i/0004-sucessoes.md
  content/cdi-i/0007-continuidade-limites.md
  content/emd/0005-teorema-chines-restos.md
  content/emd/0006-rsa.md
  content/emd/0009-grafos.md
  content/emd/0012-fft.md
  content/emd/archive/0009-calendario.md
  content/emd/archive/0011-labirintos.md
  content/emd/archive/0012-relacionamentos-gale-shapley.md
  content/emd/archive/0013-teoria-fluxo.md
  content/emd/archive/0014-grafos-planares.md
  content/emd/archive/0015-algoritmo-kuratowski.md
  content/emd/archive/0016-automatos-finitos.md
  content/emd/archive/cheatsheets/0001-calculo-finito.md
  content/emd/archive/cheatsheets/0003-calendarios.md
  content/emd/cheatsheets/0001-mdc-cheat.md
  content/emd/cheatsheets/0003-grafos.md
  content/emd/tools/0005-rsa-calculator.md
  content/fis-i/cheatsheets/0001-main-cheatsheet.md
  content/fis-i/guides/0001-recap-highschool.md
  content/iac/0001-introducao.md
  content/iac/0002-mundo-binario.md
  content/iac/0003-primeiro-computador.md
  content/iac/0004-programacao-em-assembly.md
  content/iac/0005-assembly-avancado.md
  content/iac/0006-sistema.md
  content/iaed/0002-estruturas-controlo.md
  content/iaed/0007-elementos-linguagem.md
  content/iaed/0009-introducao-algoritmos.md
  content/iaed/0012-algoritmos-elementares-ordenacao-2.md
  content/iaed/0013-ponteiros.md
  content/iaed/0019-grafos.md
  content/iaed/meta/0001-linux-setup.md
  content/lp/0012-lp-ii-bdds.md
  content/lp/exercicios/fichas-aulas-praticas.md
Labels: lp, emd, iaed, cdi-i, al, iac, fis-i

#859 [Meta] Fix year 2 typos
  content/asa/0003-tecnicas-algoritmos.md
  content/asa/0005-caminhos-mais-curtos.md
  content/asa/0006-arvores-abrangentes-menor-custo.md
  content/bd/0003-er-model.md
  content/bd/0004-relational-model-conversion.md
  content/bd/index.md
  content/cdi-iii/exercicios/0001-fichas-2021-2022.md
  content/emd/0012-fft.md
  content/fis-ii/0002-fundamentos.md
  content/fis-ii/0006-magnetostatica.md
  content/ia/0002-procura-cega.md
  content/ipm/0002-dispositivos-moveis.md
  content/ipm/0003-fatores-humanos.md
  content/ipm/0004-historia-ipm.md
  content/ipm/0005-avaliacao-com-utilizadores.md
  content/ipm/0006-analise-quantitativa.md
  content/ipm/0007-analise-qualitativa.md
  content/ipm/0008-interacao-computacional.md
  content/ipm/index.md
  content/lp/0012-lp-ii-bdds.md
  content/pe/0002-variaveis-aleatorias.md
  content/pe/0005-distribuicoes-conjuntas.md
  content/so/0001-introducao.md
  content/so/0002-files.md
  content/so/0003-filesystem.md
  content/so/0004-parallel.md
  content/so/0005-programacao.md
  content/so/0006-implementation.md
  content/so/0007-comunicacao.md
  content/so/0008-sistemas.md
  content/so/0009-process-management.md
  content/so/0010-memory-management.md
  content/tc/0001-linguagens-e-automatos.md
  content/tc/0002-maquinas-de-turing.md
  content/tc/0003-teoria-da-computabilidade.md
  content/tc/0004-complexidade-computacional.md
  content/tc/index.md
Labels: lp, emd, cdi-iii, fis-ii, asa, bd, ia, ipm, pe, so, tc

#860 [Meta] Fix year 3 typos
  content/apre/0001-machine-learning.md
  content/index.md
  content/oc/0001-metricas-performance.md
Labels: meta, apre, oc

#848 [OC] Add FLOPS metric and Amdahl's Law Example
  content/oc/0001-metricas-performance.md
Labels: hacktoberfest-accepted, oc

#864 Add MIPS Assembly syntax highlighting to Prism.js
  gatsby-config.js
Labels: enhancement, oc

#846 [OC] Add MIPS and ISA
  content/oc/0002-linguagem-computador.md
  content/oc/assets/0002-alinhamento-memoria.png
  content/oc/assets/0002-blocos.png
  content/oc/assets/0002-branch.png
  content/oc/assets/0002-exemplo-i.png
  content/oc/assets/0002-exemplo-r.png
  content/oc/assets/0002-ficheiro-registos.jpg
  content/oc/assets/0002-formato-i.png
  content/oc/assets/0002-formato-instrucoes.png
  content/oc/assets/0002-formato-r.png
  content/oc/assets/0002-if.jpg
  content/oc/assets/0002-jump.png
  content/oc/assets/0002-linguagem-assembly.png
  content/oc/assets/0002-operandos.png
  content/oc/assets/0002-registos.png
  content/oc/assets/0002-shift-operations.png
  content/oc/assets/0002-sumario1.png
  content/oc/assets/0002-sumario2.png
Labels: hacktoberfest-accepted, oc

#863 [Meta] Add João Rodrigues to contributors
  content/index.md
Labels: meta

#865 [Fis-II] Remove borked links
  content/fis-ii/exercicios/0001-fichas-2021-2022.md
Labels: fis-ii

#861 [BD] Fixing typos, wording
  content/bd/0001-intro-dbms.md
  content/bd/0002-sql.md
  content/bd/0003-er-model.md
Labels: hacktoberfest-accepted, bd

#868 [OC] Add exercises solutions
  content/oc/exercicios/9999-fichas-2022-2023.md
Labels: oc

#847 [OC] Add compiler's role and memory/caches
  content/oc/0003-papel-compilador.md
  content/oc/0004-memoria-caches.md
  content/oc/assets/0003-java.png
  content/oc/assets/0003-lazy-linkage.png
  content/oc/assets/0003-traducao.png
  content/oc/assets/0003-x86.jpg
  content/oc/assets/0004-comparacao.png
  content/oc/assets/0004-exemplo.png
  content/oc/assets/0004-hierarquia-memoria.png
  content/oc/assets/0004-hierarquia.png
  content/oc/assets/0004-mapeamento-direto-exemplo.png
  content/oc/assets/0004-mapeamento-direto.png
  content/oc/assets/0004-processador-dram.png
Labels: hacktoberfest-accepted, oc

#862 [OC] Add cache improvements and virtual memory
  content/oc/0004-memoria-caches.md
  content/oc/0005-memoria-virtual.md
  content/oc/assets/0004-associatividade.png
  content/oc/assets/0004-comparacao-associatividade.png
  content/oc/assets/0004-exemplo.jpg
  content/oc/assets/0004-exemplo2.png
  content/oc/assets/0004-greedy.png
  content/oc/assets/0004-hotcold.png
  content/oc/assets/0004-hotcold2.png
  content/oc/assets/0004-intrinsity-fastmath.png
  content/oc/assets/0004-prefetching.png
  content/oc/assets/0004-preloading.png
  content/oc/assets/0004-reordering.png
  content/oc/assets/0004-sumario.png
  content/oc/assets/0005-TLB.png
  content/oc/assets/0005-TLBmem.png
  content/oc/assets/0005-design.png
  content/oc/assets/0005-exemplo.png
  content/oc/assets/0005-hierarquia.png
  content/oc/assets/0005-interaction.png
  content/oc/assets/0005-memoriavirtual.png
  content/oc/assets/0005-paralelo.png
  content/oc/assets/0005-paralelo2.png
  content/oc/assets/0005-tabelainvertida1.png
  content/oc/assets/0005-tabelainvertida2.png
  content/oc/assets/0005-traducao.png
  content/oc/assets/0005-traducao2.png
Labels: hacktoberfest-accepted, oc

#870 [OC] Add more exercise solutions by @constancadcunha
  content/oc/exercicios/9999-fichas-2022-2023.md
Labels: oc

#869 [OC] Overall fix on the Computer Language page
  content/oc/0002-linguagem-computador.md
Labels: oc

#872 Update `package.json#license` field to match `LICENSE.md`
  package.json
Labels: chore

#875 [META] Remove UC links that are outdated
  content/asa/index.md
  content/cdi-iii/index.md
  content/fis-ii/index.md
  content/ges/index.md
  content/ipm/index.md
  content/po/index.md
  content/so/index.md
  content/tc/index.md
Labels: cdi-iii, po, fis-ii, hacktoberfest-accepted, asa, ges, ipm, so, tc
