Repository leic-pt/resumos-leic, pull requests merged in 2022-07, with the labels that each got.

#812 [AL/Apre/ASA/EMD/IAED/SO] Fix various typos
  content/al/0502-valores-vetores-proprios.md
  content/apre/index.md
  content/asa/0001-introducao.md
  content/asa/0003-tecnicas-algoritmos.md
  content/emd/0002-principio-pombal.md
  content/emd/0003-mdc-eq-diofantinas.md
  content/emd/0005-teorema-chines-restos.md
  content/emd/0006-rsa.md
  content/emd/0009-grafos.md
  content/emd/0012-fft.md
  content/emd/archive/0007-teorema-de-newton.md
  content/emd/archive/0008-calculo-combinatorio.md
  content/emd/archive/0010-pascoa.md
  content/emd/archive/0012-relacionamentos-gale-shapley.md
  content/emd/archive/0013-teoria-fluxo.md
  content/emd/archive/0016-automatos-finitos.md
  content/emd/cheatsheets/0001-mdc-cheat.md
  content/emd/cheatsheets/0003-grafos.md
  content/emd/exercicios/0999-fichas-2020-2021.md
  content/iaed/0004-tabelas.md
  content/so/0003-filesystem.md
Labels: emd, iaed, al, asa, so, apre

#813 Rename Umami script path
  gatsby-config.js
Labels: bug

#815 [BD] Fix incorrect value on relational algebra join example
  content/bd/0005-relational-algebra.md
Labels: bd

#814 [PE] Fix mistakes, formatting, typos, wording and pontuation
  content/pe/0001-nocoes-basicas.md
  content/pe/0002-variaveis-aleatorias.md
  content/pe/0003-va-discretas.md
  content/pe/0004-va-continuas.md
  content/pe/0005-distribuicoes-conjuntas.md
  content/pe/0006-comb-lineares-de-va.md
  content/pe/0007-estimacao-pontual.md
  content/pe/0008-estimacao-por-intervalos.md
  content/pe/0009-teste-de-hipoteses.md
Labels: pe

#816 [BD] Fix minor incorrection
  content/bd/0006-advanced-sql.md
Labels: bd

#817 [BD] Add Normalization content
  content/bd/0007-normalization.md
  content/bd/assets/0007-1fn.svg
Labels: bd

#819 [IAC] Fix wrong values in binary tables
  content/iac/0002-mundo-binario.md
Labels: iac

#802 LP page cleanup
  content/lp/0001-conceitos-gerais.md
  content/lp/0002-logica-proposicional-int.md
  content/lp/0003-logica-proposicional-sc.md
  content/lp/0004-logica-primeiraordem-int.md
  content/lp/0005-logica-primeiraordem-sc.md
  content/lp/0006-prog-logica.md
  content/lp/0007-prolog-intro.md
  content/lp/0008-prolog-mid.md
  content/lp/0009-prolog-corte-neg.md
  content/lp/0010-prolog-lp.md
  content/lp/0011-logica-proposicional-semantico.md
  content/lp/0012-lp-ii-bdds.md
  content/lp/0013-algs-sat.md
  content/lp/0014-lpo-semantico.md
  content/lp/1000-faq.md
  content/lp/assets/0003-res-linear.png
  content/lp/assets/0003-res-linear.svg
  content/lp/assets/0003-res-sat-niveis1.png
  content/lp/assets/0003-res-sat-niveis1.svg
  content/lp/assets/0003-res-unitaria1.png
  content/lp/assets/0003-res-unitaria2.png
  content/lp/assets/0003-res-unitaria2.svg
  content/lp/assets/0005-agentes-cognitivos.png
  content/lp/assets/0005-agentes-cognitivos.svg
  content/lp/assets/0005-resolucao.png
  content/lp/assets/0005-resolucao.svg
  content/lp/assets/0006-arvore-sld.svg
  content/lp/assets/0006-arvoresld.png
  content/lp/assets/0006-resolucao-sld.svg
  content/lp/assets/0006-ressld.png
  content/lp/assets/0007-acumulador.svg
  content/lp/assets/0007-inv-it.png
  content/lp/assets/0007-inv-it.svg
  content/lp/assets/0007-inv-rec.png
  content/lp/assets/0007-inv-rec.svg
  content/lp/assets/0007-pl-res1.png
  content/lp/assets/0007-pl-res1.svg
  content/lp/assets/0007-pl-res2.png
  content/lp/assets/0007-pl-res2.svg
  content/lp/assets/0009-piupiu.png
  content/lp/assets/0009-piupiu.svg
  content/lp/assets/0011-dedsem.svg
  content/lp/assets/0011-venn.svg
  content/lp/assets/0014-ex-exame.png
  content/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#820 [BD] Fix typos
  content/bd/0001-intro-dbms.md
  content/bd/0002-sql.md
  content/bd/0003-er-model.md
  content/bd/0004-relational-model-conversion.md
  content/bd/0006-advanced-sql.md
  content/bd/0007-normalization.md
Labels: bd

#822 [BD] Fix mistake, typos and wording on the Normalization page
  content/bd/0007-normalization.md
Labels: bd

#825 Upgrade dependencies
  package.json
  yarn.lock
Labels: chore

#827 [FP] Remove solution student name
  content/fp/exercises/0001-ficha-pavao.md
Labels: fp
