Repository leic-pt/resumos-leic, pull requests merged in 2022-06, with the labels that each got.

#756 [PE] Add simple explanation to discrete and continuous intervals
  content/pe/0001-nocoes-basicas.md
Labels: pe

#770 [IA] Remove global restrictions section
  content/ia/0004-satisfacao-restricoes.md
Labels: ia

#771 [IA] fix typo
  content/ia/0004-satisfacao-restricoes.md
Labels: ia

#772 [IA] Fix misunderstandings in AC-3 example
  content/ia/0004-satisfacao-restricoes.md
Labels: ia

#766 [BD] Fix typo on relational algebra example
  content/bd/0005-relational-algebra.md
Labels: bd

#769 [BD] Fix typos and clarify
  content/bd/0005-relational-algebra.md
Labels: bd

#763 [BD] Fix typos and improve wording on the Conversion to the Relational Model page
  content/bd/0004-relational-model-conversion.md
  content/bd/assets/0004-association-one-to-many.svg
  content/bd/assets/0004-association-one-to-one.svg
Labels: bd

#752 [PE] Add chapter 7: Point Estimation
  content/pe/0007-estimacao-pontual.md
  content/pe/imgs/0007/populacao-amostra.png
Labels: pe

#753 [PE] Add chapters 8 and 9: Interval Estimation and Hypothesis Testing
  content/pe/0008-estimacao-por-intervalos.md
  content/pe/0009-teste-de-hipoteses.md
Labels: pe

#775 [BD] Improve explanation of Weak Entities
  content/bd/0003-er-model.md
Labels: bd

#776 Hide browser default clear search button
  src/components/SearchBar/SearchBar.css
Labels: enhancement

#767 [IA] Fix SVG (Choosing Variables Matters)
  content/ia/0004-satisfacao-restricoes.md
  content/ia/imgs/0004-choosing-variables-matters.svg
Labels: ia

#777 [IA] Add games section (half of fourth week)
  content/ia/0004-satisfacao-restricoes.md
  content/ia/0005-jogos.md
  content/ia/imgs/0005-alpha-beta-optimal.svg
  content/ia/imgs/0005-alpha-beta-pruning.svg
  content/ia/imgs/0005-chess-horizon.svg
  content/ia/imgs/0005-minimax-basic-example.svg
  content/ia/imgs/0005-minimax-multiplayer-example.svg
  content/ia/imgs/0005-tic-tac-toe.svg
Labels: ia

#780 Add support for multiple themes
  src/components/ThemeSettings.js
  src/hooks/theme-hooks.js
  src/styles/themes/black.css
  src/styles/themes/nord.css
  src/styles/themes/solarized.css
Labels: enhancement

#782 Fix Nord theme being applied by default
  src/styles/themes/nord.css
Labels: bug

#783 [BD] Fix incorrect cardinality constraints (one-to-many vs many-to-one)
  content/bd/assets/0003-er-cardinality-constraints.svg
  content/bd/assets/0004-association-one-to-many.svg
Labels: bd

#779 [IA] Add local search section (other half of fourth week content)
  content/ia/0005-jogos.md
  content/ia/0006-procura-local.md
  content/ia/imgs/0005-alpha-beta-pruning.svg
  content/ia/imgs/0006-amadora-ist.png
  content/ia/imgs/0006-and-or-search.svg
  content/ia/imgs/0006-chess-completeness.svg
  content/ia/imgs/0006-genetics.svg
  content/ia/imgs/0006-hill-climbing-maximum.svg
  content/ia/imgs/0006-hill-climbing-online.svg
  content/ia/imgs/0006-local-search-plot.svg
  content/ia/imgs/0006-sticky-ball.svg
  content/ia/imgs/0006-unknown-vacuum-sensors.svg
  content/ia/imgs/0006-unknown-vacuum.svg
  content/ia/imgs/0006-vacuum.svg
Labels: ia

#786 [IA] Fix wrong formula in SVG, typo in hill climbing pseudocode
  content/ia/0006-procura-local.md
  content/ia/imgs/0005-alpha-beta-pruning.svg
Labels: ia

#788 [IA] Fix SVG, typos and wording on the Local Search page
  content/ia/0006-procura-local.md
  content/ia/imgs/0006-vacuum.svg
Labels: ia

#787 [IA] fix typos and add clarity
  content/ia/0005-jogos.md
Labels: ia

#784 [BD] Add Advanced SQL
  content/bd/0006-advanced-sql.md
Labels: bd

#790 [PE] Sort distributions to the order given in class
  content/pe/0003-va-discretas.md
  content/pe/0004-va-continuas.md
Labels: pe

#789 [PE] Add warnings to non lectured content
  content/pe/0003-va-discretas.md
  content/pe/0006-comb-lineares-de-va.md
  content/pe/0007-estimacao-pontual.md
  content/pe/0008-estimacao-por-intervalos.md
  content/pe/0009-teste-de-hipoteses.md
Labels: pe

#791 Change PE codeowner to @Pesteves2002
  .github/CODEOWNERS
Labels: chore

#795 [BD] Improve wording and fix typo on the CGI Guide page
  content/bd/guides/0100-running-cgi-files-locally.md
Labels: bd

#797 [PE] Fix typo
  content/pe/0007-estimacao-pontual.md
Labels: pe

#798 [PE] Fix typo
  content/pe/0007-estimacao-pontual.md
Labels: pe

#796 Change styling of links
  src/styles/main.css
  src/styles/markdown.css
  src/styles/themes/black.css
  src/styles/themes/nord.css
  src/styles/themes/solarized.css
Labels: enhancement

#799 [PE] Fix wrong hypothesis values
  content/pe/0009-teste-de-hipoteses.md
Labels: pe

#800 [IAC] Add content from week 3
  content/iac/0005-assembly-avancado.md
  content/iac/assets/0005-1.png
  content/iac/assets/0005-2.png
  content/iac/assets/0005-3.png
  content/iac/assets/0005-4.png
  content/iac/assets/0005-chamada-rotinas.png
  content/iac/assets/0005-excecoes.png
  content/iac/assets/0005-exemplo.png
  content/iac/assets/0005-flux.png
  content/iac/assets/0005-fluxo.png
  content/iac/assets/0005-fluxograma.png
  content/iac/assets/0005-int.png
  content/iac/assets/0005-interrupcoes.png
  content/iac/assets/0005-ints.png
  content/iac/assets/0005-pilha.png
  content/iac/assets/0005-rotinas.png
  content/iac/assets/0005-vetores.png
  content/iac/index.md
  content/index.md
Labels: iac, meta

#806 [PE] Add regressao linear page and fix typo
  content/pe/0005-distribuicoes-conjuntas.md
  content/pe/0010-regressao-linear.md
Labels: pe

#807 Update identity symbol with a better approximation
  gatsby-config.js
Labels: bug

#809 [PE] Fix typos, change PNG to SVG
  content/pe/0001-nocoes-basicas.md
  content/pe/0002-variaveis-aleatorias.md
  content/pe/0003-va-discretas.md
  content/pe/0004-va-continuas.md
  content/pe/0005-distribuicoes-conjuntas.md
  content/pe/0006-comb-lineares-de-va.md
  content/pe/0007-estimacao-pontual.md
  content/pe/0008-estimacao-por-intervalos.md
  content/pe/0009-teste-de-hipoteses.md
  content/pe/imgs/0007/populacao-amostra.png
  content/pe/imgs/0007/populacao-amostra.svg
Labels: pe
