Repository leic-pt/resumos-leic, pull requests merged in 2022-08, with the labels that each got.

#829 [IA] Change PNGs to SVGs
  content/ia/0001-agentes.md
  content/ia/0002-procura-cega.md
  content/ia/0003-procura-informada.md
  content/ia/0004-satisfacao-restricoes.md
  content/ia/imgs/0001-agentes-racionais.png
  content/ia/imgs/0001-aspirador.png
  content/ia/imgs/0001-goal-based-agent.png
  content/ia/imgs/0001-goal-based-agent.svg
  content/ia/imgs/0001-learning-agent.png
  content/ia/imgs/0001-learning-agent.svg
  content/ia/imgs/0001-mechanistic-view.svg
  content/ia/imgs/0001-model-based-reflex-agent.png
  content/ia/imgs/0001-model-based-reflex-agent.svg
  content/ia/imgs/0001-rational-agents.svg
  content/ia/imgs/0001-simple-reflex-agent.png
  content/ia/imgs/0001-simple-reflex-agent.svg
  content/ia/imgs/0001-utility-based-agent.png
  content/ia/imgs/0001-utility-based-agent.svg
  content/ia/imgs/0001-vacuum-cleaner.svg
  content/ia/imgs/0002-bfs-example.svg
  content/ia/imgs/0002-eight-queens.png
  content/ia/imgs/0002-eight-queens.svg
  content/ia/imgs/0002-expansion-vs-generation-test.svg
  content/ia/imgs/0002-iterative-dfs.svg
  content/ia/imgs/0002-search-tree-arad-step-1.svg
  content/ia/imgs/0002-search-tree-arad-step-2.svg
  content/ia/imgs/0002-search-tree-arad-step-3.svg
  content/ia/imgs/0002-uniform-cost-search.svg
  content/ia/imgs/0003-a-star-arad-bucharest.svg
  content/ia/imgs/0003-a-star-not-optimal.svg
  content/ia/imgs/0003-comparison-table.svg
  content/ia/imgs/0003-eight-puzzle-example.svg
  content/ia/imgs/0003-graph-not-admissible.svg
  content/ia/imgs/0003-graph-search-not-optimal.svg
  content/ia/imgs/0003-greedy-arad-bucharest.svg
  content/ia/imgs/0003-ida-star.svg
  content/ia/imgs/0003-rbfs-step-1.svg
  content/ia/imgs/0003-rbfs-step-2.svg
  content/ia/imgs/0003-rbfs-step-3.svg
  content/ia/imgs/0003-tree-heuristic.svg
  content/ia/imgs/0003-triangle-inequality.svg
  content/ia/imgs/0004-sudoku-grid-ac3.png
  content/ia/imgs/0004-sudoku-grid-ac3.svg
  content/ia/imgs/0004-sudoku-grid-solved-ac3.png
  content/ia/imgs/0004-sudoku-grid-solved-ac3.svg
Labels: ia

#828 [IAED] Fix incorrect content on removing elements from hashtables using linear probing
  content/iaed/0016-disp.md
Labels: iaed, incorrect content

#830 Update contributors
  content/index.md
Labels: meta, chore

#831 Upgrade dependencies
  .prettierrc
  gatsby-config.js
  package.json
  src/components/HomePageLayout.js
  src/components/PageLayout.js
  src/components/PageMetadata.js
  src/pages/404.js
  yarn.lock
Labels: chore

#832 [IAED] Rename files to match URL path
  content/iaed/0007-elementos-linguagem.md
  content/iaed/0008-controlo-execucao.md
  content/iaed/0009-introducao-algoritmos.md
  content/iaed/0010-algoritmos-elementares-ordenacao.md
  content/iaed/0011-algoritmos-eficientes-ordenacao.md
  content/iaed/0012-algoritmos-elementares-ordenacao-2.md
  content/iaed/0013-ponteiros.md
  content/iaed/0014-alocacao-dinamica-memoria.md
  content/iaed/0015-listas.md
  content/iaed/0016-tad.md
  content/iaed/0017-hash-tables.md
  content/iaed/0018-arvores-binarias.md
  content/iaed/0019-grafos.md
  content/iaed/meta/0001-c-compiler-clion-wsl.png
  content/iaed/meta/0001-linux-setup.md
Labels: iaed, cleanup

#834 [Ges] Add missing backslashes
  content/ges/0005-analise-projetos-investimento.md
Labels: ges
