Repository leic-pt/resumos-leic, pull requests merged in 2022-04, with the labels that each got.

#651 [Fis1] Add solutions to TP05/06 2021-2022 by @constancadcunha
  content/fis-i/exercicios/0999-fichas-2021-2022.md
Labels: fis-i

#647 [TC] Add universal machine section and improve computability theory section
  content/tc/0002-maquinas-de-turing.md
  content/tc/0003-teoria-da-computabilidade.md
  content/tc/imgs/0002/chanonic-representation.png
  content/tc/imgs/0002/universal-machine.png
Labels: tc

#653 [TC] Fix wrong order in proofs, fix typos
  content/tc/0003-teoria-da-computabilidade.md
Labels: tc

#656 [TC] [MD] [Ges] [SO] [CDI3] Fix typos
  content/cdi-iii/0001-equacoes-diferenciais-ordinarias.md
  content/ges/0003-ambiente-economico.md
  content/md/0009-combinatorio.md
  content/md/0013-calendario.md
  content/so/0002-files.md
  content/so/0003-filesystem.md
  content/so/0007-comunicacao.md
  content/so/0010-memory-management.md
  content/tc/0001-linguagens-e-automatos.md
  content/tc/0002-maquinas-de-turing.md
  content/tc/0003-teoria-da-computabilidade.md
Labels: md, cdi-iii, ges, so, tc

#660 [CDI2] Clarify KaTeX of example
  content/cdi-ii/0004-diferenciabilidade.md
Labels: cdi-ii

#661 [Fis1] Add solutions to Quizzes 09-10, TP07 and TP08 (2021-2022)
  content/fis-i/exercicios/0999-fichas-2021-2022.md
Labels: fis-i

#654 [TC] Add Computational Complexity
  content/tc/0002-maquinas-de-turing.md
  content/tc/0004-complexidade-computacional.md
Labels: tc

#662 [IPM] Add "Avaliação com Utilizadores" and "Análise Quantitativa/Qualitativa"
  content/ipm/0005-avaliacao-com-utilizadores.md
  content/ipm/0006-analise-quantitativa.md
  content/ipm/0007-analise-qualitativa.md
  content/ipm/assets/0005-avaliacao-no-ciclo-iterativo.png
  content/ipm/assets/0005-demographic-info.png
  content/ipm/assets/0005-desenho-experimental-2x2.png
  content/ipm/assets/0005-testes-intergrupos.png
  content/ipm/assets/0005-testes-intragrupos.png
  content/ipm/assets/0005-tipos-de-testes-de-usabilidade.png
  content/ipm/assets/0006-analise-estatistica.png
  content/ipm/assets/0006-desvio-padrao.png
  content/ipm/assets/0006-exemplo.png
  content/ipm/assets/0006-moda.png
  content/ipm/assets/0006-significado-do-desvio-padrao.png
  content/ipm/assets/0007-analise-tematica.png
  content/ipm/assets/0007-nuvem-de-palavras.png
Labels: ipm

#663 [IPM] Fix typos
  content/ipm/0005-avaliacao-com-utilizadores.md
  content/ipm/0006-analise-quantitativa.md
  content/ipm/0007-analise-qualitativa.md
Labels: ipm

#664 [TC] Fix typos
  content/tc/0003-teoria-da-computabilidade.md
  content/tc/0004-complexidade-computacional.md
Labels: tc

#666 [TC] Add solutions to chapter 4 and 5 (2021-2022)
  content/tc/exercicios/0001-fichas-2021-2022.md
Labels: tc

#665 [IPM] Fix typos
  content/ipm/0005-avaliacao-com-utilizadores.md
Labels: ipm

#667 [IPM] Fix typos
  content/ipm/0006-analise-quantitativa.md
Labels: ipm

#668 [IPM] Fix typos and clarify
  content/ipm/0007-analise-qualitativa.md
Labels: ipm

#669 [IPM] Fix typos
  content/ipm/0005-avaliacao-com-utilizadores.md
Labels: ipm

#671 [IPM] Fix typos
  content/ipm/0006-analise-quantitativa.md
  content/ipm/0007-analise-qualitativa.md
Labels: ipm

#674 Update contributors and CODEOWNER for IAED
  .github/CODEOWNERS
  content/index.md
Labels: meta

#677 [CDI3] Fix text color formatting typo
  content/cdi-ii/0013-funcao-inversa.md
Labels: cdi-ii

#679 [Fis1] Add solutions to Quizz 13 and TP11 (2021-2022)
  content/fis-i/exercicios/0999-fichas-2021-2022.md
Labels: fis-i

#680 [Fis1] Add Cheat Sheet 2nd MAP
  content/fis-i/1001-cheat-sheet-map-2.md
Labels: fis-i

#678 [FIS1] Add formulario to test 2
  content/fis-i/1000-formulario.md
Labels: fis-i

#684 [IAED] Fix typos in AVL section
  content/iaed/0017-arv.md
Labels: iaed

#683 [TC] Add reductions and Teorema de Savitch
  content/tc/0004-complexidade-computacional.md
Labels: tc

#686 [Fis1] Cleanup cheatsheets
  content/fis-i/1000-formulario.md
  content/fis-i/cheatsheets/0001-main-cheatsheet.md
Labels: fis-i

#688 Fix mallocs in insertEnd
  content/iaed/assets/1001-simp-lig.c
Labels: iaed

#689 [IAED/ES/Meta] Remove duplicate contributors and fix typos in IAED and ES
  content/es/index.md
  content/iaed/0003-input-output.md
  content/index.md
Labels: iaed, meta, es

#690 [IPM] Add ethics
  content/ipm/0005-avaliacao-com-utilizadores.md
Labels: ipm

#691 [PE] Add noções básicas
  content/pe/0001-nocoes-basicas.md
  content/pe/index.md
  gatsby-config.js
Labels: pe

#692 [PE] Add variáveis aleatórias
  content/pe/0002-variaveis-aleatorias.md
  content/pe/imgs/0002/continuous_fd_graph.png
  content/pe/imgs/0002/discrete_fd_graph.png
Labels: pe

#696 [IAED] Cleanup Cheatsheets
  content/iaed/1000-algoritmos.sheet.md
  content/iaed/1001-estruturas.sheet.md
  content/iaed/assets/1000-bubble-sort.c
  content/iaed/assets/1000-counting.c
  content/iaed/assets/1000-heap.c
  content/iaed/assets/1000-ins-sort.c
  content/iaed/assets/1000-merge.c
  content/iaed/assets/1000-quick.c
  content/iaed/assets/1000-radixLSD.c
  content/iaed/assets/1000-radixMSD.c
  content/iaed/assets/1000-selection-sort.c
  content/iaed/assets/1000-start.c
  content/iaed/assets/1001-avl.c
  content/iaed/assets/1001-hashexc.c
  content/iaed/assets/1001-simp-lig.c
  content/iaed/assets/1001-stack.c
  content/iaed/cheatsheets/0001-algoritmos-sheet.md
  content/iaed/cheatsheets/0002-estruturas-sheet.md
Labels: iaed

#700 Add footer to all pages
  README.md
  content/index.md
  gatsby-config.js
  src/components/Footer/Footer.css
  src/components/Footer/Footer.js
  src/components/Footer/index.js
  src/components/HomePageLayout.js
  src/components/PageLayout.js
  src/components/icons/GitHub.js
  src/images/powered-by-vercel.svg
  src/styles/main.css
Labels: enhancement, meta

#702 Replace GitHub repo links with new organization link
  README.md
  content/asa/exercicios/0001-fichas-2021-2022.md
  content/cdi-i/exercicios/0001-fichas-2020-2021.md
  content/cdi-ii/exercicios/fichas-aulas-praticas.md
  content/cdi-iii/exercicios/0001-fichas-2021-2022.md
  content/fis-i/exercicios/0999-fichas-2021-2022.md
  content/fis-ii/exercicios/0001-fichas-2021-2022.md
  content/fp/exercises/0001-ficha-pavao.md
  content/index.md
  content/lp/exercicios/fichas-aulas-praticas.md
  content/md/exercicios/fichas-aulas-praticas.md
  content/so/labs/exercicios/0001-lab.md
  content/tc/exercicios/0001-fichas-2021-2022.md
  package.json
Labels: cdi-ii, lp, md, cdi-i, fp, meta, cdi-iii, fis-ii, asa, fis-i, so, tc, chore

#707 Link contributing documentation on README and homepage
  CONTRIBUTING.md
  README.md
  content/index.md
Labels: meta

#706 Add Code of Conduct
  CODE_OF_CONDUCT.md
Labels: chore

#708 Add pull request template and edit issue templates
  .github/ISSUE_TEMPLATE/incorrect_content.yml
  .github/ISSUE_TEMPLATE/incorrect_solution.yml
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: chore

#703 [TC] Fix typos and clarify chapter 2
  content/tc/0002-maquinas-de-turing.md
Labels: tc

#705 [TC] Restructure Universal Machine section
  content/tc/0002-maquinas-de-turing.md
Labels: tc

#704 [TC] Fix typos and formatting
  content/tc/0001-linguagens-e-automatos.md
  content/tc/0002-maquinas-de-turing.md
  content/tc/0003-teoria-da-computabilidade.md
  content/tc/0004-complexidade-computacional.md
Labels: tc

#701 [IPM] Add content from week 6
  content/ipm/0008-interacao-computacional.md
  content/ipm/assets/0008-atividade-utilizador.png
  content/ipm/assets/0008-ciclo-desenho.png
  content/ipm/assets/0008-gestos-universais.png
  content/ipm/assets/0008-identificacao-objetos.png
  content/ipm/assets/0008-machine-learning.png
  content/ipm/assets/0008-sistemas-interativos.png
  content/ipm/assets/0008-teclado.png
Labels: ipm

#709 Update footer contribution guide link
  gatsby-config.js
Labels: chore

#699 [TC] Cleanup and add missing examples to first chapter
  content/tc/0001-linguagens-e-automatos.md
  content/tc/imgs/0001/AFND-sem-movimentos-epsilon.png
  content/tc/imgs/0001/AFND_to_AFD_FINAL.png
  content/tc/imgs/0001/AFND_to_AFD_TABELA.png
Labels: tc

#710 Move pull request template to correct location
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#698 [PE] Add Combinações Lineares de VA
  content/pe/0006-comb-lineares-de-va.md
  gatsby-config.js
Labels: pe

#697 [PE] Add joint probability distribution
  content/pe/0005-distribuicoes-conjuntas.md
Labels: pe

#712 Set @Calhau18 as CODEOWNER for PE and TC
  .github/CODEOWNERS
Labels: chore

#713 [Fis1] Add solutions to Quizzes 14/15 and TP12 (2021-2022)
  content/fis-i/exercicios/0999-fichas-2021-2022.md
Labels: fis-i
