Repository leic-pt/resumos-leic, pull requests merged in 2022-01, with the labels that each got.

#426 [CDI3] Add content from week 8
  content/cdi-iii/0008-divergencia-rotacional-stokes.md
Labels: cdi-iii

#463 [ASA] Add description to exercises and fichas 5 to 7
  content/asa/exercicios/0001-fichas-2021-2022.md
Labels: asa

#465 [ASA] Fix typos and improve readability
  content/asa/0003-tecnicas-algoritmos.md
  content/asa/0004-algoritmos-elementares.md
Labels: asa

#464 Standardize exercise pages across the site
  content/cdi-i/exercicios/0001-fichas-2020-2021.md
  content/cdi-iii/exercicios/0001-fichas-2021-2022.md
  content/fis-ii/exercicios/0001-fichas-2021-2022.md
  content/fp/exercises/0001-ficha-pavao.md
  content/ges/exercicios/9999-fichas-leec-2020-2021.md
  content/iaed/labs/lab02/README.md
  content/iaed/labs/lab03/README.md
  content/iaed/labs/lab04/README.md
  content/iaed/labs/lab05/README.md
  content/iaed/labs/lab06/README.md
  content/iaed/labs/lab07/README.md
  content/iaed/labs/lab08/README.md
  content/iaed/labs/lab09/README.md
  content/iaed/labs/lab10/README.md
  content/iaed/labs/lab11/README.md
  content/iaed/labs/lab12/README.md
  content/lp/exercicios/fichas-aulas-praticas.md
  content/md/exercicios/fichas-aulas-praticas.md
Labels: lp, md, iaed, cdi-i, fp, cdi-iii, fis-ii, ges

#466 [GES] Fix typos and improve formatting
  content/ges/0001-introducao-a-gestao.md
  content/ges/0002-organizacoes-recursos-humanos.md
  content/ges/0003-ambiente-economico.md
  content/ges/0004-informacao-financeira.md
Labels: ges

#469 chore: upgrade node dependencies
  package.json
  yarn.lock
Labels: meta

#471 [CDI3] Add solutions to Semana 11 by @diogotcorreia
  content/cdi-iii/exercicios/0001-fichas-2021-2022.md
Labels: cdi-iii

#440 [CDI3] Add content from week 9
  content/cdi-iii/0001-equacoes-diferenciais-ordinarias.md
  content/cdi-iii/0008-divergencia-rotacional-stokes.md
  content/cdi-iii/0009-equacao-calor-solucoes-separaveis.md
  content/cdi-iii/0010-serie-fourier.md
Labels: cdi-iii

#472 [AL] Add matriz de mudança de coordenadas (aula 18)
  content/al/0018-matriz-mudanca-de-coordenadas.md
  content/index.md
Labels: al

#474 [GES] Fix typos
  content/ges/0001-introducao-a-gestao.md
  content/ges/0002-organizacoes-recursos-humanos.md
  content/ges/0004-informacao-financeira.md
  content/ges/exercicios/9999-fichas-leec-2020-2021.md
Labels: ges

#457 [CDI3] Add content from week 10
  content/cdi-iii/0010-serie-fourier.md
Labels: cdi-iii

#475 [GES] Add warning to content that no longer is lectured
  content/ges/0003-ambiente-economico.md
  content/ges/0004-informacao-financeira.md
Labels: ges

#467 [ASA] Add week 4 content
  content/asa/0004-algoritmos-elementares.md
  content/asa/0005-caminhos-mais-curtos.md
  content/asa/assets/0004-edge-type-exemplo.png
  content/asa/assets/0005-caminhos-mais-curtos-arvores-diferentes.png
  content/asa/assets/0005-caminhos-mais-curtos-bellman-ford-exemplo-1.png
  content/asa/assets/0005-caminhos-mais-curtos-dag-exemplo-1-passo-2.png
  content/asa/assets/0005-caminhos-mais-curtos-dag-exemplo-1-passo-3.png
  content/asa/assets/0005-caminhos-mais-curtos-dag-exemplo-1-passo-4.png
  content/asa/assets/0005-caminhos-mais-curtos-dag-exemplo-1-passo-5.png
  content/asa/assets/0005-caminhos-mais-curtos-dag-exemplo-1-passo-6.png
  content/asa/assets/0005-caminhos-mais-curtos-dag-exemplo-1.png
  content/asa/assets/0005-caminhos-mais-curtos-dijkstra-aresta-negativa.png
  content/asa/assets/0005-caminhos-mais-curtos-dijkstra-caminho-final.png
  content/asa/assets/0005-caminhos-mais-curtos-dijkstra-exemplo-1-passo-2.png
  content/asa/assets/0005-caminhos-mais-curtos-dijkstra-exemplo-1-passo-3.png
  content/asa/assets/0005-caminhos-mais-curtos-dijkstra-exemplo-1-passo-4.png
  content/asa/assets/0005-caminhos-mais-curtos-dijkstra-exemplo-1-passo-5.png
  content/asa/assets/0005-caminhos-mais-curtos-dijkstra-exemplo-1-passo-6.png
  content/asa/assets/0005-caminhos-mais-curtos-dijkstra-grafo-exemplo-1.png
  content/asa/assets/0005-caminhos-mais-curtos-relaxacao-arestas.png
  content/asa/assets/0005-ciclo-peso-negativo.png
  content/asa/assets/0005-ciclos-negativos-bellman-ford.png
  content/asa/assets/0005-sub-caminhos-mais-curtos.png
Labels: asa

#476 [CDI3] Fix typo on integral in Fourier Series example
  content/cdi-iii/0010-serie-fourier.md
Labels: cdi-iii

#481 [GES] Fix typos
  content/ges/0004-informacao-financeira.md
Labels: ges

#482 [ASA] Add exercises 7 and 8
  content/asa/exercicios/0001-fichas-2021-2022.md
Labels: asa

#477 [ASA] Change variable names on pseudo-code
  content/asa/0004-algoritmos-elementares.md
Labels: asa

#478 [ASA] Change variable names on BFS pseudocode
  content/asa/0004-algoritmos-elementares.md
Labels: asa

#484 [ASA] Add Johnson's algorithm
  content/asa/0005-caminhos-mais-curtos.md
  content/asa/assets/0005-johnson-errado.png
  content/asa/assets/0005-johnson-exemplo-2.png
  content/asa/assets/0005-johnson-exemplo-3.png
  content/asa/assets/0005-johnson-exemplo-4.png
  content/asa/assets/0005-johnson-exemplo.png
Labels: asa

#485 [ASA] Fix typos && Add exercises from week 5
  content/asa/0004-algoritmos-elementares.md
  content/asa/0005-caminhos-mais-curtos.md
  content/asa/exercicios/0001-fichas-2021-2022.md
Labels: asa

#488 [ASA] Bellman-Ford mistake correction -> |E| to |V|
  content/asa/0005-caminhos-mais-curtos.md
Labels: asa

#490 [ASA] Fix typos
  content/asa/0005-caminhos-mais-curtos.md
  content/asa/assets/0005-johnson-exemplo-4.png
Labels: asa

#492 [ASA] Add week 5 content
  content/asa/0006-arvores-abrangentes-menor-custo.md
  content/asa/0007-fluxos-maximos.md
  content/asa/assets/0006-corte-exemplo.png
  content/asa/assets/0006-kruskal-exemplo-1.png
  content/asa/assets/0006-kruskal-exemplo-10.png
  content/asa/assets/0006-kruskal-exemplo-11.png
  content/asa/assets/0006-kruskal-exemplo-12.png
  content/asa/assets/0006-kruskal-exemplo-13.png
  content/asa/assets/0006-kruskal-exemplo-2.png
  content/asa/assets/0006-kruskal-exemplo-3.png
  content/asa/assets/0006-kruskal-exemplo-4.png
  content/asa/assets/0006-kruskal-exemplo-5.png
  content/asa/assets/0006-kruskal-exemplo-6.png
  content/asa/assets/0006-kruskal-exemplo-7.png
  content/asa/assets/0006-kruskal-exemplo-8.png
  content/asa/assets/0006-kruskal-exemplo-9.png
  content/asa/assets/0006-prim-exemplo-1.png
  content/asa/assets/0006-prim-exemplo-2.png
  content/asa/assets/0006-prim-exemplo-3.png
  content/asa/assets/0006-prim-exemplo-4.png
  content/asa/assets/0006-prim-exemplo-5.png
  content/asa/assets/0006-prim-exemplo-6.png
  content/asa/assets/0006-prim-exemplo-7.png
  content/asa/assets/0006-prim-exemplo-8.png
  content/asa/assets/0006-prim-exemplo-9.png
  content/asa/assets/0006-prim-exemplo-mst-resultante.png
  content/asa/assets/0006-prova-prim.png
  content/asa/assets/0007-augmentation-path.png
  content/asa/assets/0007-conjuntos-disjuntos-arvores.png
  content/asa/assets/0007-conservacao-fluxo-exemplo.png
  content/asa/assets/0007-ff-caminho-1.png
  content/asa/assets/0007-ff-caminho-2.png
  content/asa/assets/0007-ff-caminho-3.png
  content/asa/assets/0007-ff-caminho-4.png
  content/asa/assets/0007-ff-caminho-5.png
  content/asa/assets/0007-ff-capacidade.png
  content/asa/assets/0007-ff-complexidade.png
  content/asa/assets/0007-ff-corte-minimo.png
  content/asa/assets/0007-findset-compressao.png
  content/asa/assets/0007-findset-log.png
  content/asa/assets/0007-net-flow-example.png
  content/asa/assets/0007-transformacao-rede-fluxos-exemplo.png
  content/asa/assets/0007-union-basico.png
  content/asa/assets/0007-union-final.png
  content/asa/assets/0007-union-inicio.png
  content/asa/assets/0007-union-intermedio.png
  content/asa/exercicios/0001-fichas-2021-2022.md
Labels: asa

#495 [ASA] Fix typos on shortest paths page
  content/asa/0005-caminhos-mais-curtos.md
Labels: asa

#493 [SO] Add content from week 5 and 6
  content/so/0005-programação.md
  content/so/0006-implementation.md
  content/so/0007-comunicacao.md
  content/so/imgs/0005/cond-problems.png
  content/so/imgs/0006/bus.png
  content/so/imgs/0006/cycle.png
  content/so/imgs/0006/so-trinco.png
  content/so/imgs/0007/comms.png
  content/so/imgs/0007/core.png
  content/so/imgs/0007/event.png
  content/so/imgs/0007/ls.png
  content/so/imgs/0007/matrix.png
  content/so/imgs/0007/shared.png
  content/so/imgs/0007/tubinhos.png
Labels: so

#496 [Ges] Fix typos and other small changes
  content/ges/0005-analise-projetos-investimento.md
Labels: ges

#497 [ASA] Fix typo in find-set example
  content/asa/0006-arvores-abrangentes-menor-custo.md
  content/asa/assets/0007-union-intermedio.png
Labels: asa

#498 [CDI3] Add exercises for week 13 (Equações do Calor)
  content/cdi-iii/exercicios/0001-fichas-2021-2022.md
Labels: cdi-iii

#499 [Ges] Fix typos
  content/ges/0005-analise-projetos-investimento.md
Labels: ges

#503 [ASA] Fix exercise drive links
  content/asa/exercicios/0001-fichas-2021-2022.md
Labels: asa

#505 [Ges] Fix typo
  content/ges/0005-analise-projetos-investimento.md
Labels: ges

#479 [CDI3] Add content for week 11 (13)
  content/cdi-iii/0009-equacao-calor-solucoes-separaveis.md
  content/cdi-iii/0011-equacao-calor-laplace-ondas.md
Labels: cdi-iii

#507 [Ges] Clarify content about Análise de Projetos de Investimento
  content/ges/0005-analise-projetos-investimento.md
  content/ges/assets/0005-exemplo-analise-investimento.png
Labels: ges

#508 [Ges] Fix typos and wrong formulas
  content/ges/0005-analise-projetos-investimento.md
Labels: ges

#509 [CDI3] Fix typos
  content/cdi-iii/0009-equacao-calor-solucoes-separaveis.md
Labels: cdi-iii

#510 [CDI3] Fix typo on separable equations example
  content/cdi-iii/0009-equacao-calor-solucoes-separaveis.md
Labels: cdi-iii

#513 [CDI3] Add solution to week 14 exercises
  content/cdi-iii/exercicios/0001-fichas-2021-2022.md
Labels: cdi-iii

#504 [SO] Add week 6 content
  content/so/0008-sistemas.md
  content/so/imgs/0008/monolitic.png
  content/so/imgs/0008/nucleo.png
  content/so/imgs/0008/onion.png
  content/so/imgs/0008/organization.png
  content/so/imgs/0008/vs.png
  content/so/labs/exercicios/0001-lab.md
Labels: so

#511 [ASA] Add missing links
  content/asa/0008-programacao-linear.md
  content/asa/exercicios/0001-fichas-2021-2022.md
Labels: asa

#512 [GES] Improve formatting of pages "Gestão Estratégica" and "Marketing"
  content/ges/0006-gestao-estrategica.md
  content/ges/0007-marketing.md
Labels: ges
