Repository leic-pt/resumos-leic, pull requests merged in 2022-02, with the labels that each got.

#515 [CDI3] Add solution to week 15 exercises
  content/cdi-iii/exercicios/0001-fichas-2021-2022.md
Labels: cdi-iii

#516 [CDI3] Fix typos
  content/cdi-iii/0009-equacao-calor-solucoes-separaveis.md
  content/cdi-iii/0010-serie-fourier.md
Labels: cdi-iii

#517 [CDI3] Fix typo on Laplacian's definition
  content/cdi-iii/0009-equacao-calor-solucoes-separaveis.md
Labels: cdi-iii

#522 [CDI3] Fix definition for even extension of function
  content/cdi-iii/0010-serie-fourier.md
Labels: cdi-iii

#523 [CDI3] Fix wrong formulas in heat equation
  content/cdi-iii/0009-equacao-calor-solucoes-separaveis.md
  content/cdi-iii/0011-equacao-calor-laplace-ondas.md
Labels: cdi-iii

#500 [CDI3] Add content for week 13 (15)
  content/cdi-iii/0010-serie-fourier.md
  content/cdi-iii/0011-equacao-calor-laplace-ondas.md
Labels: cdi-iii

#524 [ASA] Fix various typos
  content/asa/0006-arvores-abrangentes-menor-custo.md
  content/asa/0008-programacao-linear.md
Labels: asa

#521 [ASA] Fix typo
  content/asa/0008-programacao-linear.md
Labels: asa

#526 [ASA] Fix typo: remove incorrect equation
  content/asa/0008-programacao-linear.md
Labels: asa

#528 [ASA] Fix typo
  content/asa/0007-fluxos-maximos.md
Labels: asa

#529 Add more types of filters for dark mode images
  content/ges/0001-introducao-a-gestao.md
  content/ges/0002-organizacoes-recursos-humanos.md
  content/ges/0003-ambiente-economico.md
  content/ges/0004-informacao-financeira.md
  content/ges/0005-analise-projetos-investimento.md
  content/ges/0006-gestao-estrategica.md
  content/ges/0007-marketing.md
  src/styles/main.css
Labels: enhancement, ges

#527 [ASA] Add week 7 content (+ previously missing content)
  content/asa/0001-introducao.md
  content/asa/0006-arvores-abrangentes-menor-custo.md
  content/asa/0007-fluxos-maximos.md
  content/asa/0008-programacao-linear.md
  content/asa/0009-completude-np.md
  content/asa/assets/0007-max-bip-example.png
  content/asa/assets/0007-max-bip-fluxo-unitario.png
  content/asa/assets/0007-union-end.png
  content/asa/assets/0007-union-final.png
  content/asa/assets/0009-clique-exemplo-1.png
  content/asa/assets/0009-clique-exemplo-2.png
  content/asa/assets/0009-clique-tripartido.png
  content/asa/assets/0009-np-reducao.png
  content/asa/assets/0009-reducoes-classicas.png
  content/asa/assets/0009-venn-np.png
Labels: asa

#530 [ASA] Add Duality (Linear Programming content)
  content/asa/0008-programacao-linear.md
  content/asa/assets/0008-primal-dual-graph.png
Labels: asa

#532 [LP] Add different exercise solution (week 8)
  content/lp/exercicios/fichas-aulas-praticas.md
Labels: lp

#534 [ASA] Calhau check on NP Completeness page
  content/asa/0009-completude-np.md
Labels: asa

#537 [GES] Fix typo
  content/ges/0002-organizacoes-recursos-humanos.md
Labels: ges

#538 [Ges] Refactor solved exercise
  content/ges/0004-informacao-financeira.md
Labels: ges

#536 [ASA] fix typo ™
  content/asa/0003-tecnicas-algoritmos.md
  content/asa/0004-algoritmos-elementares.md
  content/asa/0005-caminhos-mais-curtos.md
  content/asa/0007-fluxos-maximos.md
  content/asa/0009-completude-np.md
Labels: asa

#542 [Ges] Fix multiple typos
  content/ges/0002-organizacoes-recursos-humanos.md
  content/ges/0005-analise-projetos-investimento.md
  content/ges/0006-gestao-estrategica.md
Labels: ges

#543 [Ges] Fix typo
  content/ges/0007-marketing.md
Labels: ges

#544 [ASA] Add Clique -> VCover reduction
  content/asa/0009-completude-np.md
  content/asa/assets/0009-complementar-example.png
  content/asa/assets/0009-vcover-example.png
  content/asa/assets/0009-vcover-graph.png
Labels: asa

#545 [Ges] Fix typos
  content/ges/0007-marketing.md
Labels: ges

#550 [Ges] Fix equation
  content/ges/0005-analise-projetos-investimento.md
Labels: ges

#548 [Ges] Fix typo
  content/ges/0002-organizacoes-recursos-humanos.md
  content/ges/0005-analise-projetos-investimento.md
Labels: ges

#551 [ASA] Fix typo
  content/asa/0009-completude-np.md
Labels: asa

#552 [ASA] Add algorithms cheat sheet
  content/asa/1001-algoritmos-sheet.md
Labels: asa

#555 [SO] Add process manager and interruptions
  content/so/0009-process-management.md
Labels: so

#556 [SO] Fix typo
  content/so/0007-comunicacao.md
Labels: so

#547 [LP] Add missing neg. sign on example
  content/lp/0004-logica-primeiraordem-int.md
Labels: lp

#541 [ASA] Prova alternativa para correção do Algoritmo de Johnson
  content/asa/0005-caminhos-mais-curtos.md
  content/asa/0009-completude-np.md
Labels: asa

#557 [LP] Refactor key points
  content/lp/0001-conceitos-gerais.md
  content/lp/0002-logica-proposicional-int.md
  content/lp/0003-logica-proposicional-sc.md
  content/lp/0004-logica-primeiraordem-int.md
  content/lp/0005-logica-primeiraordem-sc.md
  content/lp/0006-prog-logica.md
  content/lp/0007-prolog-intro.md
  content/lp/0008-prolog-mid.md
  content/lp/0009-prolog-corte-neg.md
  content/lp/0010-prolog-lp.md
  content/lp/0011-logica-proposicional-semantico.md
  content/lp/0012-lp-ii-bdds.md
  content/lp/0013-algs-sat.md
  content/lp/0014-lpo-semantico.md
Labels: lp

#562 Use actions/labeler instead of codeowners self merge action
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/codeowners-merge.yml
  .github/workflows/labeler.yml
Labels: enhancement

#563 [Meta] Migrate text to smart colors (katex)
  content/cdi-i/0010-formula-taylor.md
  content/cdi-i/0012-primitivacao.md
  content/cdi-i/0013-integrabilidade.md
  content/cdi-i/0016-series-taylor.md
  content/cdi-ii/0014-variedades.md
  content/cdi-ii/0015-extremos-condicionados.md
  content/md/0003-formulas-fechadas-somatorios.md
  content/md/0004-serie-harmonica.md
  content/md/0006-formula-de-abel.md
  content/md/0010-diffinitas.md
  content/md/1001-calc-finito.md
  content/md/1004-mdc-cheat.md
  content/md/1005-rsa-sheet.md
Labels: cdi-ii, md, cdi-i

#564 [CDI3] Fix typo
  content/cdi-iii/0008-divergencia-rotacional-stokes.md
Labels: cdi-iii

#567 [ASA] Fix typo, add clarification
  content/asa/0008-programacao-linear.md
Labels: asa

#571 [GES] Fix typo
  content/ges/index.md
Labels: ges

#561 [SO] Add Scheduling, memory management mechanisms and algorithms resumes
  content/so/0009-process-management.md
  content/so/0010-memory-management.md
  content/so/imgs/0009/priorities_unix.png
  content/so/imgs/0009/process_creation.svg
  content/so/imgs/0010/adress_space.png
  content/so/imgs/0010/linux_memory.png
  content/so/imgs/0010/multilevel_page_table.png
  content/so/imgs/0010/pages_translation.png
  content/so/imgs/0010/segments_translation.png
  content/so/imgs/0010/tlb.png
  content/so/imgs/0010/tlb_diagram.png
  content/so/imgs/0010/ugm.png
Labels: so

#575 [SO] Improve OS organization section
  content/so/0008-sistemas.md
  content/so/0009-process-management.md
  content/so/imgs/0008/organization.png
  content/so/imgs/0008/so.png
Labels: so

#576 [SO] Removing repeated content
  content/so/0009-process-management.md
Labels: so

#580 [ASA] Add complexity clarification (Knapsack)
  content/asa/0003-tecnicas-algoritmos.md
Labels: asa

#582 [SO] Improve OS Introduction content
  content/so/0001-introducao.md
  content/so/0002-files.md
  content/so/imgs/0001/operational_interface.png
Labels: so

#565 [CDI-III] Fix typos
  content/cdi-iii/0002-sistemas-eq-lineares-coef-constantes.md
  content/cdi-iii/0005-equacoes-ordem-superior.md
  content/cdi-iii/0011-equacao-calor-laplace-ondas.md
Labels: cdi-iii

#588 [CDI1] Add dark mode to Lagrange image
  content/cdi-i/0008-diferenciabilidade.md
Labels: cdi-i

#570 [LP] Change slide images to our own SVG's
  content/lp/0011-logica-proposicional-semantico.md
  content/lp/0012-lp-ii-bdds.md
  content/lp/0013-algs-sat.md
  content/lp/assets/0011-dedsem.png
  content/lp/assets/0011-dedsem.svg
  content/lp/assets/0011-venn.png
  content/lp/assets/0011-venn.svg
  content/lp/assets/0012-arvore-decisao.png
  content/lp/assets/0012-arvore-decisao.svg
  content/lp/assets/0012-bdd.png
  content/lp/assets/0012-bdd.svg
  content/lp/assets/0012-compacta-lista.png
  content/lp/assets/0012-compacta-lista.svg
  content/lp/assets/0012-compativeis.png
  content/lp/assets/0012-compativeis.svg
  content/lp/assets/0012-lp-aplica-1.png
  content/lp/assets/0012-lp-aplica-1.svg
  content/lp/assets/0012-lp-aplica-2.png
  content/lp/assets/0012-lp-aplica-2.svg
  content/lp/assets/0012-lp-aplica-3.png
  content/lp/assets/0012-lp-aplica-3.svg
  content/lp/assets/0012-reduz-pt1.png
  content/lp/assets/0012-reduz-pt2.png
  content/lp/assets/0012-reduz.svg
  content/lp/assets/0013-pm-dag.png
  content/lp/assets/0013-pm-dag.svg
  content/lp/assets/0013-prop1.png
  content/lp/assets/0013-prop1.svg
  content/lp/assets/0013-prop2.png
  content/lp/assets/0013-prop2.svg
  content/lp/assets/0013-prop3.png
  content/lp/assets/0013-prop3.svg
  content/lp/assets/0013-reg-conj.svg
  content/lp/assets/0013-reg-conj1.png
  content/lp/assets/0013-reg-conj2.png
  content/lp/assets/0013-reg-conj3.png
  content/lp/assets/0013-reg-neg.png
  content/lp/assets/0013-reg-neg.svg
  content/lp/assets/0013-teste-nos1.png
  content/lp/assets/0013-teste-nos1.svg
  content/lp/assets/0013-teste-nos2.png
  content/lp/assets/0013-teste-nos2.svg
Labels: lp

#518 [CDI3] Clarify and improve introduction to partial diferencial equation/heat equation
  content/cdi-iii/0009-equacao-calor-solucoes-separaveis.md
Labels: cdi-iii

#591 [SO] Fix typos on process management page
  content/so/0009-process-management.md
Labels: so

#590 [SO] Fix typos
  content/so/0001-introducao.md
  content/so/0002-files.md
  content/so/0003-filesystem.md
  content/so/0004-paralel.md
  content/so/0005-programação.md
  content/so/0006-implementation.md
  content/so/0007-comunicacao.md
  content/so/0009-process-management.md
  content/so/imgs/0008/monolitic.png
  content/so/imgs/0008/nucleo.png
  content/so/imgs/0008/onion.png
  content/so/imgs/0008/vs.png
Labels: so

#520 [CDI3] Clarify and improve introduction of Fourier Series
  content/cdi-iii/0010-serie-fourier.md
Labels: cdi-iii

#577 [SO] Improve content and add interesting facts
  content/so/0008-sistemas.md
  content/so/0009-process-management.md
Labels: so

#584 [SO] Improve paralel programming content
  content/so/0004-paralel.md
  content/so/0005-programação.md
Labels: so

#579 [SO] Improve File systems content
  content/so/0002-files.md
  content/so/0003-filesystem.md
Labels: so

#592 Upgrade prettier workflow action version
  .github/workflows/prettier.yml
Labels: chore

#585 [ASA] Fix typos and clarify some content
  content/asa/0002-teorema-mestre.md
  content/asa/0003-tecnicas-algoritmos.md
  content/asa/0004-algoritmos-elementares.md
  content/asa/0005-caminhos-mais-curtos.md
Labels: asa

#586 [SO] Improve process communication content
  content/so/0004-paralel.md
  content/so/0007-comunicacao.md
  content/so/imgs/0007/redirecting.png
Labels: so

#594 [SO] Fix images not showing and erase duplicated content
  content/so/0004-paralel.md
  content/so/0009-process-management.md
  content/so/imgs/0008/monolitic.png
  content/so/imgs/0008/nucleo.png
  content/so/imgs/0008/onion.png
  content/so/imgs/0008/vs.png
Labels: so

#596 [LP] Clarify paragraph
  content/lp/0011-logica-proposicional-semantico.md
Labels: lp
