Repository leic-pt/resumos-leic, pull requests merged in 2022-12, with the labels that each got.

#893 [RC] Add HTTP and SMTP to Application Layer page
  content/rc/0002-aplicacao.md
  content/rc/assets/0002-HTML-Transfer-NonPersistent.svg
  content/rc/assets/0002-HTML-Transfer-Persistent.svg
  content/rc/assets/0002-URL.svg
  content/rc/assets/0002-blockingHOL-after.svg
  content/rc/assets/0002-blockingHOL-before.svg
  src/styles/main.css
Labels: rc

#896 [Apre] Add exam cheatsheets by @randomicecube and @Rafael-R
  content/apre/cheatsheets/0001-cheatsheet-exame.md
Labels: apre

#895 Fix MathJax not displaying in draw.io SVGs
  src/styles/markdown.css
Labels: bug

#897 [RC] Add Application Layer content - DNS & P2P
  content/rc/0002-aplicacao.md
  content/rc/assets/0003-DNSHierarchy.svg
  content/rc/assets/0003-ResolveHostname.svg
  content/rc/assets/0003-clientServer.svg
  content/rc/assets/0003-p2p.svg
Labels: rc

#898 [RC] Add initial content of Transport Layer
  content/rc/0003-transporte.md
  content/rc/assets/0003-GoBackN-1.png
  content/rc/assets/0003-GoBackN-2.png
  content/rc/assets/0003-GoBackN-3.png
  content/rc/assets/0003-GoBackN-4.png
  content/rc/assets/0003-GoBackN-5.png
  content/rc/assets/0003-GoBackN-6.png
  content/rc/assets/0003-GoBackN-7.png
  content/rc/assets/0003-GoBackN-8.png
  content/rc/assets/0003-SelectiveRepeat-1.png
  content/rc/assets/0003-SelectiveRepeat-2.png
  content/rc/assets/0003-SelectiveRepeat-3.png
  content/rc/assets/0003-SelectiveRepeat-4.png
  content/rc/assets/0003-SelectiveRepeat-5.png
  content/rc/assets/0003-SlidingWindow-IdealScenario.svg
  content/rc/assets/0003-SlidingWindow.svg
  content/rc/assets/0003-StopAndWait.svg
  content/rc/assets/0003-rdt3_0-eg1.svg
  content/rc/assets/0003-rdt3_0-eg2.svg
  content/rc/assets/0003-rdt3_0-eg3.svg
  content/rc/assets/0003-rdt3_0-eg4.svg
  content/rc/assets/0003-segment.svg
Labels: rc

#899 [RC] Fix typos
  content/rc/0001-introducao.md
  content/rc/0002-aplicacao.md
Labels: rc

#900 [RC] Add content about the Network Layer
  content/rc/0004-rede.md
  content/rc/assets/0004-3subnetworks.svg
  content/rc/assets/0004-DHCP.svg
  content/rc/assets/0004-NATReceiving.svg
  content/rc/assets/0004-NATSending.svg
  content/rc/assets/0004-addressing.svg
  content/rc/assets/0004-broadcastLoop.svg
  content/rc/assets/0004-datagram.svg
  content/rc/assets/0004-routersToGraphs.svg
  content/rc/assets/0004-tunneling.svg
Labels: rc

#901 [RC] Add Data Link Layer initial content
  content/rc/0005-ligacao-dados.md
  content/rc/assets/0005-busTopology.svg
  content/rc/assets/0005-juniperEX2300.png
  content/rc/assets/0005-routingAnotherLAN.svg
  content/rc/assets/0005-starTopology.svg
Labels: rc
