Repository leic-pt/resumos-leic, pull requests merged in 2022-09, with the labels that each got.

#835 Add link to 3rd year UCs
  content/ams/index.md
  content/apre/index.md
  content/cg/index.md
  content/comp/index.md
  content/es/index.md
  content/oc/index.md
  content/rc/index.md
  content/sd/index.md
Labels: rc, ams, apre, cg, comp, es, oc, sd

#833 [AL] Add beginning content
  content/al/0001-introducao.md
  content/al/0002-operacoes-matrizes.md
  content/al/0003-determinantes.md
  content/al/index.md
Labels: al

#836 Add HASS courses
  content/assets/der.svg
  content/assets/ieco.svg
  content/der/index.md
  content/ieco/index.md
  content/index.md
Labels: enhancement, meta

#837 [Apre] Add machine learning content
  content/apre/0001-machine-learning.md
Labels: apre

#839 [PO] Update year in CVSROOT
  content/po/guides/0001-cvs.md
Labels: po

#842 chore: update contributors
  .github/CODEOWNERS
  .github/labeler.yml
  content/index.md
Labels: meta, chore

#840 [OC] Add computer performance content
  content/oc/0001-metricas-performance.md
  content/oc/index.md
Labels: oc

#841 [OC] Add computer architecture content and enhance performance metrics content
  content/oc/0001-metricas-performance.md
  content/oc/assets/0001-datapath-control-unit.svg
  content/oc/assets/0001-levels-program-code.svg
  content/oc/assets/0001-planes-example.svg
Labels: oc

#838 [Apre] Add intro to ML content
  content/apre/0001-machine-learning.md
  content/apre/assets/0001-ai-venn.svg
  content/apre/assets/0001-ml.png
  content/apre/assets/0001-sistema.png
  content/apre/assets/0001-symbolic-learning.png
  content/apre/index.md
Labels: apre

#843 [OC] Improve readability on performance metrics page
  content/oc/0001-metricas-performance.md
Labels: oc

#845 [OC] Overall fix on the Performance Metrics page
  content/oc/0001-metricas-performance.md
Labels: oc
