Repository leic-pt/resumos-leic, pull requests merged in 2022-05, with the labels that each got.

#714 [TC] Further reviewing and cleanup
  content/tc/0001-linguagens-e-automatos.md
  content/tc/0002-maquinas-de-turing.md
  content/tc/0003-teoria-da-computabilidade.md
  content/tc/0004-complexidade-computacional.md
Labels: tc

#716 [PE] Add R setup and basics guides
  .github/CODEOWNERS
  content/pe/guides/0001-r-setup.md
  content/pe/guides/0002-r-basics.md
  content/pe/guides/imgs/0001-dropdown-kernel.png
  content/pe/guides/imgs/0001-select-kernel.png
  content/pe/index.md
  src/styles/main.css
Labels: pe

#717 [Meta] Add liability disclaimer
  content/index.md
Labels: meta

#719 Redesign searchbar for better styling and UX
  .github/workflows/docs-scraper.config.json
  .github/workflows/gh-page-scraping.yml
  package.json
  src/components/Dialog/Dialog.css
  src/components/Dialog/Dialog.js
  src/components/Dialog/index.js
  src/components/PageLayout.js
  src/components/SearchBar.js
  src/components/SearchBar/Highlight.js
  src/components/SearchBar/Hit.js
  src/components/SearchBar/NoResults.js
  src/components/SearchBar/README.md
  src/components/SearchBar/ResultsContainer.js
  src/components/SearchBar/SearchBar.css
  src/components/SearchBar/SearchBar.js
  src/components/SearchBar/SearchForm.js
  src/components/SearchBar/SearchModal.js
  src/components/SearchBar/SectionHit.js
  src/components/SearchBar/StartSearching.js
  src/components/SearchBar/autocomplete.js
  src/components/SearchBar/index.js
  src/components/SearchBar/useTouchEvents.js
  src/components/icons/Search.js
  src/hooks/useCurrentSection.js
  src/hooks/useTrapFocus.js
  src/styles/main.css
  src/styles/searchbar.css
  yarn.lock
Labels: enhancement

#720 Update MeiliSearch search key
  src/components/SearchBar/NoResults.js
  src/components/SearchBar/SearchBar.js
Labels: bug

#721 Upgrade dependencies to support Node 18
  package.json
  yarn.lock
Labels: chore

#722 Fix search dialog being covered up by browser UI on mobile
  src/components/Dialog/Dialog.css
  src/components/SearchBar/SearchBar.js
  src/hooks/useViewHeightCSS.js
Labels: bug

#723 Only listen to resize events when a dialog is open
  src/components/Dialog/Dialog.js
  src/components/SearchBar/SearchBar.js
  src/hooks/useViewHeightCSS.js
Labels: enhancement

#725 [Meta] Update contributors
  content/index.md
Labels: meta

#694 [PE] Add VA discretas
  content/pe/0003-va-discretas.md
Labels: pe

#695 [PE] Add VA contínuas
  content/pe/0004-va-continuas.md
Labels: pe

#727 [BD] Add introduction to DBMSs
  content/bd/0001-intro-dbms.md
  content/bd/assets/0001-ansi-sparc-architecture.svg
  content/bd/assets/0001-dbms-architecture.svg
  content/bd/assets/0001-dbms-examples.png
  content/bd/index.md
Labels: bd

#732 [Meta] Update contributors and CODEOWNERs for IA and BD
  .github/CODEOWNERS
  content/index.md
Labels: meta

#733 Update labeler config with IA and EMD configurations
  .github/labeler.yml
Labels: chore

#728 [BD] Fix typos and improve wording
  content/bd/0001-intro-dbms.md
Labels: bd

#731 [BD] Add Introduction to SQL
  content/bd/0002-sql.md
Labels: bd

#726 [IA] Add first week content
  content/ia/0001-agentes.md
  content/ia/0001-procura-cega.md
  content/ia/0002-resolucao-procura.md
  content/ia/imgs/0001-agentes-racionais.png
  content/ia/imgs/0001-aspirador.png
  content/ia/imgs/0001-goal-based-agent.png
  content/ia/imgs/0001-learning-agent.png
  content/ia/imgs/0001-model-based-reflex-agent.png
  content/ia/imgs/0001-simple-reflex-agent.png
  content/ia/imgs/0001-utility-based-agent.png
  content/ia/imgs/0002-arvore-procura-arad-fase1.svg
  content/ia/imgs/0002-arvore-procura-arad-fase2.svg
  content/ia/imgs/0002-arvore-procura-arad-fase3.svg
  content/ia/imgs/0002-bfs-exemplo.svg
  content/ia/imgs/0002-dfs-iterativa.svg
  content/ia/imgs/0002-dfs.svg
  content/ia/imgs/0002-eight-queens.png
  content/ia/imgs/0002-procura-custo-uniforme.svg
  content/ia/imgs/0002-romania-graph.svg
  content/ia/imgs/0002-teste-expansao-vs-geracao.svg
Labels: ia

#736 [BD] Add set operations and `JOIN` operator
  content/bd/0002-sql.md
  content/bd/assets/0002-join-diagrams.svg
Labels: bd

#740 [IA] Fix typos
  content/ia/0002-resolucao-procura.md
Labels: ia

#735 [BD] Fix typos on SQL page
  content/bd/0002-sql.md
Labels: bd

#742 Fix searchbox on Firefox occupying entire navbar
  src/components/Footer/Footer.css
  src/components/SearchBar/SearchBar.css
  src/components/icons/GitHub.js
  src/components/icons/Search.js
Labels: bug

#743 [IA] Fix typos and improve wording
  content/ia/0001-agentes.md
  content/ia/0002-resolucao-procura.md
Labels: ia

#741 [IA] Add second week content
  content/ia/0002-procura-cega.md
  content/ia/0003-procura-informada.md
  content/ia/imgs/0003-8-puzzle-exemplo.svg
  content/ia/imgs/0003-a-estrela-arad-bucareste.svg
  content/ia/imgs/0003-a-estrela-nao-otima.svg
  content/ia/imgs/0003-desigualdade-triangular.svg
  content/ia/imgs/0003-grafico-nao-admissiveis.svg
  content/ia/imgs/0003-greedy-arad-bucareste.svg
  content/ia/imgs/0003-heuristica-arvore.svg
  content/ia/imgs/0003-ida-estrela.svg
  content/ia/imgs/0003-procura-grafo-nao-otima.svg
  content/ia/imgs/0003-rbfs-fase-1.svg
  content/ia/imgs/0003-rbfs-fase-2.svg
  content/ia/imgs/0003-rbfs-fase-3.svg
  content/ia/imgs/0003-tabela-comparacao.svg
Labels: ia

#737 [BD] Add ER Model entities and associations
  content/bd/0003-er-model.md
  content/bd/assets/0003-aggregations-course-semester.svg
  content/bd/assets/0003-club-example-1.svg
  content/bd/assets/0003-club-example-2.svg
  content/bd/assets/0003-club-example-3.svg
  content/bd/assets/0003-club-example-wrong-specialization.svg
  content/bd/assets/0003-er-cardinality-constraints.svg
  content/bd/assets/0003-er-entity.svg
  content/bd/assets/0003-er-participation-constraints.svg
  content/bd/assets/0003-er-relations-example-delegate-degree.svg
  content/bd/assets/0003-er-relations-example-student-course.svg
  content/bd/assets/0003-er-relationship-attributes.svg
  content/bd/assets/0003-er-relationship-ternary.svg
  content/bd/assets/0003-er-relationship.svg
  content/bd/assets/0003-integrity-constraints-circularity.svg
  content/bd/assets/0003-integrity-constraints-supermarket.svg
  content/bd/assets/0003-integrity-constraints-unique.svg
  content/bd/assets/0003-teacher-student-example.svg
  content/bd/assets/0003-types-of-specializations.svg
  content/bd/assets/0003-weak-entities-streets.svg
Labels: bd

#745 [IA] Fix typos and improve wording on the Informed Search page
  content/ia/0003-procura-informada.md
Labels: ia

#746 [BD] Fix typos and improve wording on the ER Model page
  content/bd/0003-er-model.md
Labels: bd

#748 [IAC] Add first week content
  content/iac/0001-introducao.md
  content/iac/0002-mundo-binario.md
  content/iac/0003-primeiro-computador.md
  content/iac/assets/0001-dennard-scaling.png
  content/iac/assets/0001-era-pos-pc.png
  content/iac/assets/0001-lei-de-moore.png
  content/iac/assets/0002-bascula.png
  content/iac/assets/0002-binario-decimal.png
  content/iac/assets/0002-binario-hexadecimal.png
  content/iac/assets/0002-contas.png
  content/iac/assets/0002-exemplo-tb.png
  content/iac/assets/0002-exemplos.png
  content/iac/assets/0002-hexadecimal-binario.png
  content/iac/assets/0002-multi-2-1.png
  content/iac/assets/0002-multi-4-1.png
  content/iac/assets/0002-multiplexer.png
  content/iac/assets/0002-negativo.png
  content/iac/assets/0002-notacao.png
  content/iac/assets/0002-portas-and.png
  content/iac/assets/0002-portas-nand.png
  content/iac/assets/0002-portas-nor.png
  content/iac/assets/0002-portas-not.png
  content/iac/assets/0002-portas-or.png
  content/iac/assets/0002-portas-xor.png
  content/iac/assets/0002-sinal.png
  content/iac/assets/0002-subtracao.png
  content/iac/assets/0002-tabela-numeros.png
  content/iac/assets/0002-trinco-d.png
  content/iac/assets/0002-trinco-sr.png
  content/iac/assets/0003-1a.png
  content/iac/assets/0003-2a.png
  content/iac/assets/0003-3a.png
  content/iac/assets/0003-4a.png
  content/iac/assets/0003-5a.png
  content/iac/assets/0003-6a.png
  content/iac/assets/0003-7a.png
  content/iac/assets/0003-assembly.png
  content/iac/assets/0003-componentes-pc.png
  content/iac/assets/0003-memoria.png
  content/iac/assets/0003-primeiro-computador.png
  content/iac/assets/0003-processador-mem.png
  content/iac/assets/0003-programa-assembly.png
Labels: iac

#754 [PE] Fix typo
  content/index.md
  content/pe/guides/0001-r-setup.md
Labels: meta, pe

#750 [BD] Add relational model and conversion from ER model
  content/bd/0004-relational-model-conversion.md
  content/bd/assets/0004-aggregations.svg
  content/bd/assets/0004-association-many-to-many-mandatory.svg
  content/bd/assets/0004-association-many-to-many.svg
  content/bd/assets/0004-association-one-to-many-mandatory.svg
  content/bd/assets/0004-association-one-to-many.svg
  content/bd/assets/0004-association-one-to-one.svg
  content/bd/assets/0004-convert-entity-attributes.svg
  content/bd/assets/0004-specialization-nested.svg
  content/bd/assets/0004-weak-entities.svg
Labels: bd

#749 [IA] Add third week content
  content/ia/0004-satisfacao-restricoes.md
  content/ia/imgs/0004-australia-constraint-graph.svg
  content/ia/imgs/0004-australia-map-colored.svg
  content/ia/imgs/0004-australia-map.svg
  content/ia/imgs/0004-backjumping-not-enough.svg
  content/ia/imgs/0004-backtracking-search-example.svg
  content/ia/imgs/0004-backtracking-with-backjumping.svg
  content/ia/imgs/0004-backtracking-without-backjumping.svg
  content/ia/imgs/0004-basic-search-example-without-redundancies.svg
  content/ia/imgs/0004-basic-search-example.svg
  content/ia/imgs/0004-choosing-variables-matters.svg
  content/ia/imgs/0004-conflict-directed-backjumping.svg
  content/ia/imgs/0004-constraint-hypergraph-sudoku.svg
  content/ia/imgs/0004-forward-checking-example.svg
  content/ia/imgs/0004-local-search-initial.svg
  content/ia/imgs/0004-local-search-step-2.svg
  content/ia/imgs/0004-local-search-step-3.svg
  content/ia/imgs/0004-smart-backtracking.svg
  content/ia/imgs/0004-sudoku-grid-ac3.png
  content/ia/imgs/0004-sudoku-grid-solved-ac3.png
Labels: ia

#762 [IA] Fix typos - third week
  content/ia/0004-satisfacao-restricoes.md
Labels: ia
