Repository leic-pt/resumos-leic, pull requests merged in 2022-03, with the labels that each got.

#597 [Fis1] Add recap physics high school guide
  content/fis-i/guides/0001-recap-highschool.md
  content/fis-i/guides/assets/0001-force-decomposition.svg
  content/fis-i/guides/assets/0001-inclined-plane.svg
  content/fis-i/guides/assets/0001-movement-graphs.svg
  content/fis-i/index.md
Labels: fis-i

#598 Update contributor list for Fis-I
  content/index.md
Labels: meta

#600 Update contributor list for SO, TC and PE
  content/index.md
Labels: meta

#599 [Fis1] Add one dimensional kinematics content
  content/fis-i/0001-kinematics-1d.md
  content/fis-i/assets/0001-path.png
  content/fis-i/assets/0001-vehicle-breaking-graphs-example.svg
  content/fis-i/assets/0001-vehicle-breaking-graphs.svg
  content/fis-i/assets/0001-vertical-throw-graphs-example.svg
  content/fis-i/assets/0001-vertical-throw-graphs.svg
  gatsby-config.js
Labels: fis-i

#602 [Fis-I] fix typo
  content/fis-i/0002-kinematics-2d.md
Labels: fis-i

#601 [Fis1] Add two dimensional kinematics content
  content/fis-i/0002-kinematics-2d.md
  content/fis-i/assets/0001-vehicle-breaking-graphs-example.svg
  content/fis-i/assets/0001-vehicle-breaking-graphs.svg
  content/fis-i/assets/0001-vertical-throw-graphs-example.svg
  content/fis-i/assets/0001-vertical-throw-graphs.svg
  content/fis-i/assets/0002-polar-coordinates.svg
  content/fis-i/assets/0002-projectile-launch-example-trajectory.svg
  content/fis-i/assets/0002-projectile-launch-summary.png
  content/fis-i/assets/0002-projectile-launch-velocity-vector-decomposition.svg
Labels: fis-i

#607 [Fis1] Fix typos
  content/fis-i/0002-kinematics-2d.md
Labels: fis-i

#604 [IPM] Add introduction
  content/ipm/0001-introducao.md
  content/ipm/assets/0001-etapas-desenho-iterativo.png
  content/ipm/assets/0001-modelo-cascata.png
  content/ipm/assets/0001-modelo-desenho-iterativo.png
  content/ipm/index.md
Labels: ipm

#603 [TC] Add Linguagens e Autómatos
  content/tc/0001-linguagens-e-automatos.md
  content/tc/imgs/0001/AFD_MINIMIZADO.png
  content/tc/imgs/0001/AFD_graph.png
  content/tc/imgs/0001/AFND_graph.png
  content/tc/imgs/0001/APEN_AUTOM_INI.png
  content/tc/imgs/0001/BFS_ACESSIVEIS_1.png
  content/tc/imgs/0001/BFS_ACESSIVEIS_2.png
  content/tc/imgs/0001/BFS_ACESSIVEIS_3.png
  content/tc/imgs/0001/BFS_PRODUTIVOS_1.png
  content/tc/imgs/0001/BFS_PRODUTIVOS_2.png
  content/tc/imgs/0001/BFS_PRODUTIVOS_3.png
  content/tc/imgs/0001/DISTINGUIVEIS-AFD.png
  content/tc/imgs/0001/MINIMIZACAO-AFD.png
  content/tc/imgs/0001/PALAVRA1_PASSO_1.png
  content/tc/imgs/0001/PALAVRA1_PASSO_2.png
  content/tc/imgs/0001/PALAVRA1_PASSO_3.png
  content/tc/imgs/0001/PALAVRA1_PASSO_4.png
  content/tc/imgs/0001/PALAVRA1_PASSO_5.png
  content/tc/imgs/0001/PALAVRA1_PASSO_6.png
  content/tc/imgs/0001/PALAVRA2_PASSO_2.png
  content/tc/imgs/0001/PALAVRA2_PASSO_3.png
  content/tc/imgs/0001/PALAVRA2_PASSO_4.png
  content/tc/imgs/0001/PALAVRA2_PASSO_5.png
  content/tc/imgs/0001/PALAVRA2_PASSO_6.png
  content/tc/imgs/0001/PALAVRA2_PASSO_7.png
  content/tc/imgs/0001/PALAVRA_ACEITE_AFND.png
  content/tc/index.md
Labels: tc

#608 [TC] Add Expressões Regulares. Lema de Pumping. Autómatos de Pilha. Linguagens Independentes do Contexto
  content/tc/0001-linguagens-e-automatos.md
Labels: tc

#609 [TC] Correction on Pumping Lemma proof
  content/tc/0001-linguagens-e-automatos.md
Labels: tc

#610 [TC] Add missing image
  content/tc/0001-linguagens-e-automatos.md
  content/tc/imgs/0001/fecho_epsilon.png
Labels: tc

#611 [TC] Clarification on acessible and productive states
  content/tc/0001-linguagens-e-automatos.md
Labels: tc

#612 [TC] Fix typo
  content/tc/0001-linguagens-e-automatos.md
Labels: tc

#614 [TC] Fix typos
  content/tc/0001-linguagens-e-automatos.md
Labels: tc

#615 [TC] Improve explanation of Push-down Automaton
  content/tc/0001-linguagens-e-automatos.md
Labels: tc

#617 [TC] Add exercise solutions by @diogotcorreia (2021-2022)
  content/tc/exercicios/0001-fichas-2021-2022.md
Labels: tc

#618 Update link to report incorrect solutions
  content/asa/exercicios/0001-fichas-2021-2022.md
  content/cdi-i/exercicios/0001-fichas-2020-2021.md
  content/cdi-ii/exercicios/fichas-aulas-praticas.md
  content/cdi-iii/exercicios/0001-fichas-2021-2022.md
  content/fis-ii/exercicios/0001-fichas-2021-2022.md
  content/fp/exercises/0001-ficha-pavao.md
  content/lp/exercicios/fichas-aulas-praticas.md
  content/md/exercicios/fichas-aulas-praticas.md
  content/so/labs/exercicios/0001-lab.md
Labels: cdi-ii, lp, md, cdi-i, fp, cdi-iii, fis-ii, asa, so

#621 [CDI3] Fix typo on non homogenous case for ODEs
  content/cdi-iii/0001-equacoes-diferenciais-ordinarias.md
Labels: cdi-iii

#627 [TC] Finish Independent Languages section
  content/tc/0001-linguagens-e-automatos.md
Labels: tc

#629 [Fis1] Add solutions to 2021/2022 exercises (weeks 1 and 2)
  content/fis-i/exercicios/0999-fichas-2021-2022.md
Labels: fis-i

#630 [TC] Add solutions to chapter 3 (2021-2022)
  content/tc/exercicios/0001-fichas-2021-2022.md
Labels: tc

#632 [Fis1] Add week 1 and 2 solutions (2021-2022) by @constancadcunha
  content/fis-i/exercicios/0999-fichas-2021-2022.md
Labels: fis-i

#628 [IPM] Add content from week 2
  content/ipm/0001-introducao.md
  content/ipm/0002-dispositivos-moveis.md
  content/ipm/assets/0002-ipm-ml-sensor-fusion.png
  content/ipm/assets/0002-tapping-error-rate-graph.svg
Labels: ipm

#616 [TC] Add Turing machine chapter
  content/tc/0002-maquinas-de-turing.md
  content/tc/imgs/0002/conversion.png
  content/tc/imgs/0002/s-movement.png
  content/tc/imgs/0002/turing-machine-decide.png
  content/tc/imgs/0002/turing-machine-function.png
  content/tc/imgs/0002/turing-machine-palyndrome.png
  content/tc/imgs/0002/turing-machine-recognize.png
Labels: tc

#633 [IPM] Add content from week 3
  content/ipm/0003-fatores-humanos.md
  content/ipm/assets/0003-colored-words.png
  content/ipm/assets/0003-lei-hick.svg
  content/ipm/assets/0003-lei-stu-card.png
  content/ipm/assets/0003-visao-audicao-toque.svg
Labels: ipm

#634 Add @constancadcunha to contributor list
  content/index.md
Labels: meta

#637 [IPM] Add História de IPM
  content/ipm/0004-historia-ipm.md
Labels: ipm

#635 [TC] Minor fixes on Turing Machine chapter
  content/tc/0002-maquinas-de-turing.md
  content/tc/imgs/0002/palyndrome.svg
Labels: tc

#638 [TC] Add computability theory chapter
  content/tc/0003-teoria-da-computabilidade.md
Labels: tc

#639 [IPM] Fix typos/content cleanup on modules 3 and 4
  content/ipm/0003-fatores-humanos.md
  content/ipm/0004-historia-ipm.md
  content/ipm/assets/0003-success.png
  content/ipm/assets/0004-as-we-think-1.jpg
Labels: ipm

#640 [TC] Fix typo
  content/tc/0002-maquinas-de-turing.md
Labels: tc

#643 chore: run prettier
  content/ipm/0003-fatores-humanos.md
Labels: ipm, chore

#641 [TC] Add resources
  content/tc/index.md
Labels: tc

#644 [Fis1] Add solutions to TP05 and TP06 (2021-2022)
  content/fis-i/exercicios/0999-fichas-2021-2022.md
Labels: fis-i

#645 [IPM] Fix typos
  content/ipm/0003-fatores-humanos.md
  content/ipm/0004-historia-ipm.md
Labels: ipm

#646 [IPM] Fix typo
  content/ipm/0003-fatores-humanos.md
  content/ipm/0004-historia-ipm.md
Labels: ipm
