Repository leic-pt/resumos-leic, pull requests merged in 2023-07, with the labels that each got.

#967 Add project portfolios
  content/index.md
Labels: meta

#968 chore: update prettier to 3.0.0
  content/lp/0014-lpo-semantico.md
  package.json
  src/components/md-tools/CalendarCalculator.js
  src/components/md-tools/FFTCalculator.js
  yarn.lock
Labels: lp, chore

#966 [PE] Fix teste de hipoteses
  content/pe/0009-teste-de-hipoteses.md
Labels: pe

#969 [SO] Add cpu.land resource link
  content/so/index.md
Labels: so

#970 chore(nix flake): configure puppeteer to allow local build
  flake.nix
Labels: chore
