Repository leic-pt/resumos-leic, pull requests merged in 2023-01, with the labels that each got.

#902 [Ges] Fix incorrect cash flow formula
  content/ges/0005-analise-projetos-investimento.md
Labels: ges

#903 [RC] Fix Typo
  content/rc/0005-ligacao-dados.md
Labels: rc

#907 Upgrade to Gatsby v5
  README.md
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/PageLayout.js
  yarn.lock
Labels: chore

#910 Allow puppeteer to cache browser in project directory
  .puppeteerrc.cjs
  README.md
Labels: bug

#909 Open edit page on new tab
  src/components/ExternalLink.js
  src/components/PageLayout.js
Labels: bug

#911 Add engine to package.json to require Node 18
  package.json
Labels: enhancement, chore

#912 Render SVGs as img elements
  plugins/gatsby-remark-post-image-data/gatsby-browser.js
  plugins/gatsby-remark-post-image-data/index.js
  src/styles/main.css
  src/styles/markdown.css
Labels: bug

#913 [ASA] Adjust colors of images for better readability
  content/asa/0003-tecnicas-algoritmos.md
  content/asa/0004-algoritmos-elementares.md
  content/asa/0005-caminhos-mais-curtos.md
  content/asa/0006-arvores-abrangentes-menor-custo.md
  content/asa/0007-fluxos-maximos.md
  content/asa/assets/0004-dfs-grafo-primeiro-exemplo.gif
Labels: asa

#905 [RC] Add STP, CSMA and Wi-Fi to data link layer
  content/rc/0005-ligacao-dados.md
  content/rc/assets/0005-CSMACAExercisePt1.svg
  content/rc/assets/0005-CSMACAExercisePt2.svg
  content/rc/assets/0005-CSMACAExercisePt3.svg
  content/rc/assets/0005-CSMACAExercisePt4.svg
  content/rc/assets/0005-CSMACAExercisePt5.svg
  content/rc/assets/0005-CSMACAExercisePt6.svg
  content/rc/assets/0005-CSMACAExercisePt7.svg
  content/rc/assets/0005-CSMACAExercisePt8.svg
  content/rc/assets/0005-CSMACAExercisePt9.svg
  content/rc/assets/0005-STPExercisePt1.svg
  content/rc/assets/0005-STPExercisePt2.svg
  content/rc/assets/0005-STPExercisePt3.svg
  content/rc/assets/0005-STPExercisePt4.svg
  content/rc/assets/0005-STPExercisePt5.svg
  content/rc/assets/0005-STPExercisePt6.svg
  content/rc/assets/0005-STPExercisePt7.svg
  content/rc/assets/0005-STPExercisePt8.svg
  content/rc/assets/0005-ethernetFrameStructure.svg
  content/rc/assets/0005-hiddenTerminalProblem.svg
  content/rc/assets/0005-hierarchicalSwitching.svg
  content/rc/assets/0005-hierarchicalSwitchingExampleSendingC.svg
  content/rc/assets/0005-hierarchicalSwitchingExampleSendingI.svg
  content/rc/assets/0005-hierarchicalSwitchingWithRedundancy.svg
Labels: rc

#914 Embed images inside SVGs
  content/rc/0002-aplicacao.md
  content/rc/0005-ligacao-dados.md
  content/rc/assets/0002-DNSHierarchy.svg
  content/rc/assets/0002-clientServer.svg
  content/rc/assets/0002-p2p.svg
  content/rc/assets/0003-ResolveHostname.svg
  content/rc/assets/0003-clientServer.svg
  content/rc/assets/0003-p2p.svg
  content/rc/assets/0004-3subnetworks.svg
  content/rc/assets/0004-DHCP.svg
  content/rc/assets/0004-NATReceiving.svg
  content/rc/assets/0004-NATSending.svg
  content/rc/assets/0005-busTopology.svg
  content/rc/assets/0005-hiddenTerminalProblem.svg
  content/rc/assets/0005-hierarchicalSwitching.svg
  content/rc/assets/0005-hierarchicalSwitchingExampleSendingC.svg
  content/rc/assets/0005-hierarchicalSwitchingExampleSendingI.svg
  content/rc/assets/0005-hierarchicalSwitchingWithRedundancy.svg
  content/rc/assets/0005-routingAnotherLAN.svg
  content/rc/assets/0005-starTopology.svg
Labels: bug, rc

#915 [RC] Fix typos and clarify example
  content/rc/0001-introducao.md
Labels: rc

#917 Fix mermaid diagrams not being inverted on dark mode
  src/styles/main.css
Labels: bug

#918 [RC] Fix small typo on exercise
  content/rc/0005-ligacao-dados.md
Labels: rc

#919 [RC] Fix typos and rewording
  content/rc/0004-rede.md
Labels: rc

#920 Fix site crashing on search
  package.json
  src/components/SearchBar/Highlight.js
  src/components/SearchBar/Hit.js
  src/components/ThemeSettings.js
  src/hooks/theme-hooks.js
  yarn.lock
Labels: bug

#916 [RC] Add additional (and final) content of Transport Layer
  content/rc/0003-transporte.md
  content/rc/assets/0003-TCPsegment.svg
  content/rc/assets/0003-exemploSeqACK.svg
  content/rc/assets/0003-graficoSerraAIMD-CUBIC.svg
  content/rc/assets/0003-graficoSerraAIMD.svg
Labels: rc

#921 [RC] Fix typos in data link layer page
  content/rc/0005-ligacao-dados.md
Labels: rc

#923 [RC] Fix typos in transport layer page
  content/rc/0003-transporte.md
Labels: rc

#924 [RC] Add layer terminology comparison table
  content/rc/guides/0001-terminologia.md
Labels: rc

#925 [RC] Fix some typos
  content/rc/0005-ligacao-dados.md
Labels: rc

#926 [RC] Fix typo in CSMA/CA
  content/rc/0003-transporte.md
  content/rc/0005-ligacao-dados.md
Labels: rc

#927 [AMS] Add systems engineering content
  content/ams/0001-systems-engineering.md
  content/ams/assets/0001-system-uml.png
  content/ams/assets/0002-system-engineering.png
Labels: ams

#928 [RC] Fix typo
  content/rc/0002-aplicacao.md
Labels: rc

#930 [RC] Remove no content warning
  content/rc/index.md
Labels: rc

#931 [RC] Fix typos
  content/rc/0002-aplicacao.md
  content/rc/0003-transporte.md
  content/rc/0004-rede.md
  content/rc/0005-ligacao-dados.md
Labels: rc

#932 [RC] Fix small typo in Datalink layer content
  content/rc/0005-ligacao-dados.md
Labels: rc

#933 [RC] Finish incomplete example
  content/rc/0005-ligacao-dados.md
Labels: rc
