Repository leic-pt/resumos-leic, pull requests merged in 2023-03, with the labels that each got.

#948 chore: update prettier action version to 4.3
  .github/workflows/prettier.yml
Labels: chore

#945 [ASA] Fix typo on Kruskal's example
  content/asa/assets/0006-kruskal-exemplo-1.svg
  content/asa/assets/0006-kruskal-exemplo-2.svg
  content/asa/assets/0006-kruskal-exemplo-3.svg
  content/asa/assets/0006-kruskal-exemplo-4.svg
  content/asa/assets/0006-kruskal-exemplo-5.svg
Labels: asa

#946 [ASA] Add String Matching content
  content/asa/0010-string-matching.md
  content/asa/1001-algoritmos-sheet.md
Labels: asa

#947 [TC] Fix typo in APEN example
  content/tc/0001-linguagens-e-automatos.md
Labels: tc

#951 [SD] Add introdução
  content/sd/0001-introducao.md
  content/sd/index.md
Labels: sd

#954 [PE] Add 3b1b's video about the Central Limit Theorem
  content/pe/0006-comb-lineares-de-va.md
Labels: pe

#956 [TC] Fix Prova Turing Machines Unidirecionais equivalentes a Bidirecionais
  content/tc/0002-maquinas-de-turing.md
Labels: tc
