Repository leic-pt/resumos-leic, pull requests merged in 2023-11, with the labels that each got.

#976 [Apre] Fix typo on page title
  content/apre/0009-regression-model-evaluation.md
Labels: apre

#977 [OC] Add page about pipelines
  content/oc/0006-pipelines.md
  content/oc/assets/0006-2bitpredictor.png
  content/oc/assets/0006-dataforwarding.png
  content/oc/assets/0006-dataforwardingeg.png
  content/oc/assets/0006-datahazard.png
  content/oc/assets/0006-pipeline.png
Labels: oc

#624 [Fis1] Add content about forces
  content/fis-i/0003-forces.md
  content/fis-i/assets/0003-force-systems-blocks-force-diagram.svg
  content/fis-i/assets/0003-force-systems-blocks-with-force-f.svg
  content/fis-i/assets/0003-friction-force-chart.svg
  content/fis-i/assets/0003-friction-force-diagram.svg
Labels: fis-i

#849 [Fis1] Add Trabalho de Forças and Momentum
  content/fis-i/0004-work.md
  content/fis-i/0005-momentum.md
  content/fis-i/assets/0004-polar-coordinates-work.png
  content/fis-i/assets/0004-work-complex-movement.png
  content/fis-i/assets/0004-work-simple.png
  content/fis-i/assets/0005-center-of-mass.png
  content/fis-i/assets/0005-closed-system2.png
  content/fis-i/assets/0005-completely-elastic-colision.png
  content/fis-i/assets/0005-completely-inelastic-colision.png
Labels: hacktoberfest-accepted, fis-i

#978 [Ges] Fix typo in LaTeX formula
  content/ges/0004-informacao-financeira.md
Labels: ges

#886 [AL] Add content up to vector space basis
  content/al/0004-espacos-vetoriais.md
  content/al/0005-bases.md
Labels: al

#958 [ES] Add unit testing and code coverage
  content/es/0002-unit-tests.md
  content/es/0003-code-coverage.md
Labels: es

#876 [OC] Fix virtual memory content
  content/oc/0004-memoria-caches.md
  content/oc/0005-memoria-virtual.md
  content/oc/assets/0005-design.png
Labels: hacktoberfest-accepted, oc

#823 [PE] Add missing examples and properties; general cleanup
  content/pe/0001-nocoes-basicas.md
  content/pe/0002-variaveis-aleatorias.md
  content/pe/0003-va-discretas.md
  content/pe/0004-va-continuas.md
  content/pe/0006-comb-lineares-de-va.md
  content/pe/0007-estimacao-pontual.md
  content/pe/0008-estimacao-por-intervalos.md
  content/pe/0009-teste-de-hipoteses.md
  content/pe/assets/0002-continuous-fd-graph.svg
  content/pe/assets/0002-discrete-fd-graph.svg
  content/pe/assets/0004-table.png
  content/pe/assets/0007-populacao-amostra.svg
  content/pe/imgs/0002/continuous_fd_graph.png
  content/pe/imgs/0002/discrete_fd_graph.png
Labels: pe
