Repository leic-pt/resumos-leic, pull requests merged in 2023-09, with the labels that each got.

#971 [CDI-I] Fix typo
  content/cdi-i/0007-continuidade-limites.md
Labels: cdi-i

#972 [Apre] Fix typo
  content/apre/0003-data-analysis.md
Labels: apre

#973 [RC] Fix wrong IPv6 number of bits (it is 128 instead of 256)
  content/rc/0002-aplicacao.md
Labels: rc
