Repository leic-pt/resumos-leic, pull requests merged in 2023-02, with the labels that each got.

#935 [Meta] Add @PedroChaps as main contributor of RC
  content/index.md
Labels: meta

#936 Fix the switching search scope bugs
  src/components/SearchBar/SearchModal.js
Labels: bug

#934 [RC] Overall fix on all course pages
  content/rc/0001-introducao.md
  content/rc/0002-aplicacao.md
  content/rc/0003-transporte.md
  content/rc/0004-rede.md
  content/rc/0005-ligacao-dados.md
Labels: rc

#937 [Meta] Add @jjasferreira as RC contributor
  content/index.md
Labels: meta

#939 [Meta] Update contributors list
  content/index.md
Labels: meta

#942 [OC] Fix typos and improve clarity
  content/oc/0001-metricas-performance.md
  content/oc/0002-linguagem-computador.md
  content/oc/0003-papel-compilador.md
  content/oc/0004-memoria-caches.md
  content/oc/0005-memoria-virtual.md
Labels: oc

#943 Add flake.nix environment
  .gitignore
  flake.lock
  flake.nix
Labels: chore

#940 Add sidepanel theme settings
  gatsby-config.js
  package.json
  plugins/gatsby-plugin-use-dark-mode-custom/README.md
  plugins/gatsby-plugin-use-dark-mode-custom/gatsby-node.js
  plugins/gatsby-plugin-use-dark-mode-custom/gatsby-ssr.jsx
  plugins/gatsby-plugin-use-dark-mode-custom/package.json
  src/components/PageLayout.js
  src/components/SidePanel/SidePanel.css
  src/components/SidePanel/SidePanel.js
  src/components/SidePanel/index.js
  src/components/ThemeSettings.js
  src/components/ThemeSettings/DropdownSelect/DropdownOption.js
  src/components/ThemeSettings/DropdownSelect/DropdownSelect.css
  src/components/ThemeSettings/DropdownSelect/DropdownSelect.js
  src/components/ThemeSettings/Option.js
  src/components/ThemeSettings/ThemeSettings.css
  src/components/ThemeSettings/ThemeSettings.js
  src/components/ThemeSettings/index.js
  src/components/icons/Close.js
  src/components/icons/DarkModeOff.js
  src/components/icons/DarkModeOn.js
  src/components/icons/DarkModeSystem.js
  src/components/icons/DropdownArrow.js
  src/components/icons/TextAlignJustify.js
  src/components/icons/TextAlignLeft.js
  src/components/icons/Theme.js
  src/components/icons/WidthCompact.js
  src/components/icons/WidthFull.js
  src/hooks/theme-hooks.js
  src/styles/main.css
  src/styles/markdown.css
  yarn.lock
Labels: enhancement

#944 Add Gruvbox theme
  src/components/ThemeSettings/ThemeSettings.js
  src/hooks/theme-hooks.js
  src/styles/themes/gruvbox.css
Labels: enhancement
