Repository leic-pt/resumos-leic, pull requests merged in 2024-01, with the labels that each got.

#985 [RC] Fix typo on transport layer
  content/rc/0003-transporte.md
Labels: rc

#987 chore: upgrade dependencies
  flake.lock
  flake.nix
  package.json
  yarn.lock
Labels: chore

#988 feat: add automatic contributors list from GitHub
  content/index.md
  contributors.js
  gatsby-config.js
  package.json
  plugins/gatsby-source-github-contributors/gatsby-node.js
  plugins/gatsby-source-github-contributors/package.json
  src/components/Contributors.js
  src/components/HomePageLayout.js
  yarn.lock
Labels: enhancement, meta

#990 [RC] Fix DHCP Address Leasing
  content/rc/0004-rede.md
Labels: rc

#991 [RC] Add more information to Fast Recovery
  content/rc/0003-transporte.md
Labels: rc

#992 [Apre] Add link to Resumos do Calhau
  content/apre/index.md
Labels: apre

#993 [Apre] Fix typo
  content/apre/0010-connectionists.md
Labels: apre
