Repository leic-pt/resumos-leic, pull requests merged in 2024-03, with the labels that each got.

#1002 [SD] Add "Eleição de líder" section
  content/sd/0004-coordenacao-e-consenso.md
  content/sd/assets/0004-bully-example.png
  content/sd/assets/0004-ring-election-example.png
Labels: sd

#1003 [SD] Add "Replicação e tolerância a faltas" page
  content/sd/0005-replicacao-e-tolerancia-a-faltas.md
  content/sd/assets/0005-ABD-algorithm-example.svg
  content/sd/assets/0005-ABD-algorithm-intuiton.svg
  content/sd/assets/0005-ABD-algorithm-not-atomic-example.svg
  content/sd/assets/0005-operation-sorting-example.svg
  content/sd/assets/0005-replication-example.svg
  content/sd/assets/0005-safe-register-example.svg
  content/sd/assets/0005-serialization-example-1-sol.svg
  content/sd/assets/0005-serialization-example-1.svg
  content/sd/assets/0005-serialization-example-2.svg
  content/sd/assets/0005-serialization-example-3.svg
  content/sd/assets/0005-xu-liskov-put-example.svg
  content/sd/assets/0005-xu-liskov-read-example.svg
  content/sd/assets/0005-xu-liskov-take-example.png
Labels: sd

#1005 [SD] Overall improvements and cleanup
  content/sd/0002-apis-de-comunicacao.md
  content/sd/0003-tempo-e-sincronizacao.md
  content/sd/0004-coordenacao-e-consenso.md
  content/sd/assets/0004-central-server.png
  content/sd/assets/0004-ricart-and-agrawala.png
  content/sd/assets/0004-ring-based.png
  content/sd/assets/0004-ring-election-example.png
Labels: sd

#1006 [SD] Add "Coerência fraca" section
  content/sd/0005-replicacao-e-tolerancia-a-faltas.md
  content/sd/assets/0005-bayou-tentative-commited.png
  content/sd/assets/0005-cap-theorem.svg
  content/sd/assets/0005-lazy-replication-example-reads.png
  content/sd/assets/0005-lazy-replication-example-write.png
  content/sd/assets/0005-lazy-replication-interaction.png
  content/sd/assets/0005-lazy-replication.png
Labels: sd

#1007 fix(style): set edit page link width to fit its content
  src/styles/main.css
Labels: bug

#1009 fix: render mermaid diagrams client-side
  flake.nix
  gatsby-config.js
  package.json
  plugins/gatsby-remark-mermaid/index.js
  plugins/gatsby-remark-mermaid/package.json
  src/components/PageLayout.js
  src/hooks/useMermaid.js
  src/styles/main.css
  yarn.lock
Labels: bug

#1008 [SD] Add "Coerência forte" section
  content/sd/0004-coordenacao-e-consenso.md
  content/sd/0005-replicacao-e-tolerancia-a-faltas.md
  content/sd/assets/0005-collective-agreement.png
  content/sd/assets/0005-replication-primary-backup.svg
  content/sd/assets/0005-replication-state-machine.svg
  content/sd/assets/0005-skeen-maekawa-example-1.svg
  content/sd/assets/0005-skeen-maekawa-example-2.svg
  content/sd/assets/0005-skeen-maekawa-example-3.svg
  content/sd/assets/0005-skeen-maekawa-example-4.svg
  content/sd/assets/0005-skeen-maekawa-example-5.svg
  content/sd/assets/0005-skeen-maekawa-example-6.svg
  content/sd/assets/0005-view-synchronous-communication.png
Labels: sd

#1010 [SD] Add "Consenso" section
  content/sd/0004-coordenacao-e-consenso.md
  content/sd/assets/0005-floodset-consensus-example.svg
Labels: sd

#1011 fix: warning due to invalid crossorigin property
  src/components/PageLayout.js
Labels: bug

#1012 fix: accessibility-related warnings
  src/components/Navbar.js
  src/components/SidePanel/SidePanel.js
  src/components/ThemeSettings/DropdownSelect/DropdownSelect.js
  src/components/ThemeSettings/ThemeSettings.js
  src/hooks/theme-hooks.js
Labels: bug

#1013 chore: remove references to puppeteer
  .puppeteerrc.cjs
  README.md
Labels: chore

#1014 chore: upgrade dependencies
  yarn.lock
Labels: chore

#1015 [SD] Add "Consenso e Replicação" section
  content/sd/0005-replicacao-e-tolerancia-a-faltas.md
  content/sd/assets/0005-AD-consensus-individual.svg
  content/sd/assets/0005-AD-consensus-set.svg
  content/sd/assets/0005-primary-backup-imperfect-detector.svg
  content/sd/assets/0005-primary-backup-paxos.svg
Labels: sd

#1016 [SD] Add "Transações Distribuídas" page
  content/sd/0006-transacoes-distribuidas.md
  content/sd/assets/0006-deadlock-priorities.svg
  content/sd/assets/0006-distributed-transaction-coordinator.png
  content/sd/assets/0006-two-phase-commit.svg
  content/sd/assets/diagrams.excalidraw
Labels: sd

#1018 [SD] Add "Segurança e Criptografia" page
  content/sd/0007-seguranca-e-criptografia.md
  content/sd/assets/0007-assymetrical-key-intruder.svg
  content/sd/assets/0007-assymmetrical-key.svg
  content/sd/assets/0007-nonce-identity-confirmation.svg
  content/sd/assets/0007-nonce.svg
  content/sd/assets/0007-symmetrical-key.svg
  content/sd/assets/diagrams.excalidraw
Labels: sd

#1019 [SD] Add "Autenticação" section
  content/sd/0007-seguranca-e-criptografia.md
  content/sd/assets/0007-Kerberos.png
  content/sd/assets/0007-SSO-assymmetrical-keys.svg
  content/sd/assets/diagrams.excalidraw
Labels: sd

#1020 [SD] Update main page
  content/sd/index.md
Labels: sd
