Repository leic-pt/resumos-leic, pull requests merged in 2024-02, with the labels that each got.

#994 [Apre] Fix broken link to cheat sheet
  content/apre/cheatsheets/0001-cheatsheet-exame.md
Labels: apre

#995 [SD] Add Martin Kleppmann's lecture series to course resources
  content/sd/index.md
Labels: sd

#996 [SD] Add "APIs de Comunicação" page
  content/sd/0002-apis-de-comunicacao.md
  content/sd/assets/0002-rpc-implementation.png
  content/sd/assets/0002-rpc-programming.svg
  content/sd/assets/diagrams.excalidraw
Labels: sd

#997 feat(css): center Mermaid diagrams
  src/styles/main.css
Labels: enhancement

#998 [SD] Enhance "Tempo e Sincronização" page
  content/sd/0003-tempo-e-sincronizacao.md
Labels: sd

#999 [Meta] Fix email forwarading tutorial Notion link
  content/index.md
Labels: meta

#1000 [SD] Add "Salvaguarda distribuída" section
  content/sd/0003-tempo-e-sincronizacao.md
  content/sd/assets/0003-cut-types.svg
  content/sd/assets/0003-inconsistent-cut.svg
  content/sd/assets/0003-snapshot-exercise.svg
  content/sd/assets/0003-snapshot-vs-system-evolution.svg
  content/sd/assets/0003-snapshot-vs-system-vector-clocks.svg
  content/sd/assets/0003-snapshot-vs-system.svg
Labels: sd

#1001 [SD] Add "Exclusão mútua distribuída" section
  content/sd/0004-coordenacao-e-consenso.md
  content/sd/assets/0004-central-server.png
  content/sd/assets/0004-priority-based.svg
  content/sd/assets/0004-ricart-and-agrawala.png
  content/sd/assets/0004-ring-based.png
  content/sd/assets/diagrams.excalidraw
Labels: sd
