Repository leic-pt/resumos-leic, pull requests merged in 2024-11, with the labels that each got.

#1031 [ES] Improve "Testes e Testes de Unidade" page
  content/es/0002-unit-tests.md
Labels: es

#1025 chore: update meilisearch scraper and client
  .github/workflows/docs-scraper.config.json
  .github/workflows/gh-page-scraping.yml
  .meilisearch/README.md
  .meilisearch/docker-compose.yml
  gatsby-config.js
  package.json
  src/components/SearchBar/SearchBar.js
  src/components/SearchBar/SearchModal.js
  src/components/SearchBar/autocomplete.js
  yarn.lock
Labels: chore

#1034 [Ges] Fix example typesetting
  content/ges/0004-informacao-financeira.md
Labels: ges
