Repository leic-pt/resumos-leic, pull requests merged in 2025-05, with the labels that each got.

#1044 [CDI-III] Add "Eq. Diferenciais Lineares de 1a ordem" exercises sheet
  content/cdi-iii/exercicios/0003-fichas-2023-2024.md
Labels: cdi-iii

#1046 [CDI-I] Add link to Calculus Made Easy online book
  content/cdi-i/index.md
Labels: cdi-i

#1047 [AL] Add link to immersive linear algebra online book
  content/al/index.md
Labels: al

#1048 [CDI-III] Replace "x" with "t" in L.T integral equation
  content/cdi-iii/0006-transformada-laplace.md
Labels: cdi-iii
